{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />
	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}

		<!-- MAIN CONTENT -->
		<div class="principal-content" id="principal-content">
      <div id="map" style="height:600px" class="map"></div>
		</div>
    <script type="text/javascript">
    var iconFeature;
    $(document).ready(function() {
        var map = new ol.Map({
          target: 'map',
          layers: [
            new ol.layer.Tile({
              source: new ol.source.OSM()
            })
          ],
          view: new ol.View({
            center: ol.proj.fromLonLat([-1.8806247,39.0038623]),
            zoom: 16
          })
        });
    var features = [];
    var longitude = -1.87293;
    var latitude = 39.00558;
    //var iconPath = getIconPath(type);

    //create Feature... with coordinates
    iconFeature = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.transform([longitude, latitude], 'EPSG:4326','EPSG:3857'))
    });

    //create style for your feature...
    var iconStyle = [
      new ol.style.Style({
          image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
          anchor: [0.5, 64],
          anchorXUnits: 'fraction',
          anchorYUnits: 'pixels',
          opacity: 1,
          src: '{{ url('index') }}images/placeholder.png'
          }))
      }),
      new ol.style.Style({
          text: new ol.style.Text({
              text: "FURGÓN 1",
              font: "bold 14px Helvetica",
              offsetY: 25,
              backgroundFill: new ol.style.Fill({
                  color: '#fff'
              }),
              padding: [5,10,5,10],
              fill: new ol.style.Fill({
                  color: '#1081e0'
              })
          })
      })
    ];
    iconFeature.setStyle(iconStyle);
    features.push(iconFeature);
    var vectorSource = new ol.source.Vector({
        features: features      //add an array of features
        //,style: iconStyle     //to set the style for all your features...
    });

    var vectorLayer = new ol.layer.Vector({
        source: vectorSource
    });
    map.addLayer(vectorLayer);

      });

      //Para mover el marcador
      //iconFeature.setGeometry(new ol.geom.Point(ol.proj.transform([-1.87293, 37.00558], 'EPSG:4326','EPSG:3857')));
      //
      //
      </script>
		<!-- END MAIN CONTENT -->
	{{ include('@Globale/footer.html.twig') }}
	</div>
	{{ include('@Globale/chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('@Globale/chat_histories.html.twig') }}
</div>
	<!-- MODALS  -->

	<!-- END MODALS -->
{% block footer %}
	<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
	<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
   <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
	<!-- Imported scripts on this page -->
 	<script src="{{ url('index') }}js/datatables/datatables.js"></script>
	<script src="{{ url('index') }}js/select2/select2.min.js"></script>
	<script src="{{ url('index') }}js/moment.min.js"></script>
	<script src="{{ url('index') }}js/moment-es.js"></script>
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
