{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico">
	{{ include('@Globale/header.html.twig') }}

{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		<h2>{{ interfaceName }}</h2>
		</br>
		<!-- MAIN CONTENT -->
		<script>
					$(document).ready(function(){
						var load_wait=0;
						if((++load_wait)==1) $("#load-spinner").fadeIn();
						$.getJSON('{{ url('emailGet', {'id': id, 'folder': folder}) }}', function( data ){
							$.getJSON(data.urlRead, function( data ){});
							$("#mail-content").html(data.content);
							$("#mail-subject").html(data.subject);
							$("#mail-from").html('<img src="{{ url('index') }}'+data.imgFrom+'" class="img-circle" width="30" /><span></span>');
							$("#mail-from > span").text(data.from);
							$("#mail-date").text(moment(data.timestamp*1000).format('llll'));
							$("#email-modal-button-continue").attr("attr-action",data.urlDelete);
							$("#mail-attachments-count").text(data.attachments.length);
								$.each( data.attachments, function(key,val){
									url=$("#mail-attachments").attr('attr-url');
									url=url.replace('_____',data.id)+"?file="+encodeURI(val.filename)+"&encoding="+val.encoding+"&part="+val.partno;
									$("#mail-attachments").append('<li><a href="'+url+'" class="thumb"><img width="75px" src="'+val.icon+'" class="img-rounded" /></a>'+
										'<a href="'+url+'" class="name">'+val.filename+'</a></li>');
								});
						}).always(function() {
							if((--load_wait)==0) $("#load-spinner").fadeOut();
						});
						if((++load_wait)==1) $("#load-spinner").fadeIn();
						$.getJSON('{{ url('foldersList') }}', function( data ) {
							var account ="";
							$.each( data, function( keyAccount, valAccount ) {
									$("#list-folders").append('<li class="mail-account" id="email-account-'+keyAccount+'" data-toggle="collapse" aria-expanded="true" data-target="#email-account-folders-'+keyAccount+'"><div class="mail-account-title">'+valAccount.name+'</div></li><li class="collapse in" id="email-account-folders-'+keyAccount+'"></li>');
									 $.each( valAccount.folders, function( key, val ) {
										  $('#email-account-folders-'+keyAccount).append('<li attr-name="'+val.name+'" attr-id="'+val.id+'" attr-url="{{ url('emailsFolderList', {'folder': '_____'}) }}" '+((val.default==true)? 'class="active"' : '')+'><a href="{{url('email')}}?folder='+val.id+'"><span class="badge badge-gray pull-right">'+val.unseen+'</span>'+val.name+'</a></li>');
									 });
							 });
								$('.mail-account').collapse('hide');
						}).always(function() {
							if((--load_wait)==0) $("#load-spinner").fadeOut();
						});

						$('body').on('click', "[id^='folder-email-list-']", function() {
		          url=$(this).attr('attr-url');
		          url=url.replace('_____',$(this).attr('attr-name'));
		          $("[id^='folder-email-list-']").removeClass('active');
		          $(this).addClass('active');
		        });

						//print
						$('body').on('click', "#mail-print", function() {
							window.print();
						});

						//delete
						$('body').on('click', "#mail-delete", function() {
							$('#email-modal-confirm').modal('show', {backdrop: 'static'});
						});

						$('body').on('click', "#email-modal-button-continue", function() {
							$('#email-modal-confirm').modal('hide');
							if((++load_wait)==1) $("#load-spinner").fadeIn();
							var action= $(this).attr('attr-action');
							$.getJSON(action, function( data ) {
								if((--load_wait)==0) $("#load-spinner").fadeOut();
								toastr.success("Correo enviado a la papelera correctamente", "Confirmación", confirmation);
								window.location.href = '{{url('email')}}';
							}).always(function() {

								if((--load_wait)==0) $("#load-spinner").fadeOut();
							});
						});



					});


		</script>
		<div class="mail-env">
					<!-- compose new email button -->
					<div class="mail-sidebar-row visible-xs">
						<a href="{{url('emailNew')}}" class="btn btn-success btn-icon btn-block">
							Redactar correo
							<i class="entypo-pencil"></i>
						</a>
					</div>

					<!-- Mail Body -->
					<div class="mail-body">

						<div class="mail-header">
							<!-- title -->
							<div id="mail-subject" class="mail-title">
							</div>

							<!-- links -->
							<div class="mail-links">

								<a href="#" id="mail-print" class="btn btn-default">
									<i class="entypo-print"></i>
								</a>

								<a href="#" id="mail-delete" class="btn btn-default">
									<i class="entypo-trash"></i>
								</a>

								<a href="{{ url('emailReply', {'folder': folder, 'id': id}) }}" class="btn btn-primary btn-icon">
									Responder
									<i class="entypo-reply"></i>
								</a>
								<a href="{{ url('emailForward', {'folder': folder, 'id': id}) }}" class="btn btn-success btn-icon">
									Reenviar
									<i class="entypo-forward"></i>
								</a>
							</div>
						</div>

						<div class="mail-info">

							<div class="mail-sender dropdown">

								<a id="mail-from" href="#" class="print-area dropdown-toggle" data-toggle="dropdown">

								</a>

								<ul class="dropdown-menu dropdown-red">

									<li>
										<a href="#">
											<i class="entypo-user"></i>
											Add to Contacts
										</a>
									</li>
									<li>
										<a href="#">
											<i class="entypo-menu"></i>
											Show other messages
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
											<i class="entypo-star"></i>
											Star this message
										</a>
									</li>
									<li>
										<a href="#">
											<i class="entypo-reply"></i>
											Responder
										</a>
									</li>
									<li>
										<a href="#">
											<i class="entypo-right"></i>
											Reenviar
										</a>
									</li>
								</ul>
							</div>
							<div id="mail-date" class="mail-date print-area"></div>
						</div>
						<div id="mail-content" class="mail-text print-area">
						</div>
						<div class="mail-attachments">
							<h4>
								<i class="entypo-attach"></i> Ficheros adjuntos <span id="mail-attachments-count"></span>
							</h4>
							<ul id="mail-attachments" attr-url="{{url('emailGetAttachment',{'account': account, 'folder':folder, 'id': id})}}">
							</ul>
						</div>
						<div class="mail-reply">
							<div class="fake-form">
								<div>
									<a href="{{ url('emailReply', {'folder': folder, 'id': id}) }}">Responder</a> or <a href="{{ url('emailForward', {'folder': folder,'id': id}) }}">Reenviar</a> este mensaje...
								</div>
							</div>
						</div>
					</div>

					<!-- Sidebar -->
					<div class="mail-sidebar">

						<!-- compose new email button -->
						<div class="mail-sidebar-row hidden-xs">
							<a href="{{url('emailNew')}}" class="btn btn-success btn-icon btn-block">
								Redactar correo
								<i class="entypo-pencil"></i>
							</a>
						</div>

						<!-- menu -->
						<ul id="list-folders" class="mail-menu">
							<!-- FOLDERS -->

							<!-- END FOLDERS -->
						</ul>

						<div class="mail-distancer"></div>

						<h4>Etiquetas</h4>

						<!-- menu -->
						<ul class="mail-menu">
							<!-- TAGS -->

							<!-- END TAGS -->
						</ul>

					</div>

				</div>

		<!-- END MAIN CONTENT -->
		{{ include('@Globale/footer.html.twig') }}
	</div>
	{{ include('@Globale/chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('@Globale/chat_histories.html.twig') }}
</div>
	<!-- MODALS  -->
	<div class="modal fade" id="email-modal-confirm" data-backdrop="static" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">Confirmación</h4>
				</div>
				<div id="email-modal-body" class="modal-body">
					¿Seguro que desea borrar este mensaje?
				</div>
				<div id="email-modal-footer" class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button attr-action="" id="email-modal-button-continue" type="button" class="btn btn-red">Continuar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODALS -->
{% block footer %}

	<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
	<!-- Imported scripts on this page -->
 	<script src="{{ url('index') }}js/datatables/datatables.js"></script>
	<script src="{{ url('index') }}js/select2/select2.min.js"></script>
	<script src="{{ url('index') }}js/moment.min.js"></script>
	<script src="{{ url('index') }}js/moment-es.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
