{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico">
	{{ include('@Globale/header.html.twig') }}

{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		<h2>{{ interfaceName }}</h2>
		</br>
		<!-- MAIN CONTENT -->
		<script>
					$(document).ready(function(){
						var load_wait=0;

						function getEmails(url, params){
							if((++load_wait)==1) $("#load-spinner").fadeIn();
							$("#list-messages").html('');
							$.getJSON(url+params, function( data ) {
								if ('messages' in data){
									$("[id^='mail-pagination-']").html('<strong>'+(data.start)+'-'+(((data.start+data.limit)<=data.recordsFiltered)?(data.start+data.limit-1):data.recordsFiltered)+'</strong> <span>de '+data.recordsFiltered+'</span>');
									((data.start<data.limit)?'disabled':'')
									$("[id^='mail-pagination-']").append('<div class="btn-group"><a id="mail-pagination-button-previous" attr-url="'+url+'" attr-limit="'+data.limit+'" attr-start="'+(data.start-data.limit)+'" href="javascript:void(0);" class="'+((data.start<=data.limit)?'disabled ':'')+'btn btn-sm btn-white"><i class="entypo-left-open"></i></a>'+
																											 '<a id="mail-pagination-button-next" href="javascript:void(0);" attr-url="'+url+'" attr-limit="'+data.limit+'" attr-start="'+(data.start+data.limit)+'" class="'+(((data.recordsFiltered-data.start)<=data.limit-1)?'disabled ':'')+'btn btn-sm btn-white"><i class="entypo-right-open"></i></a></div>')
									$("#mail-folder-name").text(data.folderName+' ('+data.unseen+')');
									$("#email-modal-button-continue").attr("attr-action",data.urlEmpty);
									$("#email-modal-button-continue").attr("attr-success",data.url);
									$("#email-modal-delete-button-continue").attr("attr-success",data.url);
									var links = "<div class='btn-group'>";
									if(data.empty) $("#mail-links").html(links+"<a href='javascript:void(0);' id='email-empty' class='btn btn-primary btn-icon'>Vaciar<i class='entypo-cup'></i></a>"+"</div>");
										else $("#mail-links").html(links+"<a href='javascript:void(0);' id='email-delete' class='btn btn-danger btn-icon'>Borrar<i class='entypo-trash'></i></a>"+"</div>");
									$.each( data.messages, function( keyAccount, valAccount ) {
										var message='';
										message+='<tr class="'+((valAccount.seen)?'':'unread')+'"><td style="width:5%;><div class="checkbox checkbox-replace"><input attr-delete="'+valAccount.urlDelete+'" id="email-selection-'+valAccount.id+'" attr-id="'+valAccount.id+'" type="checkbox" /></div></td>';
										message+='<td class="col-name" style="width:1%;"><a attr-url-flagged="'+valAccount.urlFlagged+'" attr-url-unflagged="'+valAccount.urlUnFlagged+'" id="flagged-star-'+valAccount.id+'" href="javascript:void(0);" class="star'+((valAccount.flagged)?' stared':'')+'"><i class="entypo-star"></i></a>';
										message+='<td class="col-name" style="width:1%;"><a href="javascript:void(0);">'+((valAccount.attachments>0)?'<i class="entypo-attach"></i>':'')+'</a>';
										message+='<td style="width:20%;"><a href="'+valAccount.url+'" class="col-name">'+valAccount.from+'</a></td>';
										message+='<td class="col-subject" style="width:40%;"><a href="'+valAccount.url+'">'+valAccount.subject+'</a></td>';
										message+='<td class="col-options" style="width:23%;"></td><td class="col-time">'+moment(valAccount.date.date).from()+'</td></tr>';
										$("#list-messages").append(message);
									});
								}
							}).always(function() {
								if((--load_wait)==0) $("#load-spinner").fadeOut();
							});
						}
						if((++load_wait)==1) $("#load-spinner").fadeIn();
						$.getJSON('{{ url('foldersList') }}', function( data ) {
							var account ="";
							$.each( data, function( keyAccount, valAccount ) {

									$("#list-folders").append('<li class="mail-account" id="email-account-'+keyAccount+'" data-toggle="collapse" aria-expanded="true" data-target="#email-account-folders-'+keyAccount+'"><div class="mail-account-title">'+valAccount.name+'</div></li><li class="collapse in" id="email-account-folders-'+keyAccount+'"></li>');
									 $.each( valAccount.folders, function( key, val ) {
										 $('#email-account-folders-'+keyAccount).append('<li attr-name="'+val.name+'" attr-id="'+val.id+'" attr-url="{{ url('emailsFolderList', {'folder': '_____'}) }}" id="folder-email-list-'+valAccount.name+'-'+val.id+'" '+((val.default==true)? 'class="active"' : '')+'><a href="javascript:void(0);"><span class="badge badge-gray pull-right">'+val.unseen+'</span>'+val.name+'</a></li>');
									 });
							 });
								$('.mail-account').collapse('hide');
						}).always(function() {
							if((--load_wait)==0) $("#load-spinner").fadeOut();
						});


						$('body').on('click', "[id^='folder-email-list-']", function() {
							url=$(this).attr('attr-url');
							url=url.replace('_____',$(this).attr('attr-id'));
							$("[id^='folder-email-list-']").removeClass('active');
							$(this).addClass('active');
							getEmails(url,'');
						});
						$('body').on('click', "[id^='mail-pagination-button-']", function() {
							url=$(this).attr('attr-url');
							getEmails(url,'?limit='+$(this).attr('attr-limit')+'&start='+$(this).attr('attr-start'));
						});
						$('body').on('click', "[id^='flagged-star-']", function() {
							if($(this).hasClass('stared'))	url=$(this).attr('attr-url-unflagged');
								else url=$(this).attr('attr-url-flagged');
							element=$(this);
							$.getJSON(url, function( data ){
								if(element.hasClass('stared')) element.removeClass('stared');
									else element.addClass('stared');
							});
						});
						//delete
						$('body').on('click', "#email-delete", function() {
							var selected = [];
							$('input:checkbox[id^="email-selection-"]:checked').each(function() {
	    					selected.push($(this).attr('attr-id'));
							})
							$('#email-modal-delete-button-continue').attr("attr-id", selected);
							$('#email-modal-delete-confirm').modal('show', {backdrop: 'static'});
						});

						$('body').on('click', "#email-modal-delete-button-continue", function() {
							$('#email-modal-delete-confirm').modal('hide');
							var success=$(this).attr('attr-success');
							$.each( $(this).attr("attr-id").split(','), function( key, id ) {
									if((++load_wait)==1) $("#load-spinner").fadeIn();
									$.getJSON($("#email-selection-"+id).attr("attr-delete"), function( data ) {
									}).always(function() {
										if((--load_wait)==0){
											$("#load-spinner").fadeOut();
											getEmails(success, '');
										}
									});
							 });
						});

						//empty
						$('body').on('click', "#email-empty", function() {
							$('#email-modal-confirm').modal('show', {backdrop: 'static'});
						});

						$('body').on('click', "#email-modal-button-continue", function() {
							$('#email-modal-confirm').modal('hide');
							if((++load_wait)==1) $("#load-spinner").fadeIn();
							var action=$(this).attr('attr-action');
							var success=$(this).attr('attr-success');
							$.getJSON(action, function( data ) {
								if((--load_wait)==0) $("#load-spinner").fadeOut();
								toastr.success("Papelera vaciada correctamente", "Confirmación", confirmation);
								getEmails(success, '');
							}).always(function() {
								if((--load_wait)==0) $("#load-spinner").fadeOut();
							});
						});

						//search
						$( "#mail-search" ).on( "submit", function( event ) {
							event.preventDefault();
							getEmails('{{ url('emailsFolderList', {'folder': folder}) }}','?query='+$("#mail-search-query").val());
						});

						if("{{ q }}"!=""){
							getEmails('{{ url('emailsFolderList', {'folder': folder}) }}','?query='+$("#mail-search-query").val());
						}else getEmails('{{ url('emailsFolderList', {'folder': folder}) }}','');
					});


		</script>
		<div class="mail-env">

					<!-- compose new email button -->
					<div class="mail-sidebar-row visible-xs">
						<a href="{{url('emailNew')}}" class="btn btn-success btn-icon btn-block">
							Redactar correo
							<i class="entypo-pencil"></i>
						</a>
					</div>


					<!-- Mail Body -->
					<div class="mail-body">

						<div class="mail-header">
							<!-- title -->
							<h3 id="mail-folder-name" class="mail-title">
								Inbox
								<span id="mail-unreaded-count" class="count">(6)</span>
							</h3>

							<!-- search -->
							<form id="mail-search" class="mail-search">
								<div class="input-group">
									<input type="text" class="form-control" id="mail-search-query" name="s" placeholder="Buscar" value="{{ q }}"/>
									<div class="input-group-addon">
										<i class="entypo-search"></i>
									</div>
									<div id="mail-links" style="float: right;" class="mail-links">
									</div>
								</div>
							</form>
						</div>


						<!-- mail table -->
						<table class="table mail-table">
							<!-- mail table header -->
							<thead>
								<tr>
									<th width="5%">
										<div class="checkbox checkbox-replace">
											<input type="checkbox" />
										</div>
									</th>
									<th colspan="6">

										<div class="mail-select-options">Marcar como leido</div>

										<div id="mail-pagination-top"  class="mail-pagination" colspan="2">
											<strong>1-30</strong> <span>of 789</span>

											<div class="btn-group">
												<a href="#" class="btn btn-sm btn-white"><i class="entypo-left-open"></i></a>
												<a href="#" class="btn btn-sm btn-white"><i class="entypo-right-open"></i></a>
											</div>
										</div>
									</th>
								</tr>
							</thead>

							<!-- email list -->
							<tbody id="list-messages">
								<!-- MESSAGES -->

								<!-- END MESSAGES -->
							</tbody>

							<!-- mail table footer -->
							<tfoot>
								<tr>
									<th width="5%">
										<div class="checkbox checkbox-replace">
											<input type="checkbox" />
										</div>
									</th>
									<th colspan="6">

										<div id="mail-pagination-bottom" class="mail-pagination" colspan="2">
											<strong>1-30</strong> <span>of 789</span>

											<div class="btn-group">
												<a href="#" class="btn btn-sm btn-white"><i class="entypo-left-open"></i></a>
												<a href="#" class="btn btn-sm btn-white"><i class="entypo-right-open"></i></a>
											</div>
										</div>
									</th>
								</tr>
							</tfoot>
						</table>
					</div>

					<!-- Sidebar -->
					<div class="mail-sidebar">

						<!-- compose new email button -->
						<div class="mail-sidebar-row hidden-xs">
							<a href="{{url('emailNew')}}" class="btn btn-success btn-icon btn-block">
								Redactar correo
								<i class="entypo-pencil"></i>
							</a>
						</div>

						<!-- menu -->
						<ul id="list-folders" class="mail-menu">
							<!-- FOLDERS -->

							<!-- END FOLDERS -->
						</ul>

						<div class="mail-distancer"></div>

						<h4>Etiquetas</h4>

						<!-- menu -->
						<ul class="mail-menu">
							<!-- TAGS -->

							<!-- END TAGS -->
						</ul>

					</div>

				</div>

		<!-- END MAIN CONTENT -->
		{{ include('@Globale/footer.html.twig') }}
	</div>
	{{ include('@Globale/chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('@Globale/chat_histories.html.twig') }}
</div>
	<!-- MODALS  -->
	<div class="modal fade" id="email-modal-confirm" data-backdrop="static" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">Confirmación</h4>
				</div>
				<div id="email-modal-body" class="modal-body">
					¿Seguro que desea vaciar la papelera? Esta operación no se podrá deshacer.
				</div>
				<div id="email-modal-footer" class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button attr-action="" id="email-modal-button-continue" type="button" class="btn btn-red">Continuar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="email-modal-delete-confirm" data-backdrop="static" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">Confirmación</h4>
				</div>
				<div id="email-modal-body" class="modal-body">
					¿Seguro que desea mover a la papelera los emails seleccionados?.
				</div>
				<div id="email-modal-footer" class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button attr-id="" attr-action="" id="email-modal-delete-button-continue" type="button" class="btn btn-red">Continuar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODALS -->
{% block footer %}
	<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
	<!-- Imported scripts on this page -->
 	<script src="{{ url('index') }}js/datatables/datatables.js"></script>
	<script src="{{ url('index') }}js/select2/select2.min.js"></script>
	<script src="{{ url('index') }}js/moment.min.js"></script>
	<script src="{{ url('index') }}js/moment-es.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
