<div class="panel panel-primary panel-shadow" id="destination-data" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body">
    <div class="row">
      {% if buyorder.store!=null %}
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-store">Almacén destino:</label>
              <select type="text" id="buyorder-form-store" class="form-control select2" required>
                {% for option in stores %}
                  <option value="{{ option.id }}" {% if option.id==buyorder.store.id %} selected{% endif %}>{{ option.text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
      {% else %}
      <div class="col-md-2">
        <div class="form-group">
          <label for="buyorder-form-store">Almacén destino:</label>
          <select type="text" id="buyorder-form-store" class="form-control select2" required>
            {% for option in stores %}
              <option value="{{ option.id }}" {% if option.id==1 %} selected{% endif %}>{{ option.text }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}
      <div class="col-md-4" id="searching-customer" {% if buyorder.customer==null or id==0 %}style="display:none;"{% endif %}>
        <label for="destination-form-address">Código de Cliente:</label>
        <div class="input-group">
          <input type="text" readonly id="destination-form-customercode" {% if buyorder.customer!=null %} value="{{ buyorder.customer.code }}" {% endif %} class="form-control" placeholder="Selecciona cliente..." data-toggle="modal" data-target="#customer-search-modal-form">
          <div class="input-group-btn">
            <button type="button" id="destination-form-customercode" class="btn btn-white" style="height: 31px;" data-toggle="modal" data-target="#customer-search-modal-form">
              <i class="fa fa-search"></i> </button>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <label for="destination-form-name">Nombre:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-name" value="{{ buyorder.destinationname }}" class="form-control" placeholder="Nombre">
          </div>
        </div>
        <div class="col-md-4">
          <label for="destination-form-address">Dirección:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-address" value="{{ buyorder.destinationaddress }}"   class="form-control" placeholder="Dirección destino">
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col-md-2">
          <label for="destination-form-phone">Teléfono:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-phone" value="{{ buyorder.destinationphone }}"  class="form-control" placeholder="Teléfono destino">
          </div>
        </div>
        <div class="col-md-2">
          <label for="destination-form-email">Email:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-email" value="{{ buyorder.destinationemail }}"  class="form-control" placeholder="Email destino">
          </div>
        </div>
        <div class="col-md-2">
          <label for="destination-form-postcode">Código postal:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-postcode" value="{{ buyorder.destinationpostcode }}"  class="form-control" placeholder="Código postal destino">
          </div>
        </div>
        <div class="col-md-2">
          <label for="destination-form-city">Ciudad:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-city" value="{{ buyorder.destinationcity }}" class="form-control" placeholder="Ciudad destino">
          </div>
        </div>
        {% if buyorder.destinationstate!=null %}
        <div class="col-md-2">
          <label for="destination-form-state">Provincia:</label>
          <div class="form-group">
            <select type="text" id="destination-form-state" class="form-control select2" required>
              {% for option in destinationstates %}
                <option value="{{ option.id }}" {% if option.id==buyorder.destinationstate.id %} selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% else %}
        <div class="col-md-2">
          <label for="destination-form-state">Provincia:</label>
          <div class="form-group">
            <select type="text" id="destination-form-state" class="form-control select2" required>
              {% for option in destinationstates %}
                <option value="{{ option.id }}" {% if option.id=="3" %} selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
        {% if buyorder.destinationcountry!=null %}
        <div class="col-md-2">
          <label for="destination-form-country">País:</label>
          <div class="form-group">
            <select type="text" id="destination-form-country" class="form-control select2" required>
              {% for option in destinationcountries %}
                <option value="{{ option.id }}" {% if option.id==buyorder.destinationcountry.id %} selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% else %}
        <div class="col-md-2">
          <label for="destination-form-country">País:</label>
          <div class="form-group">
            <select type="text" id="destination-form-country" class="form-control select2" required>
              {% for option in destinationcountries %}
                <option value="{{ option.id }}"  {% if option.id=="64" %} selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
<script>
    $(document).ready(function() {

      $('body').on('change', "#buyorder-form-store", function(e) {
        //Almacén de Envíos Directos
        if($("#buyorder-form-store").val()=="6"){
           $("#destination-data").css("display","block");
           $("#destination-form-name").val('');
           $("#destination-form-address").val('');
           $("#destination-form-city").val('');
           $("#destination-form-postcode").val('');
           $("#destination-form-state").val('');
           $("#destination-form-country").val('');
           $("#destination-form-phone").val('');
            $("#destination-form-email").val('');
            $("#searching-customer").css("display","block");
         }
        else{
          setStoreInfo($(this).val());
            $("#searching-customer").css("display","none");
        //  $("#destination-data").css("display","none");

        }


      });
    });
  </script>
