<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body">
  <div class="row">
    <div class="col-md-2" id="searching-supplier">
      <label for="supplier-form-code">Código de Proveedor:</label>
      <div class="input-group">
        <input type="text" readonly id="supplier-form-code" {% if buyorder.supplier!=null %} value="{{ buyorder.supplier.code }}" disabled {% endif %}  class="form-control" placeholder="Selecciona proveedor..." data-toggle="modal" data-target="#supplier-search-modal-form">
        <div class="input-group-btn">
          <button type="button" id="supplier-form-code" class="btn btn-white" style="height: 31px;" data-toggle="modal" data-target="#supplier-search-modal-form">
            <i class="fa fa-search"></i> </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="supplier-form-name">Nombre del proveedor:</label>
        <div class="form-group">
          <span id="supplier-form-view" class="select2-selection__view_tickets" {% if buyorder.supplier!=null %} attr-id="{{ buyorder.supplier.id }}" {% else %} style="display:none;" {% endif %} attr-url="{{ url('formSupplier',{'id':'_____'}) }}"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>&nbsp;Ver Ficha</span></span>
          <input type="text" readonly id="supplier-form-name" {% if buyorder.suppliername!=null %} value="{{ buyorder.suppliername }}"  {% endif %} class="form-control" placeholder="Nombre del proveedor">
        </div>
      </div>
      <div class="col-md-2">
        <label for="supplier-form-email">Email del proveedor:</label>
        <div class="form-group">
          <input type="text"  readonly id="supplier-form-email" {% if buyorder.email!=null %} value="{{ buyorder.email }}"  {% endif %} class="form-control" placeholder="Email del proveedor">
        </div>
      </div>
      <div class="col-md-2">
        <label for="supplier-form-phone">Teléfono del proveedor:</label>
        <div class="form-group">
          <input type="text" readonly id="supplier-form-phone" {% if buyorder.phone!=null %} value="{{ buyorder.phone }}"  {% endif %} class="form-control" placeholder="Teléfono del proveedor">
        </div>
      </div>
      <div class="col-md-2">
        <label for="supplier-form-paymentmethod">Método de pago:</label>
        <div class="form-group">
          <input type="text" readonly id="supplier-form-paymentmethod" {% if buyorder.paymentmethod!=null %} value="{{ buyorder.paymentmethod }}"  {% endif %} class="form-control" placeholder="Método de pago">
        </div>
      </div>
  </div>
  <div class="row">
    {% if buyorder.store!=null %}
        <div class="col-md-3">
          <div class="form-group">
            <label for="buyorder-form-store">Almacén</label>
            <select type="text" id="buyorder-form-store" class="form-control select2" required>
              {% for option in stores %}
                <option value="{{ option.id }}" {% if option.id==buyorder.store.id %} selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
    {% else %}
    <div class="col-md-2">
      <div class="form-group">
        <label for="buyorder-form-store">Almacén</label>
        <select type="text" id="buyorder-form-store" class="form-control select2" required>
          {% for option in stores %}
            <option value="{{ option.id }}" {% if option.id==1 %} selected{% endif %}>{{ option.text }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}
    <div class="col-md-2">
      <label for="buyorder-form-shippingcharge">Portes:</label>
      <div class="form-group">
        <input type="text"  id="buyorder-form-shippingcharge" disabled {% if buyorder.shippingcharge!=null %}{% if buyorder.shippingcharge=="1" %} value="PAGADOS" {% else %} value="DEBIDOS"{% endif %} {% endif %} class="form-control" placeholder="Portes...">
      </div>
    </div>
    <div class="col-md-1">
      <label for="buyorder-form-minorder">Importe mínimo:</label>
      <div class="form-group">
        <input type="text"  id="buyorder-form-minorder" {% if buyorder.minorder!=null %} value="{{ buyorder.minorder }}" {% endif %} class="form-control">
      </div>
    </div>
    <div class="col-md-1">
      <label for="buyorder-form-freeshipping">Portes desde:</label>
      <div class="form-group">
        <input type="text"  id="buyorder-form-freeshipping" {% if buyorder.freeshipping!=null %} value="{{ buyorder.freeshipping }}" {% endif %} class="form-control">
      </div>
    </div>
    <div class="col-md-1">
      <label for="buyorder-form-additionalcost">Gastos extra:</label>
      <div class="form-group">
        <input type="text"  id="buyorder-form-additionalcost" {% if buyorder.additionalcost!=null %} value="{{ buyorder.additionalcost }}" {% endif %} class="form-control">
      </div>
    </div>
    <div class="col-md-1">
      <label for="buyorder-form-weight">Peso:</label>
      <div class="form-group">
        <input type="text"  id="buyorder-form-weight" {% if buyorder.weight!=null %} value="{{ buyorder.weight }}" {% endif %} class="form-control">
      </div>
    </div>
    <div class="col-md-1">
      <label for="buyorder-form-priority">Urgente:</label>
      <div class="form-group">
        <input type="checkbox"  id="buyorder-form-priority" {% if buyorder.priority!=null %}{% if buyorder.priority==1 %} checked {% endif %}{% endif %} class="form-check-input icheck" placeholder="Urgente...">
      </div>
    </div>
    <div class="col-md-1">
      <label for="buyorder-form-readed">Leído:</label>
      <div class="form-group">
        <input type="checkbox"  id="buyorder-form-readed" {% if buyorder.readed!=null %}{% if buyorder.readed==1 %} checked {% endif %}{% endif %} class="form-check-input icheck" placeholder="Leído...">
      </div>
    </div>
  </div>
  <input type="hidden" id="buyorder-form-estimateddelivery-number">
</div>
</div>


<script>
  $('body').on('click', "#supplier-form-view", function(e){
    var id=$(this).attr("attr-id");
    if(id!=0 && id!=""){
    url=$(this).attr("attr-url");
    url=url.replace('_____',$(this).attr("attr-id"));
    var win = window.open(url, '_blank');
    win.focus();
    }
});

  $(document).ready(function() {

    $('body').on('change', "#buyorder-form-store", function(e) {

      if($("#buyorder-form-store").val()=="6") $("#destination-data").css("display","block");
      else{
        $("#destination-data").css("display","none");

      }
    });
  });
</script>
