{# Modal busqueda de proveedor  #}
<div class="modal fade" tabindex="-1" id="supplier-search-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);display:inline-block;">
        <div class="modal-header">
          <h4 class="modal-title">{{ ('Search')|trans }}&nbsp;{{ ('supplier')|trans }}</h4>
        </div>
        <div id="supplier-search-modal-form-body" style="height: 520px; padding: 0px 10px;">
          {% set listConstructor = supplierslist %}
          {% set listOrigin = "" %}
          {% set hidePageLength = true %}
          {% set hideValidation = true %}
          {# for know if list.html is invoked directly from controller and we need to make modals inside list#}
          {{ include('@Globale/list.html.twig') }}
        </div>
    </div>
  </div>
</div>
{# Error al cambiar el proveedor  #}
<div class="modal fade" tabindex="-1" id="supplier-search-error-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);display:inline-block;">
        <div class="modal-header">
          <h4 class="modal-title">Proveedor no compatible</h4>
        </div>
        <div id="supplier-search_error-modal-form-body" style="height: 400px; padding: 0px 10px; overflow-y:scroll;">
        </div>
    </div>
  </div>
</div>

<script>
  {# Busqueda de proveedores #}
  function SupplierSearch(fields, searchFields){
    if($("#supplier-form-code").val()!=""){
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
         url: '{{ url('genericsearch',{'module':'ERP', 'name':'Suppliers', 'field':'code'}) }}/'+$("#supplier-form-code").val(),
         type: 'POST',
         data: JSON.stringify(searchFields),
         success:  function( data ) {
           if((--load_wait)==0) $("#load-spinner").fadeOut();
           if(data.result){
             var i=0;
             Object.entries(data.data).forEach(function(element) {
               $("#"+fields[i]).val(element[1]);
               i++;
             });
           } else {
             clearFields(fields);
             toastr.error("No se encontro el proveedor introducido", "Confirmación", confirmation);
           }
         }
       });
    }else clearFields(fields);
  }

  {# Estimar fecha de entrega en función del proveedor #}
  function setEstimatedDate(){
      var estimated=parseInt($("#buyorder-form-estimateddelivery-number").val());
      var res = new Date();
      res.setDate(res.getDate() + estimated);
      //si la fecha de entrega estimada cae en fin de semana, se pasa al lunes siguiente
      if(res.getDay()==6) res.setDate(res.getDate() + 2);
      else if(res.getDay()==7) res.setDate(res.getDate() + 1);

      var day;
      //si el día es menor que 10, añadimos un 0 delante para evitar posibles fallos
      if(res.getDate()<10) day= "0"+res.getDate();
      else day= res.getDate();
      var datetoday = day+'/'+(res.getMonth()+1)+'/'+res.getFullYear();
      $("#buyorder-form-estimateddelivery").val(datetoday);
  }

  {# Obtener información del almacén #}
  function setStoreInfo(id){
    if((++load_wait)==1) $("#load-spinner").fadeIn();
    $.ajax({
       type: "GET",
       dataType: "json",
       url: "/api/ERP/stores/getstoreinfo/"+id
     }).done(function(elements, textStatus, jqXHR) {
       if((--load_wait)==0) $("#load-spinner").fadeOut();
        if (elements!=null){
          $("#destination-form-id").val('');
          $("#destination-form-name").val(elements.infostore.name);
          $("#destination-form-address").val(elements.infostore.address);
          $("#destination-form-phone").val(elements.infostore.phone);
          $("#destination-form-email").val(elements.infostore.email);
          $("#destination-form-city").val(elements.infostore.city);
          $("#destination-form-postcode").val(elements.infostore.postcode);
          $("#destination-form-state").val(elements.infostore.stateid);
          $("#destination-form-state").trigger('change');
          $("#destination-form-country").val(elements.infostore.countryid);
          $("#destination-form-country").trigger('change');
          $("#tab-head-send").css("display","block");
        }
      });
  }

  {# Obtener contenido de una URL #}
  function httpGet(xmlhttp, theUrl) {
      xmlhttp.open("GET", theUrl, false);
      xmlhttp.send();
      return xmlhttp.response;
  }

  {# Cuando se termine de cargar la página #}
  $(document).ready(function() {

    {# Seleccionar proveedor #}
    $('body').on('click', "[id^='listSuppliersBuyOrders-field-button-select-']", function(e) {
      var supplier_id = $(this).attr('attr-id');
      {# Comprobar que los productos del listado también los suministra el nuevo proveedor sino error #}
      var sheet   = document.getElementById('buyorders').jexcel[0];
      var data    = sheet.getData();
      var columns = sheet.options.columns;
      var lines_error   = '';
      if (data.length > 0 && columns.length>0){
        if((++load_wait)==1) $("#load-spinner").fadeIn();
        var xmlhttp;
        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                return xmlhttp.responseText;
            }
        }
        for(var i=0; i<data.length; i++){
          var product_id      = data[i][sheet.getColumnKey('product_id')].split('~')[0];
          var variant_id      = data[i][sheet.getColumnKey('variant_id')].split('~')[0];
          var quantity        = data[i][sheet.getColumnKey('quantity')];
          var store_id        = data[i][sheet.getColumnKey('store_id')].split('~')[0];
          if (product_id!=null && product_id!='' && product_id!='0'  && product_id!=0 &&
              quantity!=null && quantity!='' && quantity!='0'  && quantity!=0){
              // Comprobar que hay precio para este producto con el nuevo proveedor
              elements = httpGet(xmlhttp, "/api/getWSProductVariantPriceStock/"+supplier_id+"/"+product_id+"/"+variant_id+"/"+quantity+"/"+store_id);
              elements = JSON.parse(elements);
              if (elements.length>0 && parseFloat(elements[0]['pvp'])>0){
                // Ok
              }else{
                lines_error += "Línea "+(i+1)+": Producto o variante no compatible con el proveedor seleccionado. <br/>";
              }
          }
        }
        $("#supplier-search-modal-form").modal('toggle');
        if (lines_error==''){
          $("#supplier-form-id").val(supplier_id);
          $("#supplier-form-id").trigger('change');
          // Se actualizan los precios a los del nuevo proveedor
          for(var i=0; i<data.length; i++){
            var product_id      = data[i][sheet.getColumnKey('product_id')];
            var quantity        = data[i][sheet.getColumnKey('quantity')];
            if (product_id!=null && product_id!='' && product_id!='0'  && product_id!=0 &&
                quantity!=null && quantity!='' && quantity!='0'  && quantity!=0){
                sheet.setValueFromKey('quantity', i, quantity, true, true);
            }
          }
        }else{
          $("#supplier-search_error-modal-form-body").html(lines_error);
          $("#supplier-search-error-modal-form").modal('show');
        }
        if((--load_wait)==0) $("#load-spinner").fadeOut();
      }
    });

    {# Evento de cambio de proveedor en el formulario principal #}
    $('body').on('change', "#supplier-form-id", function(e) {
      var supplier_id=$("#supplier-form-id").val();
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/supplier/orderinfo/"+supplier_id+"/get"
        }).done(function( elements, textStatus, jqXHR ) {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
          if (elements!=null){
            $("#buyorder-form-minorder").val(elements.minorder);
            $("#buyorder-form-freeshipping").val(elements.freeshipping);
            $("#buyorder-form-estimateddelivery-number").val(elements.estimateddelivery);
            $("#supplier-form-code").val(elements.suppliercode);
            $("#supplier-form-name").val(elements.suppliername);
            $("#supplier-form-codename").val('('+elements.suppliercode+') '+elements.suppliername);
            $("#supplier-form-email").val(elements.supplieremmail);
            $("#supplier-form-phone").val(elements.supplierphone);
            $("#supplier-form-paymentmethod").val(elements.supplierpaymentmethod);
            $("#supplier-form-paymentmethod").trigger('change');
            $("#supplier-form-paymentterms").val(elements.supplierpaymentterms);
            $("#supplier-form-shippingcharge").val((elements.freeshipping==0?0:1));
            $("#supplier-form-shippingcharge").trigger('change');
            $("#supplier-form-carrier").val(elements.suppliercarrier);
            $("#supplier-form-carrier").trigger('change');
            $("#supplier-form-address").val(elements.supplieraddress);
            $("#supplier-form-postcode").val(elements.supplierpostcode);
            $("#supplier-form-state").val(elements.supplierstate);
            $("#supplier-form-country").val(elements.suppliercountry);
            $("#supplier-form-city").val(elements.suppliercity);

            $("#supplier-form-theircode").val(elements.suppliertheircode);
            $("#supplier-form-credentialsurl").val(elements.suppliercredentialsurl);
            $("#supplier-form-credentialsuser").val(elements.suppliercredentialsuser);
            $("#supplier-form-credentialspassword").val(elements.suppliercredentialspassword);
            $("#supplier-form-vat").val(elements.suppliervat);
            $("#buyorder-form-weight").val(0);

            $("#buyorder-form-suppliercomment").val(elements.suppliercomment);
            $("#buyorder-form-supplierbuyorder").val(elements.supplierbuyorder);
            $("#buyorder-form-suppliershipping").val(elements.suppliershipping);
            $("#buyorder-form-supplierpayment").val(elements.supplierpayment);
            $("#buyorder-form-supplierspecial").val(elements.supplierspecial);            

            $("#buyorder-form-amount").val(0);
            $("#buyorder-form-discount").val('');
            $("#buyorder-form-base").val(0);
            $("#buyorder-form-taxes").val(0);
            $("#buyorder-form-shipping").val('');
            $('#buyorder-form-shipping').removeAttr('readonly');
            $("#buyorder-form-total").val(0);
            setEstimatedDate();
            // Primer almacén de base de datos
            {% if stores|length > 1 %}
              setStoreInfo({{ stores.0.id }});
              $("#buyorder-form-store").val({{ stores.0.id }});
            {% else %}
              setStoreInfo(1);
              $("#buyorder-form-store").val(1);
            {% endif %}
            $("#buyorder-form-store").trigger('change');
         }
        });
    });
  });
  </script>
