<div class="panel panel-primary panel-shadow" id="destination-data" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" id="searching-customer">
        <label for="destination-form-address">Código de Cliente:</label>
        <div class="input-group">
          <input type="text" readonly id="destination-form-code" {% if buyorder.customer!=null %} value="{{ buyorder.customer.code }}" disabled {% endif %}  class="form-control" placeholder="Selecciona cliente..." data-toggle="modal" data-target="#customer-search-modal-form">
          <div class="input-group-btn">
            <button type="button" id="destination-form-code" class="btn btn-white" style="height: 31px;" data-toggle="modal" data-target="#customer-search-modal-form">
              <i class="fa fa-search"></i> </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="destination-form-address">Dirección:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-address" {% if buyorder.destinationaddress!=null %} value="{{ buyorder.destinationaddress }}"  {% endif %} class="form-control" placeholder="Dirección destino">
          </div>
        </div>
        <div class="col-md-2">
          <label for="destination-form-postcode">Código postal:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-postcode" {% if buyorder.destinationpostcode!=null %} value="{{ buyorder.destinationpostcode }}"  {% endif %} class="form-control" placeholder="Código postal destino">
          </div>
        </div>
        <div class="col-md-2">
          <label for="destination-form-city">Ciudad:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-city" {% if buyorder.destinationcity!=null %} value="{{ buyorder.destinationcity }}"  {% endif %} class="form-control" placeholder="Ciudad destino">
          </div>
        </div>
        {% if buyorder.destinationstate!=null %}
        <div class="col-md-2">
          <label for="destination-form-state">Provincia:</label>
          <div class="form-group">
            <select type="text" id="destination-form-state" class="form-control select2" required>
              {% for option in destinationstates %}
                <option value="{{ option.id }}" {% if option.id==buyorder.destinationstate.id %} selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% else %}
        <div class="col-md-2">
          <label for="destination-form-state">Provincia:</label>
          <div class="form-group">
            <select type="text" id="destination-form-state" class="form-control select2" required>
              {% for option in destinationstates %}
                <option value="{{ option.id }}" {% if option.id=="3" %} selected{% endif %} ">{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
        {% if buyorder.destinationcountry!=null %}
        <div class="col-md-2">
          <label for="destination-form-country">País:</label>
          <div class="form-group">
            <select type="text" id="destination-form-country" class="form-control select2" required>
              {% for option in destinationcountries %}
                <option value="{{ option.id }}" {% if option.id==buyorder.destinationcountry.id %} selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% else %}
        <div class="col-md-2">
          <label for="destination-form-country">País:</label>
          <div class="form-group">
            <select type="text" id="destination-form-country" class="form-control select2" required>
              {% for option in destinationcountries %}
                <option value="{{ option.id }}"  {% if option.id=="64" %} selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
        <div class="col-md-2">
          <label for="destination-form-email">Email:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-email" {% if buyorder.destinationemail!=null %} value="{{ buyorder.destinationemail }}"  {% endif %} class="form-control" placeholder="Email destino">
          </div>
        </div>
        <div class="col-md-2">
          <label for="destination-form-phone">Teléfono:</label>
          <div class="form-group">
            <input type="text"  id="destination-form-phone" {% if buyorder.destionationphone!=null %} value="{{ buyorder.destionationphone }}"  {% endif %} class="form-control" placeholder="Teléfono destino">
          </div>
        </div>
        </div>
      </div>
    </div>
