<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
    <div class="panel-body">
    <div class="row">
      {% if buyorder.state!=null %}
          <div class="col-md-2">
            <label for="buyorder-form-currentstate">Estado actual:</label>
            <select type="text" id="buyorder-form-currentstate" class="form-control select2" required>
              {% for option in states %}
                <option value="{{ option.id }}" {% if buyorder.state.id== option.id %}selected{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
      {% else %}
      <div class="col-md-2">
        <label for="buyorder-form-currentstate">Estado actual:</label>
        <select type="text" id="buyorder-form-currentstate" class="form-control select2" required>
          {% for option in states %}
            <option value="{{ option.id }}" {% if option.id==1 %}selected{% endif %}>{{ option.text }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}
      {% if buyorder.agent is not null %}
        <div class="col-md-2">
          <label for="buyorder-form-agent">Agente:</label>
          <div class="form-group">
          <input type="text" id="buyorder-form-agent" value="{{ buyorder.agent.name }} {{ buyorder.agent.lastname }}" disabled="disabled" class="form-control" placeholder="Agente">
          <input type="hidden" id="buyorder-form-agent-id" value="{{ buyorder.agent.id }}" class="form-control">
          </div>
        </div>.name
      {% else %}
      <div class="col-md-2">
        <label for="buyorder-form-agen-select">Agente:</label>
        <div class="form-group">
          <select type="text" id="buyorder-form-agents-select" class="form-control select2" required>
            {% for option in agents %}
              <option value="{{ option.id }}" {% if option.id==userData.id %}selected{% endif %}>{{ option.text }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}
      {% if buyorder.estimateddelivery is not null %}
      <div class="col-md-2" id="buyorder-form-estimateddelivery-div">
        <label for="buyorder-form-estimateddelivery">Fecha estimada de entrega:</label>
        <input type="text" id="buyorder-form-estimateddelivery" name="" class="datepicker form-control" value="{{ buyorder.estimateddelivery|date('h:m:s d/m/Y ') }}">
      </div>
      {% else %}
      <div class="col-md-2" id="buyorder-form-estimateddelivery-div">
        <label for="buyorder-form-estimateddelivery">Fecha estimada de entrega:</label>
        <input type="text" id="buyorder-form-estimateddelivery" name="" class="datepicker form-control">
      </div>
      {% endif %}
      {% if id!=0 %}
      <div class="col-md-2" style="text-align:right;">
          <h2>Nº {{ buyorder.code }}</h2>
        <br>
      </div>
      {% endif %}
      <br>
  </div>
</div>
  </div>
  </div>
<br>
<br>


<script>
  $('body').on('click', "#storeticket-form-view", function(e){
    var id=$(this).attr("attr-id");
    if(id!=0 && id!=""){
    url=$(this).attr("attr-url");
    url=url.replace('_____',$(this).attr("attr-id"));
    var win = window.open(url, '_blank');
    win.focus();
    }
});
</script>
