<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body">
      <div class="panel minimal">
        <div class="panel-heading">
          <div class="panel-title">Información del pedido</div>
        </div>
      </div>
      <div class="col-md-1">
        <label for="buyorder-form-coderevision">Código:</label>
        <div class="form-group">
          <input type="text" readonly="readonly" id="buyorder-form-coderevision" {% if (buyorder.code!=null and buyorder.revision!=null) %} value="{{buyorder.code}}/{{buyorder.revision}}" {% else %}  value="" {% endif %}  disabled="disabled" class="form-control bold" placeholder="Código..."/>
          <input type="hidden" id="buyorder-form-id" name="buyorder-form-id" {% if buyorder.id!=null %} value="{{buyorder.id}}" {% else %}  value="0" {% endif %}/>
          <input type="hidden" id="buyorder-form-code" name="buyorder-form-code" {% if buyorder.code!=null %} value="{{buyorder.code}}" {% else %}  value="" {% endif %}/>
          <input type="hidden" id="buyorder-form-revision" name="buyorder-form-revision" {% if buyorder.revision!=null %} value="{{buyorder.revision}}" {% else %}  value="" {% endif %}/>
        </div>
      </div>
      <div class="col-md-1">
        <label for="supplier-form-theircode">Nº cliente:</label>
        <div class="form-group">
          <input type="text" readonly="readonly" id="supplier-form-theircode" {% if (buyorder.supplier!=null and buyorder.supplier.theircode!=null) %} value="{{buyorder.supplier.theircode}}" {% else %}  value="" {% endif %}  class="form-control" placeholder="Nº Cliente..."/>
        </div>
      </div>
      <div class="col-md-2">
        <label for="buyorder-form-theircode">Nº pedido proveedor:</label>
        <div class="form-group">
          <input type="text" id="buyorder-form-theircode" {% if (buyorder.theircode!=null) %} value="{{buyorder.theircode}}" {% else %}  value="" {% endif %}  class="form-control" placeholder="Nº pedido proveedor..."/>
        </div>
      </div>
      <div class="col-md-2">
        <label for="supplier-form-vat">CIF:</label>
        <div class="form-group">
          <input type="text" readonly="readonly" id="supplier-form-vat" {% if (buyorder.suppliervat!=null) %} value="{{buyorder.suppliervat}}" {% else %}  value="" {% endif %}  class="form-control" placeholder="CIF proveedor..."/>
        </div>
      </div>
      <div class="col-md-4">
        <label for="supplier-form-codename">Proveedor:</label>
        <span id="selection-view-{{ formConstructor }}-supplier" class="input-search-selection__view" style="" attr-url="{{ url('formSupplier',{'id':'_____'}) }}"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>&nbsp;Ver Ficha</span></span>
        <div class="form-group">
          <div class="input-group">
            <input type="text" readonly="readonly" id="supplier-form-codename" {% if (buyorder.suppliercode!=null) and (buyorder.suppliername!=null) %} value="({{buyorder.suppliercode}}) {{buyorder.suppliername}}" {% else %}  value="" {% endif %}  disabled="disabled" class="form-control" placeholder="Búsqueda de provedor..." data-toggle="modal" data-target="#supplier-search-modal-form"/>
            <input type="hidden" id="supplier-form-id" name="supplier-form-id" {% if buyorder.supplier!=null %} value="{{buyorder.supplier.id}}" {% else %}  value="" {% endif %}/>
            <input type="hidden" id="supplier-form-code" name="supplier-form-code" {% if buyorder.suppliercode!=null %} value="{{buyorder.suppliercode}}" {% else %}  value="" {% endif %}/>
            <input type="hidden" id="supplier-form-name" name="supplier-form-name" {% if buyorder.suppliername!=null %} value="{{buyorder.suppliername}}" {% else %}  value="" {% endif %}/>
            <div class="input-group-btn">
              <button type="button" class="btn btn-white" style="height: 27px;" data-toggle="modal" data-target="#supplier-search-modal-form">
              <i class="fa fa-search"></i> </button>
            </div>
          </div>
        </div>
      </div>
      {% if buyorder.state!=null %}
        <div class="col-md-2">
          <label for="buyorder-form-currentstate">Estado actual:</label>
          <div class="form-group">
            <select type="text" id="buyorder-form-currentstate" class="form-control select2" required>
              {% for option in states %}
                <option value="{{ option.id }}" {% if buyorder.state.id==option.id %}selected="selected"{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% else %}
        <div class="col-md-2">
          <label for="buyorder-form-currentstate">Estado actual:</label>
          <div class="form-group">
            <select type="text" id="buyorder-form-currentstate" class="form-control select2" required>
              {% for option in states %}
                <option value="{{ option.id }}" {% if option.pos==1 %}selected="selected"{% endif %}>{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}
      <div class="col-md-2">
        <label for="buyorder-form-ouroffer">Nuestra Oferta:</label>
        <div class="form-group">
          <input type="hidden" id="buyorder-form-offert-id" name="buyorder-form-offert-id" {% if buyorder.offert!=null %} value="{{ buyorder.offert.id }}" {% else %} value="0" {% endif %} class="form-control" />
          <input type="text" id="buyorder-form-ouroffer" readonly="readonly" {% if buyorder.offert!=null %} value="{{ buyorder.offert.code }}" {% endif %} class="form-control" />
        </div>
      </div>
      <div class="col-md-2">
        <label for="buyorder-form-theiroffer">Su oferta relacionada:</label>
        <div class="form-group">
          <input type="text" id="buyorder-form-theiroffer" readonly="readonly" {% if buyorder.offert!=null %} value="{{ buyorder.offert.theircode }}" {% endif %} class="form-control" />
        </div>
      </div>
      <div class="col-md-2">
        <label for="buyorder-form-dateadd">Fecha de creación:</label>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <input type="text" id="buyorder-form-dateadd" style="z-index:99 !important;" readonly="readonly" value="{{ buyorder.dateadd|date('d/m/Y') }}" placeholder="{{ buyorder.dateadd|date('d-m-Y') }}" class="datepicker form-control">
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <label for="buyorder-form-dateupd">Fecha de modificación:</label>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <input type="text" id="buyorder-form-dateupd" style="z-index:99 !important;" readonly="readonly" value="{{ buyorder.dateupd|date('d/m/Y') }}" placeholder="{{ buyorder.dateupd|date('d-m-Y') }}" class="datepicker form-control">
          </div>
        </div>
      </div>
      {% if buyorder.author!=null %}
        <div class="col-md-2">
          <label for="buyorder-form-author">Autor:</label>
          <div class="form-group">
            <select type="text" id="buyorder-form-author" class="form-control select2" disabled="disabled" required>
              {% for option in agents %}
                <option value="{{ option.id }}" {% if option.id==buyorder.author.id %}selected="selected"{% endif %} data-image="{{ url('index') }}api/user/{{ option.id }}/getimage">{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% else %}
        <div class="col-md-2">
          <label for="buyorder-form-author">Autor:</label>
          <div class="form-group">
            <select type="text" id="buyorder-form-author" class="form-control select2" disabled="disabled" required>
              {% for option in agents %}
                <option value="{{ option.id }}" {% if option.id==userData.id %}selected="selected"{% endif %} data-image="{{ url('index') }}api/user/{{ option.id }}/getimage">{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}
      {% if buyorder.agent!=null %}
        <div class="col-md-2">
          <label for="buyorder-form-agent">Agente:</label>
          <div class="form-group">
            <select type="text" id="buyorder-form-agent" class="form-control select2" required {% if (userData.id!=buyorder.agent.id and userData.id!=buyorder.author.id) %} disabled="disabled"{% endif %}>
              {% for option in agents %}
                <option value="{{ option.id }}" {% if option.id==buyorder.agent.id %}selected="selected"{% endif %} data-image="{{ url('index') }}api/user/{{ option.id }}/getimage">{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% else %}
        <div class="col-md-2">
          <label for="buyorder-form-agent">Agente:</label>
          <div class="form-group">
            <select type="text" id="buyorder-form-agent" class="form-control select2" required>
              {% for option in agents %}
                <option value="{{ option.id }}" {% if option.id==userData.id %}selected="selected"{% endif %} data-image="{{ url('index') }}api/user/{{ option.id }}/getimage">{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}
      <div class="col-md-2">
        <label for="buyorder-form-datesend">Fecha de envio:</label>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <input type="text" id="buyorder-form-datesend" style="z-index:99 !important;" value="{% if buyorder.datesend!=null %}{{ buyorder.datesend|date('d/m/Y') }}{% endif %}" placeholder="{{ buyorder.datesend|date('d-m-Y') }}" class="datepicker form-control">
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <label for="buyorder-form-dateread">Fecha de lectura:</label>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <input type="text" id="buyorder-form-dateread" style="z-index:99 !important;" value="{% if buyorder.dateread!=null %}{{ buyorder.dateread|date('d/m/Y') }}{% endif %}" placeholder="{{ buyorder.dateread|date('d-m-Y') }}" class="datepicker form-control">
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <label for="buyorder-form-dateconfirmed">Fecha de confirmación:</label>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <input type="text" id="buyorder-form-dateconfirmed" style="z-index:99 !important;" value="{% if buyorder.dateconfirmed!=null %}{{ buyorder.dateconfirmed|date('d/m/Y') }}{% endif %}" placeholder="{{ buyorder.dateconfirmed|date('d-m-Y') }}" class="datepicker form-control">
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <label for="buyorder-form-estimateddelivery">Fecha estimada de entrega:</label>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <input type="text" id="buyorder-form-estimateddelivery" style="z-index:99 !important;" value="{% if buyorder.estimateddelivery!=null %}{{ buyorder.estimateddelivery|date('d/m/Y') }}{% endif %}" placeholder="{{ buyorder.estimateddelivery|date('d-m-Y') }}" class="datepicker form-control">
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <label for="supplier-form-email">Email del proveedor:</label>
        <div class="form-group">
          <input type="text"  readonly="readonly" id="supplier-form-email" value="{{ buyorder.email }}"  class="form-control" />
        </div>
      </div>
      <div class="col-md-2">
        <label for="supplier-form-phone">Teléfono del proveedor:</label>
        <div class="form-group">
          <input type="text" readonly="readonly" id="supplier-form-phone"  value="{{ buyorder.phone }}"  class="form-control" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" >
          <div class="input-group">
            <input type="checkbox"  id="buyorder-form-priority" {% if buyorder.priority==1 %} checked {% endif %} class="form-check-input icheck"/>
            <label for="buyorder-form-priority">&nbsp; Urgente</label>
          </div>
          <textarea id="buyorder-form-observationpriority" name="buyorder-form-observationpriority" class="form-control" style="min-height:97px;{% if buyorder.priority==0 %}display:none;{% endif %}" >{% if buyorder.observationpriority!=null %}{{ buyorder.observationpriority }}{% endif %}</textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" >
          <label for="buyorder-form-observationpublic">Observaciones públicas:</label>
          <textarea id="buyorder-form-observationpublic" name="buyorder-form-observationpublic" class="form-control" style="min-height:100px;" >{% if buyorder.observationpublic!=null %}{{ buyorder.observationpublic }}{% endif %}</textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="buyorder-form-observationpublic">Comentarios proveedor:</label>
          <textarea id="buyorder-form-suppliercomment" name="buyorder-form-suppliercomment" readonly="readonly" class="form-control">{% if buyorder.suppliercomment!=null %}{{ buyorder.suppliercomment }}{% endif %}</textarea>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel minimal" >
          <div class="panel-heading">
            <div class="panel-title">Contactos</div>
          </div>
        </div>
        <div id="jsexcel-buyordercs">
          {% set spreadsheet = spreadsheetbuyorderscs %}
          {{ include('@Globale/form_jspreadsheet_html.twig') }}
        </div>
      </div>
      <div class="panel minimal">
        <div class="panel-heading">
          <div class="panel-title">Resumen</div>
        </div>
        <div class="panel-body">
          {% if buyorder.paymentmethod!=null %}
            <div class="col-md-2">
              <label for="supplier-form-paymentmethod">Método de pago:</label>
              <div class="form-group">
                <select type="text" id="supplier-form-paymentmethod" class="form-control select2" required>
                  {% for option in paymentmethods %}
                    <option value="{{ option.id }}" {% if buyorder.paymentmethod.id==option.id %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% else %}
            <div class="col-md-2">
              <label for="supplier-form-paymentmethod">Método de pago:</label>
              <div class="form-group">
                <select type="text" id="supplier-form-paymentmethod" class="form-control select2" required>
                  {% for option in paymentmethods %}
                    <option value="{{ option.id }}" {% if option.pos==0 %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}
          {% if buyorder.paymentterms!=null %}
            <div class="col-md-2">
              <label for="supplier-form-paymentterms">Términos de pago:</label>
              <div class="form-group">
                <select type="text" id="supplier-form-paymentterms" class="form-control select2" required>
                  {% for option in paymentterms %}
                    <option value="{{ option.id }}" {% if buyorder.paymentterms.id==option.id %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% else %}
            <div class="col-md-2">
              <label for="supplier-form-paymentterms">Terminos de pago:</label>
              <div class="form-group">
                <select type="text" id="supplier-form-paymentterms" class="form-control select2" required>
                  {% for option in paymentterms %}
                    <option value="{{ option.id }}" {% if option.pos==0 %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}
          {% if (buyorder.shippingcharge!=null or buyorder.shippingcharge==0) %}
            <div class="col-md-2">
              <label for="supplier-form-shippingcharge">Portes: </label>
              <div class="form-group">
                <select type="text" id="supplier-form-shippingcharge" class="form-control select2" required>
                  {% for option in shippings %}
                    <option value="{{ option.id }}" {% if buyorder.shippingcharge==option.id %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% else %}
            <div class="col-md-2">
              <label for="supplier-form-shippingcharge">Portes: </label>
              <div class="form-group">
                <select type="text" id="supplier-form-shippingcharge" class="form-control select2" required>
                  {% for option in shippings %}
                    <option value="{{ option.id }}" {% if option.pos==0 %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}
          {% if buyorder.carrier!=null %}
            <div class="col-md-2" id="supplier-form-carrier-div" {% if (buyorder.shippingcharge==null or buyorder.shippingcharge!=2) %}style="display:none;"{% endif %}>
              <label for="supplier-form-carrier">Transportista:</label>
              <div class="form-group">
                <select type="text" id="supplier-form-carrier" class="form-control select2" required>
                  {% for option in carriers %}
                    <option value="{{ option.id }}" {% if buyorder.carrier.id==option.id %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% else %}
            <div class="col-md-2" id="supplier-form-carrier-div" {% if (buyorder.shippingcharge==null or buyorder.shippingcharge!=2) %}style="display:none;"{% endif %}>
              <label for="supplier-form-carrier">Transportista:</label>
              <div class="form-group">
                <select type="text" id="supplier-form-carrier" class="form-control select2" required>
                  {% for option in carriers %}
                    <option value="{{ option.id }}" {% if option.pos==0 %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-freeshipping">Portes gratis desde:</label>
              <span id="unity-view-form-buyorder-freeshipping" class="input__unity">
                <span>€</span>
              </span>
              <input type="text" id="buyorder-form-freeshipping" name="buyorder-form-freeshipping" readonly="readonly" autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.freeshipping}}">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-minorder">Importe mínimo:</label>
              <span id="unity-view-form-buyorder-minorder" class="input__unity">
                <span>€</span>
              </span>
              <input type="text" id="buyorder-form-minorder" name="buyorder-form-minorder" readonly="readonly" autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.minorder}}">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-weight">Peso:</label>
              <span id="unity-view-form-buyorder-weight" class="input__unity">
                <span><i class="fa fa-balance-scale" aria-hidden="true"></i></span>
              </span>
              <input type="text" id="buyorder-form-weight" name="buyorder-form-weight" readonly="readonly" autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.weight }}">
            </div>
          </div>
          {% if (buyorder.orderchannel!=null or buyorder.orderchannel==0) %}
            <div class="col-md-2">
              <label for="supplier-form-orderchannel">Canal de pedido:</label>
              <div class="form-group">
                <select type="text" id="supplier-form-orderchannel" class="form-control select2" required>
                  {% for option in orderchannel %}
                    <option value="{{ option.id }}" {% if buyorder.orderchannel==option.id %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% else %}
            <div class="col-md-2">
              <label for="supplier-form-orderchannel">Canal de pedido:</label>
              <div class="form-group">
                <select type="text" id="supplier-form-orderchannel" class="form-control select2" required>
                  {% for option in orderchannel %}
                    <option value="{{ option.id }}" {% if option.pos==0 %}selected="selected"{% endif %}>{{ option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}
          <div class="col-md-4" id="supplier-form-credentials" {% if (buyorder.orderchannel==null or buyorder.orderchannel!=1 or buyorder.supplier==null or buyorder.supplier.credentialsurl==null or buyorder.supplier.credentialsurl=='') %}style="display:none;"{% endif %}>
            {% if (buyorder.supplier!=null and buyorder.supplier.credentialsurl!=null and buyorder.supplier.credentialsurl!=null) %}<a href="{{ buyorder.supplier.credentialsurl }}" style="font-weight: bold; text-decoration: underline;" target="_blank">{{ buyorder.supplier.credentialsurl }}</a>{% endif %}
            {% if (buyorder.supplier!=null and buyorder.supplier.credentialsuser!=null and buyorder.supplier.credentialsuser!=null) %}<br/>Usuario: <span id="buyorder_credentialsuser">{{buyorder.supplier.credentialsuser}}</span> <a href="javascript:copyToClipboard('buyorder_credentialsuser');" title="Copiar"><i class="fa fa-copy" aria-hidden="true"></i></a>{% endif %}
            {% if (buyorder.supplier!=null and buyorder.supplier.credentialspassword!=null and buyorder.supplier.credentialspassword!=null) %} | Contraseña: <span id="buyorder_credentialspassword">{{buyorder.supplier.credentialspassword}}</span> <a href="javascript:copyToClipboard('buyorder_credentialspassword');" title="Copiar"><i class="fa fa-copy" aria-hidden="true"></i></a>{% endif %}
          </div>
          <div class="col-md-2" style="clear: left;">
            <div class="form-group">
              <label for="buyorder-form-amount">Importe:</label>
              <span id="unity-view-form-buyorder-amount" class="input__unity">
                <span>€</span>
              </span>
              <input type="text" id="buyorder-form-amount" name="buyorder-form-amount" readonly="readonly" autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.amount|number_format(2,'.','')}}">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-discount">Descuento:</label>
              <span id="unity-view-form-buyorder-discount" class="input__unity">
                <span>%</span>
              </span>
              <input type="text" id="buyorder-form-discount" name="buyorder-form-discount" autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.discount }}">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-base">Base imponible:</label>
              <span id="unity-view-form-buyorder-base" class="input__unity">
                <span>€</span>
              </span>
              <input type="text" id="buyorder-form-base" name="buyorder-form-base" readonly="readonly" autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.base|number_format(2,'.','')}}">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-taxes">IVA:</label>
              <span id="unity-view-form-buyorder-taxes" class="input__unity">
                <span>€</span>
              </span>
              <input type="text" id="buyorder-form-taxes" name="buyorder-form-taxes" readonly="readonly" autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.taxes|number_format(2,'.','')}}">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-shipping">Portes:</label>
              <span id="unity-view-form-buyorder-shipping" class="input__unity">
                <span>€</span>
              </span>
              <input type="text" id="buyorder-form-shipping" name="buyorder-form-shipping" {% if buyorder.shippingcharge=="1" and buyorder.base!=null and buyorder.base!='' and  buyorder.minorder!=null and  buyorder.minorder!='' and buyorder.base>=buyorder.minorder %} readonly="readonly" {% endif %} autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.shipping }}">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="buyorder-form-total">Total:</label>
              <span id="unity-view-form-buyorder-total" class="input__unity">
                <span>€</span>
              </span>
              <input type="text" id="buyorder-form-total" name="buyorder-form-total" readonly="readonly" autocomplete="off" class="number-type form-control input_parent__unity" value="{{ buyorder.total|number_format(2,'.','')}}">
            </div>
          </div>
        </div>
      </div>
      <div class="panel minimal">
        <div class="panel-heading">
          <div class="panel-title">Líneas</div>
        </div>
      </div>
      {# OTROS #}
      {# Indica le número de días en que sirve el proveedor #}
      <input type="hidden" id="buyorder-form-estimateddelivery-number">
      {# Otros datos del proveedor #}
      <input type="hidden" id="supplier-form-address" value="{{ buyorder.supplieraddress }}">
      <input type="hidden" id="supplier-form-postcode" value="{{ buyorder.supplierpostcode }}">
      <input type="hidden" id="supplier-form-state" value="{{ buyorder.supplierstate }}">
      <input type="hidden" id="supplier-form-country" value="{{ buyorder.suppliercountry }}">
      <input type="hidden" id="supplier-form-city" value="{{ buyorder.suppliercity }}">
    </div>
</div>


<script>
  // Restricts input for the given textbox to the given inputFilter.
  function setInputFilter(textbox, inputFilter) {
    ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
      textbox.oldValue = "";
      textbox.addEventListener(event, function() {
        if (inputFilter(this.value)) {
          this.oldValue = this.value;
          this.oldSelectionStart = this.selectionStart;
          this.oldSelectionEnd = this.selectionEnd;
        } else if (this.hasOwnProperty("oldValue")) {
          this.value = this.oldValue;
          this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
        }
      });
    });
  }

  // Copy to clipboard
  function copyToClipboard(id_element) {
    var aux = document.createElement("input");
    aux.setAttribute("value", document.getElementById(id_element).innerHTML);
    document.body.appendChild(aux);
    aux.select();
    document.execCommand("copy");
    document.body.removeChild(aux);
    toastr.success("Copiado al portapapeles", "Confirmación", confirmation);
  }

  $(document).ready(function() {
    // Cajas readonly
    new Jodit("#buyorder-form-suppliercomment",{ "height": 100, "minHeight": 100, "maxHeight": 100, "readonly": true, "showCharsCounter": false, "showWordsCounter": false, "showXPathInStatusbar": false,"toolbarAdaptive" : false, "buttons": "fullsize"});
    new Jodit("#buyorder-form-supplierbuyorder",{ "height": 150, "minHeight": 150, "maxHeight": 150, "readonly": true, "showCharsCounter": false, "showWordsCounter": false, "showXPathInStatusbar": false,"toolbarAdaptive" : false, "buttons": "fullsize"});
    new Jodit("#buyorder-form-suppliershipping",{ "minHeight": 150, "maxHeight": 150, "readonly": true, "showCharsCounter": false, "showWordsCounter": false, "showXPathInStatusbar": false,"toolbarAdaptive" : false, "buttons": "fullsize"});
    new Jodit("#buyorder-form-supplierpayment",{ "minHeight": 150, "maxHeight": 150, "readonly": true, "showCharsCounter": false, "showWordsCounter": false, "showXPathInStatusbar": false,"toolbarAdaptive" : false, "buttons": "fullsize"});
    new Jodit("#buyorder-form-supplierspecial",{ "minHeight": 150, "maxHeight": 150, "readonly": true, "showCharsCounter": false, "showWordsCounter": false, "showXPathInStatusbar": false,"toolbarAdaptive" : false, "buttons": "fullsize"});
    // Input de tipo number
    $( ".number-type" ).each(function( index ) {
      setInputFilter(document.getElementById($(this).attr('id')), function(value) {
        // Restrict input to digits and '.' by using a regular expression filter.
        return /^\d*\.?\d*$/.test(value);
      });
    });
    {# Cambio de check de urgencia #}
    $('#buyorder-form-priority').on('ifChanged', function(e){
      if ($("#buyorder-form-priority").is(':checked')){
        $("#buyorder-form-observationpriority").css("display","block");
      }else{
        $("#buyorder-form-observationpriority").css("display","none");
      }
    });
    {# Ficha de proveedores #}
    $('body').on('click', "#selection-view-{{ formConstructor }}-supplier", function(e){
      var id=$('#supplier-form-id').val();
      if(id!=0 && id!=""){
        url=$(this).attr("attr-url");
        url=url.replace('_____',id);
        var win = window.open(url, '_blank');
        win.focus();
      }
    });
    {# Cambio de descuento o portes #}
    $('body').on('change', "#supplier-form-shippingcharge,#buyorder-form-discount,#buyorder-form-shipping", function(e) {
      buyorderstotal(null);
    });
    {# Si los portes son a recogida por nuestros medios se muestra el desplegable de transportistas, sino se oculta y se resetea #}
    $('body').on('change', "#supplier-form-shippingcharge", function(e) {
      var shippingcharge = $(this).val();
      if (shippingcharge=='2'){
        $('#supplier-form-carrier-div').css("display","block");
      }else{
        $('#supplier-form-carrier').val(0);
        $("#supplier-form-carrier").trigger('change');
        $('#supplier-form-carrier-div').css("display","none");
      }
    });
    {# Si los el canal de pedido es WEB se muestra sus acreditaciones #}
    $('body').on('change', "#supplier-form-orderchannel", function(e) {
      var orderchannel = $(this).val();
      if (orderchannel=='1'){
        $('#supplier-form-credentials').css("display","block");
      }else{
        $('#supplier-form-credentials').css("display","none");
      }
    });
  });
</script>
