<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none;min-height:200px"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body" style="padding: 0px !important;" id="document-lines" attr-numlines="{{ documentLines|length }}">

    <div class="row no-gutters documents-productvariants-header">
      <div class="col-sm-3 d-none d-sm-block">Cod. Producto</div>
      <div class="col-sm-8 d-none d-sm-block">Descripción</div>
      <div class="col-sm-1 d-none d-sm-block">Cantidad</div>
    </div>

    {% for line in  documentLines %}
      <div class="row no-gutters" attr-id="{{ line.linenum }}" id="document-line-{{ line.linenum }}">
        <div class="col-2 d-block d-sm-none" style="top: 8px;">Cod. Prod.</div>
        <div class="col-10 col-sm-3">
          <div class="form-group" style="margin-bottom: 0px;">
            <div class="input-group" >
              <a class="btn btn-white" attr-id="{{ line.linenum }}" id="productvariant-form-remove-{{ line.linenum }}" style="position: absolute;height: 31px;left: 0px;padding: 9px 7px;z-index: 10;" href="#"> <i class="fa fa-remove"></i></a>
              
              <input type="hidden" attr-id="{{ line.linenum }}" id="productvariant-form-line-id-{{ line.linenum }}" value={% if line!=null %}{{ line.id }}{% endif %}><input type="hidden" attr-id="{{ line.linenum }}" id="productvariant-form-id-{{ line.linenum }}" value={% if line.productvariant!=null %}{{ line.productvariant.id }}{% endif %}><input type="text" attr-id="{{ line.linenum }}" id="productvariant-form-code-{{ line.linenum }}" class="form-control" style="padding-left: 28px; border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cod. Producto" value="{{ line.code }}">
              <div class="input-group-btn"><button type="button" attr-id="{{ line.linenum }}" id="productvariant-search-button-{{ line.linenum }}" class="btn btn-white" style="height: 31px; border-radius: 0px;"><i class="fa fa-search"></i> </button></div>
            </div>
          </div>
        </div>
        <div class="col-2 d-block d-sm-none" style="top: 8px;">Nombre</div>
        <div class="col-10 col-sm-8"> <div class="form-group" style="margin-bottom: 0px;"> <input type="text" id="productvariant-form-name-{{ line.linenum }}" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Nombre" value="{{ line.name }}"> </div> </div>
        <div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Cantidad</div>
        <div class="col-4 col-sm-1"> <div class="form-group" style="margin-bottom: 0px;"> <input type="hidden" attr-id="{{ line.linenum }}" value={{ line.quantity }} id="productvariant-form-base-total-{{ line.linenum }}"><input type="text" attr-id="{{ line.linenum }}" id="productvariant-form-quantity-{{ line.linenum }}" class="recalculate form-control number-type" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cantidad" value={{ line.quantity }}> </div> </div>

      </div>
    {% endfor %}

  </div>
</div>
