<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; padding:0px; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
  <div class="col-md-4">
    <div class="panel-body">
        <div class="panel-title">Información de la incidencia</div>
        <div class="row">
          <div class="col-6 col-sm-6">
            <div class="form-group">
              <input type="hidden" id="salesticket-form-states" class="form-control">
                <label for="salesticket-form-states-select">Cambiar estado del ticket</label>
              <select type="text" id="salesticket-form-states-select" class="form-control select2" required>
                  <option value="-1">Elegir estado...</option>
                {% for option in states %}
                  <option value="{{ option.id }}">{{ option.text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        <div class="col-6 col-sm-6">
          <div class="form-group">
            <input type="hidden" id="salesticket-form-agents" class="form-control">
            <label for="salesticket-form-agents-select">Traspasar a otro agente</label>
            <select type="text" id="salesticket-form-agents-select" class="form-control select2" required>
              {% for option in agents %}
                <option value="{{ option.id }}">{{ option.text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12 col-sm-12">
            <div class="form-group" >
            <label for="salesticket-form-observations">Observaciones</label>
            <textarea id="salesticket-form-observations" name="salesticket-form-observations" class="form-control" style="min-height:90px;">{% if salesticket.observations!=null %}{{ salesticket.observations }}{% endif %}</textarea>
            <script>
            $(document).ready(function() {
              var editor = new Jodit('#salesticket-form-observations');
            });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel-body">
      <div class="panel-title">Trazabilidad</div>
      <div class="col-md-12">
        <ul class="cbp_tmtimeline_tickets" id="ul_timeline_tickets"></ul>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    id={{ id }};
    var items="";
    {% for history in histories %}
    var obj_create=moment('{{history.dateadd|date('Y-m-d H:i:s')}}');
    {% if history.newagent.id==history.agent.id %}
          var item='<li>'
              +'<time class="cbp_tmtime_tickets" datetime="">'
              +'<span id="create-time-text>'+obj_create.format('HH:mm:ss D/MM/YY')+'</span><p>'+obj_create.from()+'</p>'
              +'<h2>{{ history.agent.name }} {{ history.agent.lastname }}</h2>'
              '</time>'
              +'<div class="cbp_tmicon_tickets bg-info">'
              +'<img src="{{ url('index') }}api/user/{{ history.agent.id }}/getimage" alt="" class="img-circle" width="40" height="40">'
              +'</div>'
              +'<div class="cbp_tmlabel_tickets">'
              +'<h2><strong>{{ history.observations }}</strong></h2>'
              +'<h2>Estado del ticket: <strong>{{ history.salesticketstate.name }}</strong></h2>'
              +'</li>';
            items+=item;

          }
  {% else %}
            var item_aux='<li>'
                +'<time class="cbp_tmtime_tickets" datetime="">'
                +'<span id="create-time-text">'+obj_create.format('HH:mm:ss D/MM/YY')+'</span>'
                +'<p>'+obj_create.from()+'</p>'
                +'<h2>{{ history.newagent.name }} {{ history.newagent.lastname }}</h2>'
                +'</time>'
                +'<div class="cbp_tmicon_tickets bg-info">'
                +'<img src="{{ url('index') }}api/user/{{ history.newagent.id }}/getimage" alt="" class="img-circle" width="40" height="40">'
                +'</div>'
                +'<div class="cbp_tmlabel_tickets">'
                +'<h2>Estado del ticket: <strong>{{ history.salesticketstate.name }}</strong></h2>'
                +'</li>';

            items+=item_aux;

            var item='<li>'
                +'<time class="cbp_tmtime_tickets" datetime="">'+
                '<span id="create-time-text">'+obj_create.format('HH:mm:ss D/MM/YY')+'</span><p>'+obj_create.from()+'</p>'
                +'<h2>{{ history.agent.name }} {{ history.agent.lastname }}</h2>'
                +'</time>'
                +'<div class="cbp_tmicon_tickets bg-info">'
                +'<img src="{{ url('index') }}api/user/{{ history.agent.id }}/getimage" alt="" class="img-circle" width="40" height="40">'
                +'</div>'
                +'<div class="cbp_tmlabel_tickets">'
                +'<h2><strong>{{ history.observations }}</strong></h2>'
                +'<h2><i class="fa fa-forward" aria-hidden="true"></i> Traspasa la incidencia a {{ history.newagent.name }}</h2>'
                +'</li>';

              items+=item;

    {% endif %}
    {% endfor %}
    $("#ul_timeline_tickets").append(items);

});
</script>
