<div class="modal fade" tabindex="-1" id="add-information-modal-form" aria-hidden="true">
    <div class="modal-dialog-salestickets">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);display:inline-block;">
        <div class="modal-header">
          <h4 class="modal-title">Añadir información</h4>
        </div>
        <br>
        <br>
        <div id="add-information-modal-form-body" style="height: 520px; padding: 0px 10px;">
              <div class="row">
                <div class="col-6 col-sm-6">
                  <div class="form-group">
                    <input type="hidden" id="salesticket-form-states" class="form-control">
                      <label for="salesticket-form-states-select">Cambiar estado del ticket</label>
                    <select type="text" id="salesticket-form-states-select" class="form-control select2" required>
                        <option value="-1">Elegir estado...</option>
                      {% for option in states %}
                        <option value="{{ option.id }}">{{ option.text }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="hidden" id="salesticket-form-agents" class="form-control">
                  <label for="salesticket-form-agents-select">Traspasar a otro agente</label>
                  <select type="text" id="salesticket-form-agents-select" class="form-control select2" required>
                    {% for option in agents %}
                      <option value="{{ option.id }}">{{ option.text }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="hidden" id="salesticket-form-departments" class="form-control">
                  <label for="salesticket-form-departments-select">Traspasar a otro departamento</label>
                  <select type="text" id="salesticket-form-departments-select" class="form-control select2" required>
                    {% for option in departments %}
                      <option value="{{ option.id }}">{{ option.text }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="form-group" >
                  <label for="salesticket-form-observations">Observaciones</label>
                  <textarea id="salesticket-form-observations" name="salesticket-form-observations" class="form-control" style="min-height:90px;">{% if salesticket.observations!=null %}{{ salesticket.observations }}{% endif %}</textarea>
                  <script>
                  $(document).ready(function() {
                    var editor = new Jodit('#salesticket-form-observations');
                  });
                  </script>
                </div>
              </div>
            </div>
            <div class="row">
                <div style="text-align: left;" class="col-md-6"></div>
                <div style="text-align: right;margin-bottom:10px;" class="col-md-6">
                  <button attr-id="" attr-action="" id="salesticket-button-cancel" type="button" class="btn btn">Cancelar</button>
                  <button attr-id="" attr-action="" id="salesticket-button-save" type="button" class="btn btn-green">Guardar</button>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
$('body').on('click', "#salesticket-button-cancel", function(e){
//  alert("ey");
   $("#add-information-modal-form").modal('toggle');
});

$('body').on('change', "#salesticket-form-agents-select", function(e) {
  $("#salesticket-form-departments-select").parent().parent().css("display","none");


});

$('body').on('change', "#salesticket-form-departments-select", function(e) {
  $("#salesticket-form-agents-select").parent().parent().css("display","none");


});
$('body').on('click', "#salesticket-button-add-info", function(e) {

    $("#salesticket-form-agents-select").parent().parent().css("display","block");
    $("#salesticket-form-departments-select").parent().parent().css("display","block");

});

});
</script>
