<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none;min-height:200px"><!-- to apply shadow add class "panel-shadow" -->
<div class="panel-body" style="padding: 0px !important;" id="salestickets-body" attr-numlines="{{ worklistLines|length }}">
  <div class="col-2 d-block d-sm-none" style="top: 8px;">Cod. Prod.</div>
  <div class="col-10 col-sm-2">
    <div class="col-2 d-block d-sm-none" style="top: 8px;">Cliente...</div>
    <div class="col-10 col-sm-2">
          <div class="form-group" style="margin-bottom: 0px;length:258px;">
            <div class="input-group" style="width:100%;">
              {% if salesticket.customer is not null %}
                <span id="customer-form-view-{{ salesticket.id }}" class="select2-selection__view_nolabel" style="width: 38px; height: 31px; right: 0px; top:0;" attr-id="{{ salesticket.id }}" attr-url="{{ url('formCustomer',{'id':'_____'}) }}"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>&nbsp;</span></span>
              {% endif %}
              <input type="hidden" readonly attr-id="{{ salesticket.id }}" id="product-form-line-id-{{ salesticket.id }}" value={% if salesticket!=null %}{{ salesticket.id }}{% endif %}><input type="hidden" readonly attr-id="{{ salesticket.id }}" id="customer-form-id-{{ salesticket.id }}" value={% if salesticket.customer!=null %}{{ salesticket.id }}{% endif %}><input type="text" readonly attr-id="{{ salesticket.id }}" id="customer-form-code-{{ salesticket.id }}" class="form-control" style="padding-left: 28px; border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cod. Producto" value="{{ line.code }}">

              <div class="input-group-btn"><button type="button" attr-id="{{ salesticket.id }}" id="customer-search-button-{{ salesticket.id }}" class="btn btn-white" style="height: 31px; border-radius: 0px;"><i class="fa fa-search"></i> </button></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
