<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; padding:0px; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
    <div class="panel-body">
    <div class="row">

      {% if salesticket.agent is not null %}
        <div class="col-md-2">
          <label for="salesticket-form-agent">Agente asignado:</label>
          <div class="form-group">
          <input type="text" id="salesticket-form-agent" value="{{ salesticket.agent.name }} {{ salesticket.agent.lastname }}" disabled="disabled" class="form-control" placeholder="Agente asignado">
          </div>
        </div>
      {% else %}
      <div class="col-md-2">
        <label for="salesticket-form-agent">Agente asignado:</label>
        <div class="form-group">
        <input type="text" id="salesticket-form-agent" value="{{ userData.name }}" disabled="disabled" class="form-control" placeholder="Agente asignado">
        </div>
      </div>
      {% endif %}
      <div class="col-md-2">
        <label for="salesticket-form-agent">Fecha de última actualización:</label>
        <input type="datetime" id="salesticket-form-dateadd" value="{{ salesticket.dateupd|date('h:m:s d/m/Y ') }}" disabled="disabled" class="form-control" placeholder="Fecha">
      </div>
      <div class="col-md-8" style="text-align:right;">
        {% if id!=0 %}
        <h2>Ticket {{ salesticket.code }}</h2>
        {% else %}
          <h2>Ticket {{ code }}</h2>
        {% endif %}
        <br>
      </div>
    </div>
  </div>
  </div>
<br>
<br>
