{% if id!=0 %}
<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
    <div class="panel-body">
    <div class="row">
      {% if salesticket.salesticketstate!=null %}

      {% set color_state = '' %}
      {% if salesticket.salesticketstate.id == 1 %}
           {% set color_state = '#21a9e1' %}
           {% set color_text = '#fff' %}
        {% elseif salesticket.salesticketstate.id == 2 %}
           {% set color_state = '#cc2424' %}
           {% set color_text = '#fff' %}
        {% elseif salesticket.salesticketstate.id == 3 %}
           {% set color_state = '#00a651' %}
           {% set color_text = '#fff' %}
        {% elseif salesticket.salesticketstate.id == 4 %}
           {% set color_state = '#21a9e1' %}
           {% set color_text = '#fff' %}
        {% else %}
           {% set color_state = '#ebebeb' %}
           {% set color_text = '#000' %}
        {% endif %}

      <div class="col-md-2">
        <label for="salesticket-form-currentstate">Estado actual:</label>
        <input style="background-color:{{color_state}}!important;color:{{color_text}}!important;" type="text" id="salesticket-form-currentstate" value="{{ salesticket.salesticketstate.name }}" disabled="disabled" class="form-control" placeholder="Estado actual">
      </div>
      {% else %}
        <div class="col-md-2">
          <label for="salesticket-form-currentstate">Estado actual:</label>
          <input style="background-color:#ebebeb!important;color:#000;" type="text" id="salesticket-form-currentstate" value="Abierto" disabled="disabled" class="form-control" placeholder="Estado actual">
        </div>
        {% endif %}
      {% if salesticket.agent is not null %}
        <div class="col-md-2">
          <label for="salesticket-form-agent">Agente asignado:</label>
          <div class="form-group">
          <input type="text" id="salesticket-form-agent" value="{{ salesticket.agent.name }} {{ salesticket.agent.lastname }}" disabled="disabled" class="form-control" placeholder="Agente asignado">
          <input type="hidden" id="salesticket-form-agent-id" value="{{ salesticket.agent.id }}" class="form-control">
          </div>
        </div>
      {% endif %}
      {% if salesticket.department is not null %}
        <div class="col-md-2">
          <label for="salesticket-form-department">Departamento asignado:</label>
          <div class="form-group">
          <input type="text" id="salesticket-form-department" value="{{ salesticket.department.name }}" disabled="disabled" class="form-control" placeholder="Departamento asignado">
          <input type="hidden" id="salesticket-form-department-id" value="{{ salesticket.department.id }}" class="form-control">
          </div>
        </div>
      {% endif %}
      {% if salesticket.dateupd is not null %}
      <div class="col-md-2">
        <label for="salesticket-form-agent">Fecha de última actualización:</label>
        <input type="datetime" id="salesticket-form-dateadd" value="{{ salesticket.dateupd|date('h:m:s d/m/Y ') }}" disabled="disabled" class="form-control" placeholder="Fecha">
      </div>
      <div class="col-md-6" style="text-align:right;">
        {% if id!=0 %}
        <h2>Ticket {{ salesticket.code }}</h2>
        {% else %}
          <h2>Ticket {{ code }}</h2>
        {% endif %}
        <br>
      </div>
      {% else %}
      <div class="col-md-8" style="text-align:right;">
        {% if id!=0 %}
        <h2>Ticket {{ salesticket.code }}</h2>
        {% else %}
          <h2>Ticket {{ code }}</h2>
        {% endif %}
        <br>
      </div>
      {% endif %}

    </div>
  </div>
  </div>
<br>
<br>
{% endif %}
