<body class="page-body">
			<!-- MAIN CONTENT -->
	<div class="row">
		<div class="col-md-3 float-right">
			<div class="form-group">
				<input type="hidden" id="supplier" class="form-control">
					<select type="text" id="supplier-select" class="form-control select2" required>
					<option value="-1">Elige máquina...</option>
						{% for option in vendingmachines %}
							<option value="{{ option.id }}">{{ option.name }}</option>
						{% endfor %}
					</select>
			</div>
		</div>
		<form id="data" name="data" method="post" enctype="multipart/form-data" style="display:none;">
				<button type="button" id="submit-file" class="btn btn-primary">Download file</button>
			</form>
		<!-- END MAIN CONTENT -->
	</div>

	<!-- <script>

	</script> -->
		<!-- END MODALS -->
		{% block footer %}

		<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
		<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
		<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
		<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
		<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
		<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="{{ url('index') }}js/jodit/jodit.min.css">

		<!-- Imported scripts on this page -->
		<script src="{{ url('index') }}js/datatables/datatables.js"></script>
		<script src="{{ url('index') }}js/select2/select2.min.js"></script>
		<script src="{{ url('index') }}js/moment.min.js"></script>
		<script src="{{ url('index') }}js/moment-es.js"></script>
		<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
		<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
		<script src="{{ url('index') }}js/fileinput.js"></script>
		<script src="{{ url('index') }}js/jodit/jodit.min.js"></script>
		<script src="{{ url('index') }}js/jquery.nestable.js"></script>
		{{ include('@Globale/bottom.html.twig') }}
		{% endblock %}
</body>
