{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico">
	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}css/bootstrap-grid.css">
		<link rel="stylesheet" href="{{ url('index') }}css/timeline.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName|trans }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		{#}<h2>{{ interfaceName }}</h2>#}
		<!-- MAIN CONTENT -->
		<div id="storeticket-body">
			{% set formConstructor = {"name": ticketType} %}
			{{ include('@ERP/storeticket_form_validation.html.twig') }}
			{{ include('@ERP/storeticket_modal_add_information.html.twig') }}
			{{ include('@ERP/storeticket_reason_and_button_add.html.twig') }}
			{{ include('@ERP/storeticket_location_selection.html.twig') }}
			{{ include('@ERP/storeticket_label_fail_selection.html.twig') }}
			{{ include('@ERP/storeticket_searching_filters.html.twig') }}
			{{ include('@ERP/storeticket_header.html.twig') }}
			{{ include('@ERP/storeticket_ticket_data.html.twig') }}
			{{ include('@ERP/storeticket_gallery_timeline.html.twig') }}
			{{ include('@ERP/storeticket_main_buttons.html.twig') }}
			</div>
			{{ include('@ERP/storeticket_search_product.html.twig') }}
			{{ include('@ERP/storeticket_decide_if_inventory.html.twig') }}
			{{ include('@ERP/storeticket_select_variants.html.twig') }}
			{{ include('@ERP/storeticket_select_stores.html.twig') }}
			{{ include('@ERP/storeticket_prepare_json.html.twig') }}
		</div>
</div>
<!-- END MODALS -->
{% block footer %}

<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{ url('index') }}js/jodit/jodit.min.css">

<!-- Imported scripts on this page -->
<script src="{{ url('index') }}js/datatables/datatables.js"></script>
<script src="{{ url('index') }}js/select2/select2.min.js"></script>
<script src="{{ url('index') }}js/moment.min.js"></script>
<script src="{{ url('index') }}js/moment-es.js"></script>
<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ url('index') }}js/fileinput.js"></script>
<script src="{{ url('index') }}js/ol/ol.js"></script>
<script src="{{ url('index') }}js/jodit/jodit.min.js"></script>
<script src="{{ url('index') }}js/jquery.nestable.js"></script>
{{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
