<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container {% if userData.interfaceConfig.collapsedSidebar is defined and userData.interfaceConfig.collapsedSidebar %}sidebar-collapsed{% endif %}"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

	<div class="row">
			<table id="header-list-loads" class="table table-bordered table-responsive-md table-striped text-center" style="display:block; width: 100%">
			<thead class="table-thead">
				<th style="border-bottom: 1px solid #cecece !important;" class="table-header-name table-thead "> Expendedora </th>
				<th style="border-bottom: 1px solid #cecece !important;" class="table-header-name table-thead "> Fecha </th>
				<th style="border-bottom: 1px solid #cecece !important;" class="table-header-name table-thead "> Productos </th>
			</thead>

		<!-- END MAIN CONTENT -->
{% for load in  loads %}
	<tr attr-id="loads-'+valor.id+'" id="'+valor.id+'">
		<td style="border-bottom: 1px solid #cecece !important;" id="loads_date-'+valor.id+'" value="'+valor.date+'">  {{ load.date }}</td>
		<td style="border-bottom: 1px solid #cecece !important;" id="loads_machine-'+valor.id+'" value="'+valor.vendingmachine+'"> {{ load.machine }}</td>
		<td style="border-bottom: 1px solid #cecece !important;" id="products" value="'+valor.date+'">
			<table id="header-list-products" class="table table-bordered table-responsive-md table-striped text-center" style="display:block; width: 100%">
			<thead class="table-thead">
				<td style="border-bottom: 1px solid #cecece !important; width:20%; text-align:left">Código</td>
				<td style="border-bottom: 1px solid #cecece !important; width:70%; text-align:left">Nombre</td>
				<td style="border-bottom: 1px solid #cecece !important; width:10%">Cantidad</td>
				<td style="border-bottom: 1px solid #cecece !important; width:10%">Dispensada</td>
				<td style="border-bottom: 1px solid #cecece !important; width:10%">Multiplicador</td>
			</thead>
			{% for loadrow in  load.loads %}
				<tr attr-id="loads-'+valor.id+'" id="'+valor.id+'">
					<td style="border-bottom: 1px solid #cecece !important; width:20%; text-align:left">{{ loadrow.productcode }}</td>
					<td style="border-bottom: 1px solid #cecece !important; width:70%; text-align:left">{{ loadrow.productname }}</td>
					<td style="border-bottom: 1px solid #cecece !important;">  {{ loadrow.quantity }} </td>
					<td style="border-bottom: 1px solid #cecece !important;">  {{ loadrow.upload }} </td>
					<td style="border-bottom: 1px solid #cecece !important;">  {{ loadrow.multiplier }} </td>
				</tr>
			{% endfor %}
			</table>
		</td>
	</tr>
{% endfor %}
		</table>

		{% block footer %}

		<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
		<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
		<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
		<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
		<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
		<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="{{ url('index') }}js/jodit/jodit.min.css">

		<!-- Imported scripts on this page -->
		<script src="{{ url('index') }}js/datatables/datatables.js"></script>
		<script src="{{ url('index') }}js/select2/select2.min.js"></script>
		<script src="{{ url('index') }}js/moment.min.js"></script>
		<script src="{{ url('index') }}js/moment-es.js"></script>
		<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
		<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
		<script src="{{ url('index') }}js/fileinput.js"></script>
		<script src="{{ url('index') }}js/jodit/jodit.min.js"></script>
		<script src="{{ url('index') }}js/jquery.nestable.js"></script>
		{{ include('@Globale/bottom.html.twig') }}
		{% endblock %}

</body>
