<div class="panel panel-primary panel-shadow" id="salesorder-data" {% if id==0 %} style="display:none;"{% endif %} data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body">
    <div class="panel-title">Pedido de Venta asociado a la incidencia</div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="storeticket-form-salesorder">Nº de pedido:</label>
            <span id="storeticket-form-view" class="select2-selection__view_tickets" {% if storeticket.salesorder!=null %} attr-id="{{ storeticket.salesorder.id }}" {% else %} style="display:none;" {% endif %} attr-url="{{ url('ERPSalesOrdersForm',{'id':'_____'}) }}"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>&nbsp;Ver Pedido</span></span>
            <input type="text" readonly id="salesorder-form-number" {% if storeticket.salesorder!=null %} value="{{ storeticket.salesorder.code }}" disabled {% endif %} class="form-control" placeholder="Nº de pedido">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="storeticket-form-external">Nº de pedido externo:</label>
            <span id="salesorder-form-external-view" class="select2-selection__view_tickets" {% if storeticket.salesorder!=null %} attr-id="{{ storeticket.salesorder.externalordernumber }}" {% else %} style="display:none;" {% endif %} ><i class="fa fa-file-text-o" aria-hidden="true"></i><span>&nbsp;Ver Pedido</span></span>
            <input type="text" readonly id="salesorder-form-external" {% if storeticket.salesorder!=null %} value="{{ storeticket.salesorder.externalordernumber }}" disabled {% endif %} class="form-control" placeholder="Nº de pedido externo">
          </div>
        </div>
      </div>
      <br>
</div>
</div>
<br>
<br>
<script>
function getLocations(store,code,variant){
  if((++load_wait)==1) $("#load-spinner").fadeIn();
  $.ajax({
      type: "GET",
      dataType: "json",
      url: "/api/ERP/worklist/locations/"+store+"/"+code+"/"+variant+"/get",
    }).done(function( elements, textStatus, jqXHR ) {
      if((--load_wait)==0) $("#load-spinner").fadeOut();
      $("#storeticket-form-storelocation").empty();
        $("#storeticket-form-storelocation").append('<option value="-1">Selecciona ubicación...</option>');
       elements.locations.forEach( function(valor, indice, array){
        $("#storeticket-form-storelocation").append('<option value="'+valor.id+'">'+valor.name+'</option>');
      });
    });
}
$(document).ready(function() {
  $('body').on('change', "#storeticket-form-store", function(e) {
    var store=$("#storeticket-form-store").val();
    var code=$("#product-form-code").val();
    var variant=$("#product-form-variant").val();
  //  alert(variant);
    $("#product-form-location").empty();
    getLocations(store,code,variant);

  });
});
</script>
