
{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico">
	{{ include('@Globale/header.html.twig') }}
  <script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
  <link rel="stylesheet" href="{{ url('index') }}js/rickshaw/rickshaw.min.css">
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}css/bootstrap-grid.css">
		<link rel="stylesheet" href="{{ url('index') }}css/timeline.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName|trans }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		{#}<h2>{{ interfaceName }}</h2>#}
		<!-- MAIN CONTENT -->
		<div id="storemanagerslocalreports-body">
        <div class="panel-heading">
        <div class="panel-title">Informes del gestor</div>
        </div>
        <div class="panel-body" style="">
        <div class="row">
					<div class="col-md-2">
				    <div class="form-group">
				      <input type="text" id="date-from" name="form[from]" class="datepicker form-control"  placeholder="Fecha de inicio...">
				    </div>
				  </div>
				  <div class="col-md-2">
				    <div class="form-group">
				      <input type="text" id="date-to" name="form[to]" class="datepicker form-control" placeholder="Fecha de fin...">
				    </div>
				  </div>
					<div class="col-md-3">
						<div class="form-group">
							<select type="text" id="stores" class="form-control select2" required>
								{% for option in stores %}
									<option value="{{ option.id }}">{{ option.text }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				  <div class="col-md-2">
				    <div class="form-group">
				      <button id="get-reports" type="button" class="btn btn-default btn-icon icon-left" onclick="getData();">Generar informe<i class="fa fa-download"></i></button>
				    </div>
				  </div>
        </div>
				</br>
				</br>
        <div class="row">
				<div class="col-md-12">
        <div class="col-md-6 overflow-auto" style="border:1px solid #ccc">
				</br>
				<button id="consumeroperations-export" style="display:none;" type="button" class="btn btn-default btn-icon icon-left">Exportar informe<i class="fa fa-download"></i></button>
				</br>
				</br>
          <canvas id="ERPStoresManagersReports-consumeroperations-{{ id }}" width="100%"></canvas>
        </div>
        <div class="col-md-6 overflow-auto" style="border:1px solid #ccc">
				</br>
				<button id="consumerproducts-export"  style="display:none;" type="button" class="btn btn-default btn-icon icon-left" onclick="exportconsumerproducts();">Exportar informe<i class="fa fa-download"></i></button>
				</br>
				</br>
          <canvas id="ERPStoresManagersReports-consumerproducts-{{ id }}" width="100%"></canvas>
        </div>
        </div>
			</div>
			</br>
			</br>
        <div class="row">
					<div class="col-md-12">
          <div class="col-md-6 overflow-auto" style="border:1px solid #ccc">
					</br>
					<button id="bestproducts-export"  style="display:none;" type="button" class="btn btn-default btn-icon icon-left" onclick="exportbestproducts();">Exportar informe<i class="fa fa-download"></i></button>
					</br>
					</br>
					<canvas id="ERPStoresManagersReports-bestproducts-{{ id }}" width="100%"></canvas>
          </div>
          <div class="col-md-6">
							&nbsp;
          </div>
				</div>
        </div>
        </div>
      </div>
    </div>
</div>
{{ include('@ERP/storesmanagersreports_validation.html.twig') }}
<script>
var ctxConsumerOperations = document.getElementById('ERPStoresManagersReports-consumeroperations-{{ id }}');
var ctxConsumerProducts = document.getElementById('ERPStoresManagersReports-consumerproducts-{{ id }}');
var ctxBestProducts = document.getElementById('ERPStoresManagersReports-bestproducts-{{ id }}');

var stackedBar;

var ConsumerOperationsData = {
label: 'Nº de operaciones por usuario',
data: [],
backgroundColor:[
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
			'rgba(255, 189, 253, 0.2)',
			'rgba(196, 248, 239, 0.2)',
			'rgba(200, 244, 213, 0.2)',
			'rgba(201, 203, 207, 0.2)'
    ],
borderColor:  [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
			'rgb(255, 189, 253)',
			'rgb(196, 248, 239)',
			'rgb(200, 244, 213)',
			'rgb(201, 203, 207)'
    ],
borderWidth: 2,
yAxisID: "y-axis-total"
};

var ConsumerProductsData = {
label: 'Nº de productos por usuario',
data: [],
backgroundColor:[
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
			'rgba(255, 189, 253, 0.2)',
			'rgba(196, 248, 239, 0.2)',
			'rgba(200, 244, 213, 0.2)',
			'rgba(201, 203, 207, 0.2)'
    ],
borderColor:  [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
			'rgb(255, 189, 253)',
			'rgb(196, 248, 239)',
			'rgb(200, 244, 213)',
			'rgb(201, 203, 207)'
    ],
borderWidth: 2,
yAxisID: "y-axis-total"
};


var BestProductsData = {
label: 'Productos más utilizados',
data: [],
backgroundColor:[
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
			'rgba(255, 189, 253, 0.2)',
			'rgba(196, 248, 239, 0.2)',
			'rgba(200, 244, 213, 0.2)',
			'rgba(201, 203, 207, 0.2)'
    ],
borderColor:  [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
			'rgb(255, 189, 253)',
			'rgb(196, 248, 239)',
			'rgb(200, 244, 213)',
			'rgb(201, 203, 207)',
    ],
borderWidth: 2,
yAxisID: "y-axis-total"
};


var ConsumerOperationsgraphData = {
labels: [],
datasets: [ConsumerOperationsData]
};

var ConsumerProductsgraphData = {
labels: [],
datasets: [ConsumerProductsData]
};

var BestProductsgraphData = {
labels: [],
datasets: [BestProductsData]
};

var BestProductsCodes = [];
var BestProductsNames = [];

var chartConsumerOperationsOptions = {
  onClick: function(e){
      var element = this.getElementAtEvent(e);
      if(element.length > 0){
          $("#{{ id }}-ERPStoresManagersReports-consumeroperations-modal").modal('toggle');
          //console.log("Clicked on a bar with index: "+element[0]._index+". Now this bar should be marked as active.");
        }
  },
  scales: {
    xAxes: [{
      barPercentage: 1,
      categoryPercentage: 0.6
    }],
    yAxes: [{
      id: "y-axis-total",
      stacked: false
    }]
  }
};

var chartConsumerProductsOptions = {
  onClick: function(e){
      var element = this.getElementAtEvent(e);
      if(element.length > 0){
          $("#{{ id }}-ERPStoresManagersReports-consumerproducts-modal").modal('toggle');
          //console.log("Clicked on a bar with index: "+element[0]._index+". Now this bar should be marked as active.");
        }
  },
  scales: {
    xAxes: [{
      barPercentage: 1,
      categoryPercentage: 0.6
    }],
    yAxes: [{
      id: "y-axis-total",
      stacked: false
    }]
  }
};

var chartBestProductsOptions = {
  onClick: function(e){
      var element = this.getElementAtEvent(e);
      if(element.length > 0){
          $("#{{ id }}-ERPStoresManagersReports-bestproducts-modal").modal('toggle');
          //console.log("Clicked on a bar with index: "+element[0]._index+". Now this bar should be marked as active.");
        }
  },
  scales: {
    xAxes: [{
      barPercentage: 1,
      categoryPercentage: 0.6
    }],
    yAxes: [{
      id: "y-axis-total",
      stacked: false
    }]
  }
};

$(document).ready(function() {
  datepicker();
  stackedBarConsumerOperations = new Chart(ctxConsumerOperations, {
    type: 'bar',
    data: [],
    options: chartConsumerOperationsOptions
  });

  stackedBarConsumerProducts = new Chart(ctxConsumerProducts, {
    type: 'bar',
    data: [],
    options: chartConsumerProductsOptions
  });

  stackedBarBestProducts = new Chart(ctxBestProducts, {
    type: 'doughnut',
    data: [],
    options: chartBestProductsOptions
  });

//  getData();
/*
  window.setInterval(function(){
    getData();
  }, 60000);*/
});



function getData(){
	if(validate_report())
	{
    if((++load_wait)==1) $("#load-spinner").fadeIn();
    $.ajax({
     url: '{{ url('storesManagersGetReports', {"id": id}) }}',
     type: 'POST',
     data: 'start='+$("#date-from").val()+'&end='+$("#date-to").val()+'&store='+$('#stores').val(),
  //   data: JSON.stringify(data),

     success:  function( data ) {

       if((--load_wait)==0) $("#load-spinner").fadeOut();
         var array_ConsumerOperations=[];
         var array_ConsumerOperationsLabels=[];
         var array_ConsumerProducts=[];
         var array_ConsumerProductsLabels=[];
         var array_BestProducts=[];
         var array_BestProductsLabels=[];


      if(typeof data.consumers !== 'undefined')
       $.each( data.consumers, function( key, val ) {

         array_ConsumerOperations.push(val.total*1);
         array_ConsumerOperationsLabels.push(val.NAME+" "+val.lastname);
      //   array_usersIds.push(val.id);
       });

       if(typeof data.consumerproducts !== 'undefined')
        $.each( data.consumerproducts, function( key, val ) {

          array_ConsumerProducts.push(val.total*1);
          array_ConsumerProductsLabels.push(val.NAME+" "+val.lastname);
       //   array_usersIds.push(val.id);
        });

        if(typeof data.bestproducts !== 'undefined')
         $.each( data.bestproducts, function( key, val ) {

           array_BestProducts.push(val.total*1);
           array_BestProductsLabels.push(val.ean13);
					 BestProductsCodes.push(val.code);
					 BestProductsNames.push(val.name);
        //   array_usersIds.push(val.id);
         });

      ConsumerOperationsData.data=array_ConsumerOperations;
      ConsumerOperationsgraphData.labels = array_ConsumerOperationsLabels;
      ConsumerOperationsgraphData.datasets= [ConsumerOperationsData];
      stackedBarConsumerOperations.data=ConsumerOperationsgraphData;
      stackedBarConsumerOperations.update();


      ConsumerProductsData.data=array_ConsumerProducts;
      ConsumerProductsgraphData.labels = array_ConsumerProductsLabels;
      ConsumerProductsgraphData.datasets= [ConsumerProductsData];
      stackedBarConsumerProducts.data=ConsumerProductsgraphData;
      stackedBarConsumerProducts.update();


      BestProductsData.data=array_BestProducts;
      BestProductsgraphData.labels = array_BestProductsLabels;
      BestProductsgraphData.datasets= [BestProductsData];
      stackedBarBestProducts.data=BestProductsgraphData;
      stackedBarBestProducts.update();

			$('#consumeroperations-export').css("display","block");
			$('#consumerproducts-export').css("display","block");
			$('#bestproducts-export').css("display","block");

     }
   });
 }
}



 $('body').on('click', "[id=consumeroperations-export]", function(e) {
	 labels=ConsumerOperationsgraphData.labels;
	 data=ConsumerOperationsData.data;
	 var win = window.open("/api/ERP/storesmanagers/exportconsumeroperations?start="+encodeURI($("#date-from").val())+"&end="+encodeURI($("#date-to").val())+"&labels="+encodeURI(labels)+"&data="+encodeURI(data));
	 win.focus();

 });

 $('body').on('click', "[id=consumerproducts-export]", function(e) {
	 labels=ConsumerProductsgraphData.labels;
	 data=ConsumerProductsData.data;
	 var win = window.open("/api/ERP/storesmanagers/exportconsumerproducts?start="+encodeURI($("#date-from").val())+"&end="+encodeURI($("#date-to").val())+"&labels="+encodeURI(labels)+"&data="+encodeURI(data));
	 win.focus();

 });

 $('body').on('click', "[id=bestproducts-export]", function(e) {
	labels=BestProductsgraphData.labels;
	data=BestProductsData.data;
	codes=BestProductsCodes;
	names=BestProductsNames;
	var win = window.open("/api/ERP/storesmanagers/exportbestproducts?start="+encodeURI($("#date-from").val())+"&end="+encodeURI($("#date-to").val())+"&labels="+encodeURI(labels)+"&data="+encodeURI(data)+"&codes="+encodeURI(codes)+"&names="+encodeURI(names));
	win.focus();

 });


function datepicker(){
  /*
	$('.datetimepicker').each(function(index) {
		  var valueField=$(this).val();
		  var dateField=moment(valueField, "DD/MM/YYYY HH:mm:ss");
		  $(this).datetimepicker({
		  showTodayButton: true,
	    format: 'DD/MM/YYYY HH:mm:ss',
	    locale:'es',
		  useCurrent: true,
		  defaultDate: moment(),
		  tooltips: spanish_tooltips_datetimepicker,
		  date: (dateField.isValid())?dateField:null
		  });
		  if($(this).attr("minDate")!="" && typeof $(this).attr("minDate")!==typeof undefined) $(this).data("DateTimePicker").minDate(moment($(this).attr("minDate"), "YYYY-MM-DD"));
		  if($(this).attr("maxDate")!="" && typeof $(this).attr("maxDate")!==typeof undefined) $(this).data("DateTimePicker").maxDate(moment($(this).attr("maxDate"), "YYYY-MM-DD"));
		});*/


    $('.datepicker').each(function(index) {
      var valueField=$(this).val();
      var dateField=moment(valueField, "DD/MM/YYYY");
        $(this).datetimepicker({
        showTodayButton: true,
        format: 'DD/MM/YYYY',
        locale:'es',
        useCurrent: false,
        tooltips: spanish_tooltips_datetimepicker,
        date: (dateField.isValid())?dateField:null
      });

      if($(this).attr("minDate")!="" && typeof $(this).attr("minDate")!==typeof undefined) $(this).data("DatePicker").minDate(moment($(this).attr("minDate"), "YYYY-MM-DD"));
      if($(this).attr("maxDate")!="" && typeof $(this).attr("maxDate")!==typeof undefined) $(this).data("DatePicker").maxDate(moment($(this).attr("maxDate"), "YYYY-MM-DD"));

    });

/*
		$("#date-from").datetimepicker({
		numberOfMonths: 2,

      onSelect: function(selected) {
        $("#date-to").datepicker("option","minDate", selected);

      }
		});

		$("#date-to").datetimepicker({
		numberOfMonths: 2,

			onSelect: function(selected) {
				$("#date-from").datepicker("option","minDate", selected);

			}
		});*/

}
</script>

<!-- END MODALS -->
{% block footer %}

<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
<!-- Imported scripts on this page -->
<script src="{{ url('index') }}js/datatables/datatables.js"></script>
<script src="{{ url('index') }}js/select2/select2.min.js"></script>



<script src="{{ url('index') }}js/fileinput.js"></script>
<script src="{{ url('index') }}js/ol/ol.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
   <link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
 																		<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
 															<script src="{{ url('index') }}js/jquery.nestable.js"></script>
{% endblock %}
</body>
