
{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico">
	{{ include('@Globale/header.html.twig') }}
  <script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
  <link rel="stylesheet" href="{{ url('index') }}js/rickshaw/rickshaw.min.css">
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}css/bootstrap-grid.css">
		<link rel="stylesheet" href="{{ url('index') }}css/timeline.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName|trans }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		{{ include('@Globale/breadcrumb.html.twig') }}
		{#}<h2>{{ interfaceName }}</h2>#}
		<!-- MAIN CONTENT -->
		 <div class="panel-title">
					<div class="col-md-12">
						<div class="panel-title-list">Filtros de búsqueda</div>
					</div>
		  </div>
			<br>
			<br>
      <div class="panel-body" style="">
        <div class="row">
					<div class="col-md-2">
				    <div class="form-group">
				      <input type="text" id="date-from" name="form[from]" class="datepicker form-control"  placeholder="Fecha de inicio..." value="{{ datefrom }}">
				    </div>
				  </div>
				  <div class="col-md-2">
				    <div class="form-group">
				      <input type="text" id="date-to" name="form[to]" class="datepicker form-control" placeholder="Fecha de fin..." value="{{ dateto }}">
				    </div>
				  </div>
					<div class="col-md-3">
						<div class="form-group">
							<select type="text" id="stores" class="form-control select2" required>
								{% for option in stores %}
									<option value="{{ option.id }}" {% if option.id=="-1" %}selected{% endif %}>{{ option.text }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				  <div class="col-md-2">
				    <div class="form-group">
				      <button id="get-reports" type="button" class="btn btn-default btn-icon icon-left" onclick="getData();">Actualizar informes<i class="fa fa-sync"></i></button>
				    </div>
				  </div>
        </div>
				<ul id="tabs-list" class="nav nav-tabs bordered" style="margin-top:0px!important">
					    <li class="active" id="tab-head-data" style="" attr-id="" attr-name="data">
					        <a href="#tab-body-consumers" data-toggle="tab">
					            <span class="visible-xs"><i class="fa fa-id-card" aria-hidden="true"></i></span>
					            <span class="hidden-xs">Consumidores</span>
					        </a>
					    </li>
							<li id="tab-head-send" attr-id="" attr-name="data" {% if id==0 %}style="display:none;"{% endif %}>
					        <a href="#tab-body-products" data-toggle="tab">
					            <span class="visible-xs"><i class="fa fa-id-card" aria-hidden="true"></i></span>
					            <span class="hidden-xs">Productos</span>
					        </a>
					    </li>
					</ul>

					<div class="tab-content">
					    <div class="tab-pane active" style="" id="tab-body-consumers">
								<div id="consumers-body">
											{{ include('@ERP/storesmanagersoperationslocalreports_consumers.html.twig') }}
								</div>
					    </div>
							 <div class="tab-pane" style="" id="tab-body-products">
								 	<div id="products-body">
										{{ include('@ERP/storesmanagersoperationslocalreports_products.html.twig') }}
									</div>
							</div>
							{{ include('@ERP/buyorders_lines.html.twig') }}
					</div>
        </div>
      </div>
    </div>
</div>
{{ include('@ERP/storesmanagersoperationsreports_details.html.twig') }}
{{ include('@ERP/storesmanagersoperationsreports_validation.html.twig') }}
<script>
var ctxConsumerOperations = document.getElementById('ERPStoresManagersOperationsReports-consumeroperations-{{ id }}');
var ctxBestProducts = document.getElementById('ERPStoresManagersOperationsReports-bestproducts-{{ id }}');

var stackedBar;



var ConsumerOperationsData = {
label: 'Consumo por usuario (TOP 10)',
data: [],
backgroundColor:[
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
			'rgba(255, 189, 253, 0.2)',
			'rgba(196, 248, 239, 0.2)',
			'rgba(200, 244, 213, 0.2)',
			'rgba(201, 203, 207, 0.2)'
    ],
borderColor:  [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
			'rgb(255, 189, 253)',
			'rgb(196, 248, 239)',
			'rgb(200, 244, 213)',
			'rgb(201, 203, 207)'
    ],
borderWidth: 2,
yAxisID: "y-axis-total"
};



var BestProductsData = {
label: 'Ranking Productos (TOP 10)',
data: [],
backgroundColor:[
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
			'rgba(255, 189, 253, 0.2)',
			'rgba(196, 248, 239, 0.2)',
			'rgba(200, 244, 213, 0.2)',
			'rgba(201, 203, 207, 0.2)'
    ],
borderColor:  [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
			'rgb(255, 189, 253)',
			'rgb(196, 248, 239)',
			'rgb(200, 244, 213)',
			'rgb(201, 203, 207)'
    ],
borderWidth: 2,
yAxisID: "y-axis-total"
};



var ConsumerOperationsgraphData = {
labels: [],
datasets: [ConsumerOperationsData]
};

var BestProductsgraphData = {
labels: [],
datasets: [BestProductsData]
};


var chartConsumerOperationsOptions = {
  onClick: function(e){
      var element = this.getElementAtEvent(e);
      if(element.length > 0){
          $("#{{ id }}-ERPStoresManagersOperationsReports-consumeroperations-modal").modal('toggle');
          //console.log("Clicked on a bar with index: "+element[0]._index+". Now this bar should be marked as active.");
        }
  },
  scales: {
    xAxes: [{
      barPercentage: 1,
      categoryPercentage: 0.6
    }],
    yAxes: [{
      id: "y-axis-total",
      stacked: false,
			ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return value + '€';
                    }
			}
    }]
  }
};



var chartBestProductsOptions = {
  onClick: function(e){
      var element = this.getElementAtEvent(e);
      if(element.length > 0){
          $("#{{ id }}-ERPStoresManagersOperationsReports-bestproducts-modal").modal('toggle');
          //console.log("Clicked on a bar with index: "+element[0]._index+". Now this bar should be marked as active.");
        }
  },
  scales: {
    xAxes: [{
      barPercentage: 1,
      categoryPercentage: 0.6
    }],
    yAxes: [{
      id: "y-axis-total",
      stacked: false,
			ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return value + '€';
                    }
			}
    }]
  }
};



function updateURLParameter(url, param, paramVal)
{
    var TheAnchor = null;
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";

    if (additionalURL)
    {
        var tmpAnchor = additionalURL.split("#");
        var TheParams = tmpAnchor[0];
            TheAnchor = tmpAnchor[1];
        if(TheAnchor)
            additionalURL = TheParams;

        tempArray = additionalURL.split("&");

        for (var i=0; i<tempArray.length; i++)
        {
            if(tempArray[i].split('=')[0] != param)
            {
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }
    else
    {
        var tmpAnchor = baseURL.split("#");
        var TheParams = tmpAnchor[0];
            TheAnchor  = tmpAnchor[1];

        if(TheParams)
            baseURL = TheParams;
    }

    if(TheAnchor)
        paramVal += "#" + TheAnchor;

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}





function getData(){
	if(validate_report())
	{
			var url_list=$("#{{ consumersoperationslist.id }}").DataTable().ajax.url();
			url_list=updateURLParameter(url_list,"datefrom",$('#date-from').val());
			url_list=updateURLParameter(url_list,"dateto",$('#date-to').val());
			url_list=updateURLParameter(url_list,"store",$('#stores').val());
		  $("#{{ consumersoperationslist.id }}").DataTable().ajax.url(url_list).load();

			var url_list2=$("#{{ productslist.id }}").DataTable().ajax.url();
			url_list2=updateURLParameter(url_list2,"datefrom",$('#date-from').val());
			url_list2=updateURLParameter(url_list2,"dateto",$('#date-to').val());
			url_list2=updateURLParameter(url_list2,"store",$('#stores').val());
		  $("#{{ productslist.id }}").DataTable().ajax.url(url_list2).load();


			if((++load_wait)==1) $("#load-spinner").fadeIn();
	    $.ajax({
	     url: '{{ url('storesManagersOperationsGetReports', {"id": id}) }}',
	     type: 'POST',
	     data: 'start='+$("#date-from").val()+'&end='+$("#date-to").val()+'&store='+$('#stores').val(),
	  //   data: JSON.stringify(data),

	     success:  function( data ) {

	       if((--load_wait)==0) $("#load-spinner").fadeOut();
				 var array_ConsumerOperations=[];
				 var array_ConsumerOperationsLabels=[];

				 var array_BestProducts=[];
				 var array_BestProductsLabels=[];


				 if(typeof data.consumers !== 'undefined')
					$.each( data.consumers, function( key, val ) {
						array_ConsumerOperations.push(val.total*1);
						array_ConsumerOperationsLabels.push(val.NAME+" "+val.lastname);
				 //   array_usersIds.push(val.id);
					});


					if(typeof data.bestproducts !== 'undefined')
 					$.each( data.bestproducts, function( key, val ) {

 						array_BestProducts.push(val.total*1);
 						array_BestProductsLabels.push(val.code);
 				 //   array_usersIds.push(val.id);
 					});

					ConsumerOperationsData.data=array_ConsumerOperations;
					ConsumerOperationsgraphData.labels = array_ConsumerOperationsLabels;
					ConsumerOperationsgraphData.datasets= [ConsumerOperationsData];
					stackedBarConsumerOperations.data=ConsumerOperationsgraphData;
					stackedBarConsumerOperations.update();


					BestProductsData.data=array_BestProducts;
					BestProductsgraphData.labels = array_BestProductsLabels;
					BestProductsgraphData.datasets= [BestProductsData];
					stackedBarBestProducts.data=BestProductsgraphData;
					stackedBarBestProducts.update();

					$('#consumeroperations-export').css("display","block");
					$('#bestproducts-export').css("display","block");

					}
				});
 }
}


$('body').on('click', "[id=consumeroperations-export]", function(e) {
	id= {{ id }};
	var win = window.open("/api/ERP/storesmanagers/operations/exportconsumeroperations?start="+encodeURI($("#date-from").val())+"&end="+encodeURI($("#date-to").val())+'&store='+encodeURI($('#stores').val())+'&manager='+encodeURI({{ id }}));
	win.focus();

});

$('body').on('click', "[id=bestproducts-export]", function(e) {
	id= {{ id }};
	//labels=BestProductgraphData.labels;
	//data=BestProductData.data;
	var win = window.open("/api/ERP/storesmanagers/operations/exportbestproducts?start="+encodeURI($("#date-from").val())+"&end="+encodeURI($("#date-to").val())+'&store='+encodeURI($('#stores').val())+'&manager='+encodeURI({{ id }}));
	win.focus();

});

function datepicker(){

    $('.datepicker').each(function(index) {
      var valueField=$(this).val();
      var dateField=moment(valueField, "DD/MM/YYYY");
        $(this).datetimepicker({
        showTodayButton: true,
        format: 'DD/MM/YYYY',
        locale:'es',
        useCurrent: false,
        tooltips: spanish_tooltips_datetimepicker,
        date: (dateField.isValid())?dateField:null
      });

      if($(this).attr("minDate")!="" && typeof $(this).attr("minDate")!==typeof undefined) $(this).data("DatePicker").minDate(moment($(this).attr("minDate"), "YYYY-MM-DD"));
      if($(this).attr("maxDate")!="" && typeof $(this).attr("maxDate")!==typeof undefined) $(this).data("DatePicker").maxDate(moment($(this).attr("maxDate"), "YYYY-MM-DD"));

    });


}




$(document).ready(function() {
  datepicker();
	getData();

	stackedBarConsumerOperations = new Chart(ctxConsumerOperations, {
    type: 'bar',
    data: [],
    options: chartConsumerOperationsOptions
  });

	stackedBarBestProducts = new Chart(ctxBestProducts, {
    type: 'bar',
    data: [],
    options: chartBestProductsOptions
  });

});
</script>

<!-- END MODALS -->
{% block footer %}

<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
<!-- Imported scripts on this page -->
<script src="{{ url('index') }}js/datatables/datatables.js"></script>
<script src="{{ url('index') }}js/select2/select2.min.js"></script>



<script src="{{ url('index') }}js/fileinput.js"></script>
<script src="{{ url('index') }}js/ol/ol.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
   <link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
 																		<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
 															<script src="{{ url('index') }}js/jquery.nestable.js"></script>
{% endblock %}
</body>
