<script src="{{ url('index') }}js/moment.min.js"></script>
<script src="{{ url('index') }}js/moment-es.js"></script>
<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
<div class="panel-heading">
</div>
<div class="panel-body" style="">
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <input type="text" id="date-from" name="form[from]" class="datepicker form-control"  placeholder="Fecha de inicio...">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <input type="text" id="date-to" name="form[to]" class="datepicker form-control" placeholder="Fecha de fin...">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <select type="text" id="stores" class="form-control select2" required>
        {% for option in stores %}
          <option value="{{ option.id }}" {% if option.id=="-1" %}selected{% endif %}>{{ option.text }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <button id="get-reports" type="button" class="btn btn-default btn-icon icon-left" onclick="getData();">Actualizar informes<i class="fa fa-sync"></i></button>
    </div>
  </div>
</div>
</br>
</br>
<div class="row">
  <div class="col-md-12">
    <div class="panel-title-list">Consumos personal</div>
      <div class="col-md-7">
      {% if consumersoperationslist is defined %}
      {% set listConstructor = consumersoperationslist %}
      {{ include('@Globale/list.html.twig') }}
      {% endif %}
    </div>
    </br></br></br></br></br>
    <div class="col-md-5 overflow-auto" style="border:1px solid #ccc">
      </br>

      <button id="consumeroperations-export" style="display:none;" type="button" class="btn btn-default btn-icon icon-left">Exportar informe<i class="fa fa-download"></i></button>
      </br>
      </br>
        <canvas id="ERPStoresManagersReports-consumeroperations-{{ id }}" width="100%"></canvas>
    </div>
  </div>
</div>
</br>
</br>
<div class="row">
  <div class="col-md-7">
    <div class="panel-title-list">Ranking productos</div>
    {% if productslist is defined %}
    {% set listConstructor = productslist %}
    {{ include('@Globale/list.html.twig') }}
    {% endif %}
  </div>
  </br></br></br></br></br></br></br></br>
  <div class="col-md-5 overflow-auto" style="border:1px solid #ccc">
    </br>

    <button id="bestproducts-export" style="display:none;" type="button" class="btn btn-default btn-icon icon-left">Exportar informe<i class="fa fa-download"></i></button>
    </br>
    </br>
      <canvas id="ERPStoresManagersReports-bestproducts-{{ id }}" width="100%"></canvas>
  </div>
</div>


<div class="modal fade" tabindex="-1" id="consumerdetailedreport-modal-form" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">Consumo detallado del usuario</h4>
				</div>
        <div id="consumerdetailedreport-modal-form-body">
					<div class="row">
						<div class="col-md-12">
							{% if detailedconsumerlist is defined %}
							{% set listConstructor = detailedconsumerlist %}
							{{ include('@Globale/list.html.twig') }}
							{% endif %}
						</div>
					</div>
        </div>
        </br></br>
        <div id="consumerdetailedreport-modal-form-footer" class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ ("Aceptar")|trans }}</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="productdetailedreport-modal-form" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">Consumo detallado de producto</h4>
				</div>
        <div id="productdetailedreport-modal-form-body">
					<div class="row">
						<div class="col-md-12">
							{% if detailedproductlist is defined %}
							{% set listConstructor = detailedproductlist %}
							{{ include('@Globale/list.html.twig') }}
							{% endif %}
						</div>
					</div>
        </div>
        </br></br>
        <div id="productdetailedreport-modal-form-footer" class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ ("Aceptar")|trans }}</button>
        </div>
      </div>
    </div>
</div>
</div>



{{ include('@ERP/storesmanagersoperationsreports_validation.html.twig') }}
<script>


$('body').on('click', "[id^='listStoresManagersOperations-field-button-consumerDetailsButton-']", function(e) {
		var url_list3=$("#{{ detailedconsumerlist.id }}").DataTable().ajax.url();
		url_list3=updateURLParameter(url_list3,"consumerid",$(this).attr('attr-id'));
		url_list3=updateURLParameter(url_list3,"datefrom",$('#date-from').val());
		url_list3=updateURLParameter(url_list3,"dateto",$('#date-to').val());
		url_list3=updateURLParameter(url_list3,"store",$('#stores').val());
		$("#{{ detailedconsumerlist.id }}").DataTable().ajax.url(url_list3).load();
		$("#consumerdetailedreport-modal-form").modal('show');
});

$('body').on('click', "[id^='listStoresManagersOperationsLines-field-button-productDetailsButton-']", function(e) {
		var url_list4=$("#{{ detailedproductlist.id }}").DataTable().ajax.url();
		url_list4=updateURLParameter(url_list4,"productid",$(this).attr('attr-id'));
		url_list4=updateURLParameter(url_list4,"datefrom",$('#date-from').val());
		url_list4=updateURLParameter(url_list4,"dateto",$('#date-to').val());
		url_list4=updateURLParameter(url_list4,"store",$('#stores').val());
		$("#{{ detailedproductlist.id }}").DataTable().ajax.url(url_list4).load();
		$("#productdetailedreport-modal-form").modal('show');
});


var ctxConsumerOperations = document.getElementById('ERPStoresManagersReports-consumeroperations-{{ id }}');
var ctxBestProducts = document.getElementById('ERPStoresManagersReports-bestproducts-{{ id }}');

var stackedBar;



var ConsumerOperationsData = {
label: 'Consumo por usuario (TOP 10)',
data: [],
backgroundColor:[
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
			'rgba(255, 189, 253, 0.2)',
			'rgba(196, 248, 239, 0.2)',
			'rgba(200, 244, 213, 0.2)',
			'rgba(201, 203, 207, 0.2)'
    ],
borderColor:  [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
			'rgb(255, 189, 253)',
			'rgb(196, 248, 239)',
			'rgb(200, 244, 213)',
			'rgb(201, 203, 207)'
    ],
borderWidth: 2,
yAxisID: "y-axis-total"
};



var BestProductsData = {
label: 'Ranking Productos (TOP 10)',
data: [],
backgroundColor:[
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
			'rgba(255, 189, 253, 0.2)',
			'rgba(196, 248, 239, 0.2)',
			'rgba(200, 244, 213, 0.2)',
			'rgba(201, 203, 207, 0.2)'
    ],
borderColor:  [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
			'rgb(255, 189, 253)',
			'rgb(196, 248, 239)',
			'rgb(200, 244, 213)',
			'rgb(201, 203, 207)'
    ],
borderWidth: 2,
yAxisID: "y-axis-total"
};



var ConsumerOperationsgraphData = {
labels: [],
datasets: [ConsumerOperationsData]
};

var BestProductsgraphData = {
labels: [],
datasets: [BestProductsData]
};


var chartConsumerOperationsOptions = {
  onClick: function(e){
      var element = this.getElementAtEvent(e);
      if(element.length > 0){
          $("#{{ id }}-ERPStoresManagersReports-consumeroperations-modal").modal('toggle');
          //console.log("Clicked on a bar with index: "+element[0]._index+". Now this bar should be marked as active.");
        }
  },
  scales: {
    xAxes: [{
      barPercentage: 1,
      categoryPercentage: 0.6
    }],
    yAxes: [{
      id: "y-axis-total",
      stacked: false
    }]
  }
};



var chartBestProductsOptions = {
  onClick: function(e){
      var element = this.getElementAtEvent(e);
      if(element.length > 0){
          $("#{{ id }}-ERPStoresManagersReports-bestproducts-modal").modal('toggle');
          //console.log("Clicked on a bar with index: "+element[0]._index+". Now this bar should be marked as active.");
        }
  },
  scales: {
    xAxes: [{
      barPercentage: 1,
      categoryPercentage: 0.6
    }],
    yAxes: [{
      id: "y-axis-total",
      stacked: false
    }]
  }
};





function updateURLParameter(url, param, paramVal)
{
    var TheAnchor = null;
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";

    if (additionalURL)
    {
        var tmpAnchor = additionalURL.split("#");
        var TheParams = tmpAnchor[0];
            TheAnchor = tmpAnchor[1];
        if(TheAnchor)
            additionalURL = TheParams;

        tempArray = additionalURL.split("&");

        for (var i=0; i<tempArray.length; i++)
        {
            if(tempArray[i].split('=')[0] != param)
            {
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }
    else
    {
        var tmpAnchor = baseURL.split("#");
        var TheParams = tmpAnchor[0];
            TheAnchor  = tmpAnchor[1];

        if(TheParams)
            baseURL = TheParams;
    }

    if(TheAnchor)
        paramVal += "#" + TheAnchor;

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}





function getData(){
	if(validate_report())
	{
			var url_list=$("#{{ consumersoperationslist.id }}").DataTable().ajax.url();
			url_list=updateURLParameter(url_list,"datefrom",$('#date-from').val());
			url_list=updateURLParameter(url_list,"dateto",$('#date-to').val());
			url_list=updateURLParameter(url_list,"store",$('#stores').val());
		  $("#{{ consumersoperationslist.id }}").DataTable().ajax.url(url_list).load();

			var url_list2=$("#{{ productslist.id }}").DataTable().ajax.url();
			url_list2=updateURLParameter(url_list2,"datefrom",$('#date-from').val());
			url_list2=updateURLParameter(url_list2,"dateto",$('#date-to').val());
			url_list2=updateURLParameter(url_list2,"store",$('#stores').val());
		  $("#{{ productslist.id }}").DataTable().ajax.url(url_list2).load();


			if((++load_wait)==1) $("#load-spinner").fadeIn();
	    $.ajax({
	     url: '{{ url('storesManagersOperationsGetReports', {"id": id}) }}',
	     type: 'POST',
	     data: 'start='+$("#date-from").val()+'&end='+$("#date-to").val()+'&store='+$('#stores').val(),
	  //   data: JSON.stringify(data),

	     success:  function( data ) {

	       if((--load_wait)==0) $("#load-spinner").fadeOut();
				 var array_ConsumerOperations=[];
				 var array_ConsumerOperationsLabels=[];

				 var array_BestProducts=[];
				 var array_BestProductsLabels=[];

				 if(typeof data.consumers !== 'undefined')
					$.each( data.consumers, function( key, val ) {

						array_ConsumerOperations.push(val.total*1);
						array_ConsumerOperationsLabels.push(val.NAME+" "+val.lastname);
				 //   array_usersIds.push(val.id);
					});


					if(typeof data.bestproducts !== 'undefined')
 					$.each( data.bestproducts, function( key, val ) {

 						array_BestProducts.push(val.total*1);
 						array_BestProductsLabels.push(val.code);
 				 //   array_usersIds.push(val.id);
 					});

					ConsumerOperationsData.data=array_ConsumerOperations;
					ConsumerOperationsgraphData.labels = array_ConsumerOperationsLabels;
					ConsumerOperationsgraphData.datasets= [ConsumerOperationsData];
					stackedBarConsumerOperations.data=ConsumerOperationsgraphData;
					stackedBarConsumerOperations.update();


					BestProductsData.data=array_BestProducts;
					BestProductsgraphData.labels = array_BestProductsLabels;
					BestProductsgraphData.datasets= [BestProductsData];
					stackedBarBestProducts.data=BestProductsgraphData;
					stackedBarBestProducts.update();

					$('#consumeroperations-export').css("display","block");
					$('#bestproducts-export').css("display","block");

					}
				});
 }
}


$('body').on('click', "[id=consumeroperations-export]", function(e) {
	labels=ConsumerOperationsgraphData.labels;
	data=ConsumerOperationsData.data;
	var win = window.open("/api/ERP/storesmanagers/operations/exportconsumeroperations?start="+encodeURI($("#date-from").val())+"&end="+encodeURI($("#date-to").val())+"&labels="+encodeURI(labels)+"&data="+encodeURI(data));
	win.focus();

});

$('body').on('click', "[id=bestproducts-export]", function(e) {
	labels=BestProductgraphData.labels;
	data=BestProductData.data;
	var win = window.open("/api/ERP/storesmanagers/operations/exportbestproducts?start="+encodeURI($("#date-from").val())+"&end="+encodeURI($("#date-to").val())+"&labels="+encodeURI(labels)+"&data="+encodeURI(data));
	win.focus();

});




function datepicker(){

    $('.datepicker').each(function(index) {
      var valueField=$(this).val();
      var dateField=moment(valueField, "DD/MM/YYYY");
        $(this).datetimepicker({
        showTodayButton: true,
        format: 'DD/MM/YYYY',
        locale:'es',
        useCurrent: false,
        tooltips: spanish_tooltips_datetimepicker,
        date: (dateField.isValid())?dateField:null
      });

      if($(this).attr("minDate")!="" && typeof $(this).attr("minDate")!==typeof undefined) $(this).data("DatePicker").minDate(moment($(this).attr("minDate"), "YYYY-MM-DD"));
      if($(this).attr("maxDate")!="" && typeof $(this).attr("maxDate")!==typeof undefined) $(this).data("DatePicker").maxDate(moment($(this).attr("maxDate"), "YYYY-MM-DD"));

    });


}




$(document).ready(function() {
  datepicker();
	getData();

	stackedBarConsumerOperations = new Chart(ctxConsumerOperations, {
    type: 'bar',
    data: [],
    options: chartConsumerOperationsOptions
  });

	stackedBarBestProducts = new Chart(ctxBestProducts, {
    type: 'doughnut',
    data: [],
    options: chartBestProductsOptions
  });

});
</script>

<!-- END MODALS -->
{% block footer %}

<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
<!-- Imported scripts on this page -->
<script src="{{ url('index') }}js/datatables/datatables.js"></script>
<script src="{{ url('index') }}js/select2/select2.min.js"></script>



<script src="{{ url('index') }}js/fileinput.js"></script>
<script src="{{ url('index') }}js/ol/ol.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
{% endblock %}
