{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<meta name="author" content="" />

	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}css/bootstrap-grid.css">
	<link rel="stylesheet" href="{{ url('index') }}css/timeline.css">
	<link rel="stylesheet" href="{{ url('index') }}js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}js/rickshaw/rickshaw.min.css">
</head>
{% endblock %}
<title>{% block title %}{{ interfaceName|trans }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container {% if userData.interfaceConfig.collapsedSidebar is defined and userData.interfaceConfig.collapsedSidebar %}sidebar-collapsed{% endif %}"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		{#}<h2>{{ interfaceName }}</h2>#}
		<!-- MAIN CONTENT -->
    <div id="channels-container" style="width:100%">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="row"><div class="col-sm-12" style=" background-color: #4e535d; color: #fff; font-size: 15px; text-align: center; padding: 5px;">{{ vendingmachine.name }}</div></div>
        <div class="row" style="font-size: 13px; padding: 5px;"><div class="col-sm-4"><i class="fas fa-cogs"></i>&nbsp;Máquina</div><div id="machine_power" class="col-md-4"></div><div id="machine_power_buttons" style="text-align: right;" class="col-md-4"></div></div>
        <div class="row" style="font-size: 13px; padding: 5px; background-color: whitesmoke;"><div class="col-sm-4"><i class="fas fa-server"></i>&nbsp;Controlador</div><div id="controller_power" class="col-md-4"></div><div id="controller_power_buttons" style="text-align: right;" class="col-md-4"></div></div>
        <div class="row" style="font-size: 13px; padding: 5px;"><div class="col-sm-4"><i class="fas fa-running"></i>&nbsp;Servicio</div><div id="service_power" class="col-md-4"></div><div id="service_power_buttons" style="text-align: right;" class="col-md-4"></div></div>
        <div class="row" style="font-size: 13px; padding: 5px; background-color: whitesmoke;"><div class="col-sm-4"><i class="fas fa-microchip"></i>&nbsp;Lector</div><div id="reader_power" class="col-md-4"></div><div id="reader_power_buttons" style="text-align: right;" class="col-md-4"></div></div>
        <div class="row" style="font-size: 13px; padding: 5px;"><div class="col-sm-4"><i class="fa fa-toggle-on"></i>&nbsp;Relé Aux</div><div id="machine_auxrelay" class="col-md-4"></div><div id="machine_auxrelay_buttons" style="text-align: right;" class="col-md-4"></div></div>
				<div class="row" style="font-size: 13px; padding: 5px; background-color: whitesmoke;"><div class="col-sm-4"><i class="fas fa-keyboard"></i>&nbsp;Interfaz Recarga</div><div id="replenishment_status" class="col-md-4"></div></div>
				<div class="row" style="font-size: 13px; padding: 5px;"><div class="col-sm-4"><i class="fas fa-door-open"></i>&nbsp;Puerta Producto</div><div id="door1_status" class="col-md-4"></div></div>
        <div class="row" style="font-size: 13px; padding: 5px; background-color: whitesmoke;"><div class="col-sm-4"><i class="fas fa-door-open"></i>&nbsp;Puerta Control</div><div id="door2_status" class="col-md-4"></div></div>
				<div class="row" style="font-size: 13px; padding: 5px;"><div class="col-sm-4"><i class="fas fa-temperature-low"></i>&nbsp;Temp. Prod</div><div id="product_temp" class="col-md-4"></div></div>
				<div class="row" style="font-size: 13px; padding: 5px; background-color: whitesmoke;"><div class="col-sm-4"><i class="fas fa-temperature-low"></i>&nbsp;Temp. Controlador</div><div id="controller_temp" class="col-md-4"></div></div>
				<div class="row" style="font-size: 13px; padding: 5px;"><div class="col-sm-4"><i class="fas fa-sim-card"></i>&nbsp;Operador Red</div><div id="net_operator" class="col-md-4"></div></div>
				<div class="row" style="font-size: 13px; padding: 5px; background-color: whitesmoke;"><div class="col-sm-4"><i class="fas fa-broadcast-tower"></i>&nbsp;Tipo de Red</div><div id="net_type" class="col-md-4"></div></div>
				<div class="row" style="font-size: 13px; padding: 5px;"><div class="col-sm-4"><i class="fas fa-signal"></i>&nbsp;Señal</div><div id="net_signal" class="col-md-4"></div></div>
				<div class="row" style="font-size: 13px; padding: 5px; background-color: whitesmoke;"><div class="col-sm-4"><i class="fas fa-clock"></i>&nbsp;Tiempo activo</div><div id="alive_time" class="col-md-4"></div></div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
      </div>
    </div>
		{{ include('@Globale/chat.html.twig') }}
</div>

<script>
var tag_off='<div style="padding: 2px 14px;background: #ee4749;color: #ffffff;text-align: center;display: inline;border-radius: 6px;">APAGADO</div>';
var tag_on='<div style="padding: 2px 14px;background: #47b147;color: #ffffff;text-align: center;display: inline;border-radius: 6px;">ENCENDIDO</div>';
var tag_disconnected='<div style="padding: 2px 14px;background: #ee4749;color: #ffffff;text-align: center;display: inline;border-radius: 6px;">DESCONECTADO</div>';
var tag_connected='<div style="padding: 2px 14px;background: #47b147;color: #ffffff;text-align: center;display: inline;border-radius: 6px;">CONECTADO</div>';
var tag_open='<div style="padding: 2px 14px;background: #ee4749;color: #ffffff;text-align: center;display: inline;border-radius: 6px;">ABIERTO</div>';
var tag_closed='<div style="padding: 2px 14px;background: #47b147;color: #ffffff;text-align: center;display: inline;border-radius: 6px;">CERRADO</div>';
var button_offmachine='<button id="machine_button_poweroff" type="button" class=" btn btn-danger tooltip-primary" title="Apagar máquina"><i class="fas fa-power-off"></i></button>';
var button_onmachine='<button id="machine_button_poweron" type="button" class=" btn btn-success tooltip-primary" title="Encender máquina"><i class="fas fa-power-off"></i></button>';
var button_resetmachine='<button id="machine_button_reset" type="button" class=" btn btn-info tooltip-primary" title="Reiniciar máquina"><i class="fas fa-redo"></i></button>';
var button_offauxrelay='<button id="machine_auxrelay_button_poweroff" type="button" class=" btn btn-danger tooltip-primary" title="Apagar Relé Auxiliar"><i class="fas fa-power-off"></i></button>';
var button_onauxrelay='<button id="machine_auxrelay_button_poweron" type="button" class=" btn btn-success tooltip-primary" title="Encender Relé Auxilia"><i class="fas fa-power-off"></i></button>';
var button_resetcontroller='<button id="controller_button_reset" type="button" class=" btn btn-info tooltip-primary" title="Reiniciar controlador"><i class="fas fa-redo"></i></button>';
var button_offservice='<button id="service_button_poweroff" type="button" class=" btn btn-danger tooltip-primary" title="Parar servicio"><i class="fas fa-power-off"></i></button>';
var button_onservice='<button id="service_button_poweron" type="button" class=" btn btn-success tooltip-primary" title="Arrancar servicio"><i class="fas fa-power-off"></i></button>';
var button_resetservice='<button id="service_button_reset" type="button" class=" btn btn-info tooltip-primary" title="Reiniciar servicio"><i class="fas fa-redo"></i></button>';
var button_offreader='<button id="reader_button_poweroff" type="button" class=" btn btn-danger tooltip-primary" title="Parar lector"><i class="fas fa-power-off"></i></button>';
var button_onreader='<button id="reader_button_poweron" type="button" class=" btn btn-success tooltip-primary" title="Arrancar lector"><i class="fas fa-power-off"></i></button>';
function getStatus(){
  $.post('/api/ERP/storesmanagers/vendingmachines/command/status/{{id}}', {},
		function(data, status, xhr){
			if(data.result==1){
        {# Check machine power #}
				if(data.data.R1=="0"){
          $("#machine_power").html(tag_on);
          $("#machine_power_buttons").html(button_resetmachine+"&nbsp;&nbsp;"+button_offmachine);
        }else{
          $("#machine_power").html(tag_off);
          $("#machine_power_buttons").html(button_onmachine);
        }
        if(data.data.R2=="0"){
          $("#machine_auxrelay").html(tag_off);
          $("#machine_auxrelay_buttons").html(button_onauxrelay);
        }else{
          $("#machine_auxrelay").html(tag_on);
          $("#machine_auxrelay_buttons").html(button_offauxrelay);
        }
        $("#controller_power").html(tag_on);
        $("#controller_power_buttons").html(button_resetcontroller);
        if(data.data.SERVICE=="1"){
          $("#service_power").html(tag_on);
          $("#service_power_buttons").html(button_resetservice+"&nbsp;&nbsp;"+button_offservice);
        }else{
          $("#service_power").html(tag_off);
          $("#service_power_buttons").html(button_onservice);
        }
        if(data.data.READER=="1"){
          $("#reader_power").html(tag_on);
          $("#reader_power_buttons").html(button_offreader);
        }else{
          $("#reader_power").html(tag_off);
          $("#reader_power_buttons").html(button_onreader);
        }
				if(data.data.C1=="0"){
          $("#door1_status").html(tag_closed);
        }else{
          $("#door1_status").html(tag_open);
        }
				if(data.data.C2=="0"){
          $("#door2_status").html(tag_closed);
        }else{
          $("#door2_status").html(tag_open);
        }
				if(data.data.REPLENISHMENT_IFACE=="1"){
          $("#replenishment_status").html(tag_connected);
        }else{
          $("#replenishment_status").html(tag_disconnected);
        }
				$("#product_temp").html(data.data.T1+" °C");
				$("#controller_temp").html(data.data.TCORE0+" °C");
				$("#net_operator").html(data.data.OPERATOR);
				$("#net_type").html(data.data.NETTYPE);
				$("#net_signal").html(data.data.SIGNAL);
				$("#alive_time").html(data.data.TIMEON);

			}else toastr.error("Ocurrio un error al obtener el estado de la máquina expendedora", "Confirmación", confirmation);
		}
	);
}

$(document).ready(function() {
	{# Poner el foco en el primer input válido de la ficha #}
	$('.form-control:visible:enabled:first').focus();
  getStatus();
	window.setInterval(function(){
		getStatus();
	}, 30000);

  $('body').on('click', "#machine_button_poweroff", function(e) {
    $.confirm({
        theme: 'bootstrap',
        title: '',
        content: '¿Seguro que desea apagar esta máquina?',
        buttons: {
           confirm: { text: 'Si', btnClass: 'btn-green', action: function(){
                     if((++load_wait)==1) $("#load-spinner").fadeIn();
                     $.post('/api/ERP/storesmanagers/vendingmachines/command/poweroff/{{id}}', {},
                       function(data, status, xhr){
                         if((--load_wait)==0) $("#load-spinner").fadeOut();
                         if(data.result==1 && data.data.result==1){
                           $("#machine_power").html(tag_off);
                           $("#machine_power_buttons").html(button_onmachine);
                           toastr.success("Comando enviado correctamente", "Confirmación", confirmation);
                         }else toastr.error("Ocurrio un error al intentar apagar la máquina expendedora", "Confirmación", confirmation);
                       }
                     );
                  }

                  },
           cancel: { text: 'No', btnClass: 'btn-red', action: function(){}
         }
       }
    });
  });

  $('body').on('click', "#machine_button_poweron", function(e) {
    $.confirm({
        theme: 'bootstrap',
        title: '',
        content: '¿Seguro que desea encender esta máquina?',
        buttons: {
           confirm: { text: 'Si', btnClass: 'btn-green', action: function(){
                     if((++load_wait)==1) $("#load-spinner").fadeIn();
                     $.post('/api/ERP/storesmanagers/vendingmachines/command/poweron/{{id}}', {},
                       function(data, status, xhr){
                         if((--load_wait)==0) $("#load-spinner").fadeOut();
                         if(data.result==1 && data.data.result==1){
                           $("#machine_power").html(tag_on);
                           $("#machine_power_buttons").html(button_resetmachine+"&nbsp;&nbsp;"+button_offmachine);
                           toastr.success("Comando enviado correctamente", "Confirmación", confirmation);
                         }else toastr.error("Ocurrio un error al intentar encender la máquina expendedora", "Confirmación", confirmation);
                       }
                     );
                  }

                  },
           cancel: { text: 'No', btnClass: 'btn-red', action: function(){}
         }
       }
    });
  });

  $('body').on('click', "#machine_button_reset", function(e) {
    $.confirm({
        theme: 'bootstrap',
        title: '',
        content: '¿Seguro que desea reiniciar esta máquina?',
        buttons: {
           confirm: { text: 'Si', btnClass: 'btn-green', action: function(){
                     if((++load_wait)==1) $("#load-spinner").fadeIn();
                     $.post('/api/ERP/storesmanagers/vendingmachines/command/reset/{{id}}', {},
                       function(data, status, xhr){
                         if((--load_wait)==0) $("#load-spinner").fadeOut();
                         if(data.result==1 && data.data.result==1){
                           toastr.success("Comando enviado correctamente", "Confirmación", confirmation);
                         }else toastr.error("Ocurrio un error al intentar reiniciar la máquina expendedora", "Confirmación", confirmation);
                       }
                     );
                  }

                  },
           cancel: { text: 'No', btnClass: 'btn-red', action: function(){}
         }
       }
    });
  });

  $('body').on('click', "#controller_button_reset", function(e) {
    $.confirm({
        theme: 'bootstrap',
        title: '',
        content: '¿Seguro que desea reiniciar el controlador?',
        buttons: {
           confirm: { text: 'Si', btnClass: 'btn-green', action: function(){
                     if((++load_wait)==1) $("#load-spinner").fadeIn();
                     $.post('/api/ERP/storesmanagers/vendingmachines/command/resetcontroller/{{id}}', {},
                       function(data, status, xhr){
                         if((--load_wait)==0) $("#load-spinner").fadeOut();
                         if(data.result==1 && data.data.result==1){
                           toastr.success("Comando enviado correctamente", "Confirmación", confirmation);
                         }else toastr.error("Ocurrio un error al intentar reiniciar el controlador", "Confirmación", confirmation);
                       }
                     );
                  }

                  },
           cancel: { text: 'No', btnClass: 'btn-red', action: function(){}
         }
       }
    });
  });

  $('body').on('click', "#service_button_poweroff", function(e) {
    $.confirm({
        theme: 'bootstrap',
        title: '',
        content: '¿Seguro que desea parar el servicio?',
        buttons: {
           confirm: { text: 'Si', btnClass: 'btn-green', action: function(){
                     if((++load_wait)==1) $("#load-spinner").fadeIn();
                     $.post('/api/ERP/storesmanagers/vendingmachines/command/servicepoweroff/{{id}}', {},
                       function(data, status, xhr){
                         if((--load_wait)==0) $("#load-spinner").fadeOut();
                         if(data.result==1 && data.data.result==1){
                           $("#service_power").html(tag_off);
                           $("#service_power_buttons").html(button_onservice);
                           toastr.success("Comando enviado correctamente", "Confirmación", confirmation);
                         }else toastr.error("Ocurrio un error al intentar parar el servicio", "Confirmación", confirmation);
                       }
                     );
                  }
                  },
           cancel: { text: 'No', btnClass: 'btn-red', action: function(){}
         }
       }
    });
  });

  $('body').on('click', "#service_button_poweron", function(e) {
    $.confirm({
        theme: 'bootstrap',
        title: '',
        content: '¿Seguro que desea arrancar el servicio?',
        buttons: {
           confirm: { text: 'Si', btnClass: 'btn-green', action: function(){
                     if((++load_wait)==1) $("#load-spinner").fadeIn();
                     $.post('/api/ERP/storesmanagers/vendingmachines/command/servicepoweron/{{id}}', {},
                       function(data, status, xhr){
                         if((--load_wait)==0) $("#load-spinner").fadeOut();
                         if(data.result==1 && data.data.result==1){
                           $("#service_power").html(tag_on);
                           $("#service_power_buttons").html(button_resetservice+"&nbsp;&nbsp;"+button_offservice);
                           toastr.success("Comando enviado correctamente", "Confirmación", confirmation);
                         }else toastr.error("Ocurrio un error al intentar arrancar el servicio", "Confirmación", confirmation);
                       }
                     );
                  }

                  },
           cancel: { text: 'No', btnClass: 'btn-red', action: function(){}
         }
       }
    });
  });

  $('body').on('click', "#service_button_reset", function(e) {
    $.confirm({
        theme: 'bootstrap',
        title: '',
        content: '¿Seguro que desea reiniciar el servicio?',
        buttons: {
           confirm: { text: 'Si', btnClass: 'btn-green', action: function(){
                     if((++load_wait)==1) $("#load-spinner").fadeIn();
                     $.post('/api/ERP/storesmanagers/vendingmachines/command/servicereset/{{id}}', {},
                       function(data, status, xhr){
                         if((--load_wait)==0) $("#load-spinner").fadeOut();
                         if(data.result==1 && data.data.result==1){
                           toastr.success("Comando enviado correctamente", "Confirmación", confirmation);
                         }else toastr.error("Ocurrio un error al intentar reiniciar el servicio", "Confirmación", confirmation);
                       }
                     );
                  }

                  },
           cancel: { text: 'No', btnClass: 'btn-red', action: function(){}
         }
       }
    });
  });

});
</script>

{% block footer %}
<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{ url('index') }}js/jodit/jodit.min.css">

<!-- Imported scripts on this page -->
<script src="{{ url('index') }}js/datatables/datatables.js"></script>
<script src="{{ url('index') }}js/select2/select2.min.js"></script>
<script src="{{ url('index') }}js/moment.min.js"></script>
<script src="{{ url('index') }}js/moment-es.js"></script>
<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ url('index') }}js/fileinput.js"></script>
<script src="{{ url('index') }}js/ol/ol.js"></script>
<script src="{{ url('index') }}js/jodit/jodit.min.js"></script>
<script src="{{ url('index') }}js/jquery.nestable.js"></script>
{{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
