{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<meta name="author" content="" />
	
	{{ include('@Globale/header.html.twig') }}
{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container {% if userData.interfaceConfig.collapsedSidebar is defined and userData.interfaceConfig.collapsedSidebar %}sidebar-collapsed{% endif %}"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
			<!-- MAIN CONTENT -->
    <div class="principal-content">

      <div class="calendar-env">
      			<!-- Calendar Body -->
      			<div class="">
      				<div id="calendar"></div>
      			</div>
    	</div>


	<!-- MODALS  -->
</div>
		<!-- END MAIN CONTENT -->
	{{ include('@Globale/footer.html.twig') }}
	</div>
	{{ include('@Globale/chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('@Globale/chat_histories.html.twig') }}
</div>


{% block footer %}
  <link rel="stylesheet" href="{{ url('index') }}js/fullcalendar-2/fullcalendar.min.css">

	<!-- Imported scripts on this page -->
	<script src="{{ url('index') }}js/moment.min.js"></script>
	<script src="{{ url('index') }}js/moment-es.js"></script>

  <script src="{{ url('index') }}js/fullcalendar-2/fullcalendar.min.js"></script>
	<script src='{{ url('index') }}js/fullcalendar-2/lang/es.js'></script>
  <script src='{{ url('index') }}js/fullcalendar-2/tooltip.min.js'></script>

  <script>
  var fullCalendar = fullCalendar || {};
  var calendar;
  var calendarobj;

  ;(function($, window, undefined)
  {
    "use strict";

    $(document).ready(function(){
			var load_wait=0;
      fullCalendar.$container = $(".calendar-env");
      $.extend(fullCalendar, {
        isPresent: fullCalendar.$container.length > 0
      });

      //Container Height fit with the document
      if(fullCalendar.isPresent){
        fullCalendar.$sidebar = fullCalendar.$container.find('.calendar-sidebar');
        fullCalendar.$body = fullCalendar.$container.find('.calendar-body');

        // Checkboxes
        var $cb = fullCalendar.$body.find('table thead input[type="checkbox"], table tfoot input[type="checkbox"]');
        $cb.on('click', function(){
          $cb.attr('checked', this.checked).trigger('change');
          calendar_toggle_checkbox_status(this.checked);
        });
        // Highlight
        fullCalendar.$body.find('table tbody input[type="checkbox"]').on('change', function(){
          $(this).closest('tr')[this.checked ? 'addClass' : 'removeClass']('highlight');
        });

        // Setup Calendar
        if($.isFunction($.fn.fullCalendar)){
          calendar = $('#calendar');
          calendarobj= calendar.fullCalendar({
            showNonCurrentDates: false,
            fixedWeekCount: false,
						eventSources: [],
            header: {
              left: 'title',
              right: 'year,month,prev,next'
            },
            defaultView: 'month',
            editable: true,
            firstDay: 1,
            height: 800,
            droppable: true,
            showNonCurrentDates: false,

            drop: function(date, allDay) {},
						eventClick: function(calEvent, jsEvent, view) {
					  },

            eventDidMount: function(info) {
                var tooltip = new Tooltip(info.el, {
                  title: info.event.extendedProps.title,
                  placement: 'top',
                  trigger: 'hover',
                  container: 'body'
                });
              },
						loading: function( isLoading, view ) {
	            if(isLoading) {//
	               if((++load_wait)==1) $("#load-spinner").fadeIn();
	            } else {
	               if((--load_wait)==0) $("#load-spinner").fadeOut();
	            }
        		},
            viewRender: function (element) {
              getCalendars();
            },
            eventRender: function (event, element, view) {
              element.find('.fc-title').html(event.title);
              element.find("div.fc-content").prepend("<img src='{{ url('index') }}api/user/"+event.user_id+"/getimage' class='img-circle' width='24' height='24'>");


            },
					  eventDrop:function( event, delta, revertFunc, jsEvent, ui, view ){},
						eventResize:function( event, delta, revertFunc, jsEvent, ui, view ) {}
          });

          $("#draggable_events li a").draggable({
            zIndex: 999,
            revert: true,
            revertDuration: 0
          }).on('click', function(){
            return false;
          });
        }
        else{
          alert("Please include full-calendar script!");
        }

        $("body").on('submit', '#add_event_form', function(ev){
          fit_calendar_container_height();
          return false;
        });
      }

			//Calendars load
			function getCalendars(){
				if((++load_wait)==1) $("#load-spinner").fadeIn();
        var tglCurrent = $('#calendar').fullCalendar('getDate');
        var start = new Date($('#calendar').fullCalendar('getView').start);
        var end = new Date($('#calendar').fullCalendar('getView').end);
        var from = start.getFullYear()+ "-" + ("0"+(start.getMonth()+1)).slice(-2)+"-"+("0" + start.getDate()).slice(-2);
        var to = end.getFullYear()+ "-" + ("0"+(end.getMonth()+1)).slice(-2)+"-"+("0" + end.getDate()).slice(-2);
        $('#calendar').fullCalendar('removeEvents');
        $.post('/api/HR/vacations/getevents', {"from":from, "to":to},
      		 function(data, status, xhr){
             if(data.result)
             $.each( data.data, function( key, val ) {
               $('#calendar').fullCalendar('renderEvent', val);
             });

           }).always(function() {
            if((--load_wait)==0) $("#load-spinner").fadeOut();
          });
			}


			$('#calendar-modal-new-event').on('shown.bs.modal', function() {
				replaceCheckboxes();
			});


		});
  })(jQuery);

  function fit_calendar_container_height(){
    if(fullCalendar.isPresent){
      if(fullCalendar.$sidebar.height() < fullCalendar.$body.height()){
        fullCalendar.$sidebar.height( fullCalendar.$body.height() );
      }else{
        var old_height = fullCalendar.$sidebar.height();
        fullCalendar.$sidebar.height('');
        if(fullCalendar.$sidebar.height() < fullCalendar.$body.height()){
          fullCalendar.$sidebar.height(old_height);
        }
      }
    }
  }

  function reset_calendar_container_height(){
    if(fullCalendar.isPresent){
      fullCalendar.$sidebar.height('auto');
    }
  }

  function calendar_toggle_checkbox_status(checked){
    fullCalendar.$body.find('table tbody input[type="checkbox"]' + (checked ? '' : ':checked')).attr('checked',  ! checked).click();
  }

  </script>
  {{ include('@Globale/bottom.html.twig') }}
	<script src="{{ url('index') }}js/selectboxit/jquery.selectBoxIt.min.js"></script>
	<script src="{{ url('index') }}js/typeahead.min.js"></script>
{% endblock %}
</body>
