{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<link rel="icon" href="images/favicon.ico">
	<meta name="author" content="" />
	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		{#}<h2>{{ interfaceName }}</h2>#}
		<!-- MAIN CONTENT -->
		<div class="principal-content">

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
							<label class="" for="form_workcenters">Centro de trabajo</label>
							<select class="form-control select2" name="form_workcenters" id="form_workcenters">
								<option value="0">Todos</option>
								{% for center in workcenters %}
									<option value="{{ center.id }}" {% if center.id == selectedWorkCenter %} selected {% endif %}>{{ center.name }}</option>
								{% endfor %}
							</select>
					</div>


					</script>
				</div>
				<div class="col-md-4">
					<div class="form-group">
							<label class="" for="form_departments">Departamento</label>
							<select class="form-control select2" name="form_departments" id="form_departments">
								<option value="0">Todos</option>
								{% for department in departments %}
									<option value="{{ department.id }}" {% if department.id == selectedDepartment %} selected {% endif %}>{{ department.name }}</option>
								{% endfor %}
							</select>
					</div>
				</div>
			</div>
			<div class="row">
				{% for clock in clocksList %}
				<a href="{{ url('formWorker', {'id':clock.workerid}) }}?tab=clocks">
					<div class=".col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12">
						<div id="clock-{{clock.workerid}}" class="tile-stats {% if clock.start is null or clock.end is not null %}tile-gray{% else %}tile-green{% endif %} clock-user-card" style="height: 220px;">
							<div class="icon"><i class="entypo-user"></i></div>
							<div class="num" id="worker-img-{{clock.workerid}}"><img src="{{url('getImage',{'id': clock.workerid, 'type': 'workers', 'size': 'thumb'}) }}" alt="" class="img-circle" width="80" height="80"/></div>
							<h3 style="font-size: 12px !important; text-align: center" id="worker-name-{{clock.workerid}}">{{clock.lastname}}, {{clock.name}}</h3>
							<p><span id="worker-start-label-{{clock.workerid}}"></span><b><span id="worker-start-{{clock.workerid}}">{{clock.start}}</span></b></p>
							<p><span id="worker-end-label-{{clock.workerid}}"></span><b><span id="worker-end-{{clock.workerid}}">{{clock.end}}</span></b> </p>
						</div>
					</div>
				</a>
				{% endfor %}
      </div>
		</div>
		<script>
		$(document).ready(function() {
			var flagRefresh=true;
			$("select").select2();

			$('#form_workcenters').on('change', function() {
				location.href=location.pathname+"?workcenter="+this.value+"&department="+$("#form_departments").val();
			});
			$('#form_departments').on('change', function() {
				location.href=location.pathname+"?workcenter="+$("#form_workcenters").val()+"&department="+this.value;
			});
			clocksRefresh();

			window.setInterval(function(){
				if(flagRefresh){
					flagRefresh=false;
					clocksRefresh();
				}
			}, 10000);
			function clocksRefresh(){
				$.getJSON("{{url('clocksstatuslist')}}", function( data ) {
					 $.each( data, function( key, val ) {
						 if(val.start==null || val.end!=null){
							 if(val.vacation || val.sickleave || val.holliday || val.must_work){
								$("#worker-start-label-"+val.workerid).text('');
								$("#worker-end-label-"+val.workerid).text('');
								if(val.vacation){
									if(!$("#clock-"+val.workerid).hasClass('tile-aqua')){$("#clock-"+val.workerid).removeClass('blink'); $("#clock-"+val.workerid).addClass('blink');}
									$("#clock-"+val.workerid).addClass('tile-aqua'); $("#clock-"+val.workerid).removeClass('tile-red'); $("#clock-"+val.workerid).removeClass('tile-green'); $("#clock-"+val.workerid).removeClass('tile-gray'); $("#clock-"+val.workerid).removeClass('tile-primary');
									$("#worker-start-"+val.workerid).text('Vacaciones');
									$("#worker-end-"+val.workerid).html('&nbsp;');

								}else{
									if(val.sickleave){
										if(!$("#clock-"+val.workerid).hasClass('tile-tile-primary')){$("#clock-"+val.workerid).removeClass('blink'); $("#clock-"+val.workerid).addClass('blink');}
										$("#clock-"+val.workerid).addClass('tile-tile-primary'); $("#clock-"+val.workerid).removeClass('tile-red'); $("#clock-"+val.workerid).removeClass('tile-green'); $("#clock-"+val.workerid).removeClass('tile-gray'); $("#clock-"+val.workerid).removeClass('tile-aqua');
										$("#worker-start-"+val.workerid).text('Baja laboral');
										$("#worker-end-"+val.workerid).html('&nbsp;');
									}else{
										if(val.holliday){
											if(!$("#clock-"+val.workerid).hasClass('tile-aqua')) {$("#clock-"+val.workerid).removeClass('blink'); $("#clock-"+val.workerid).addClass('blink');}
											$("#clock-"+val.workerid).addClass('tile-aqua'); $("#clock-"+val.workerid).removeClass('tile-red'); $("#clock-"+val.workerid).removeClass('tile-green'); $("#clock-"+val.workerid).removeClass('tile-gray');$("#clock-"+val.workerid).removeClass('tile-primary');
											$("#worker-start-"+val.workerid).text('Festivo:');
											$("#worker-end-"+val.workerid).text(val.holliday_name);
										}else{
											if(val.must_work){
												if(!$("#clock-"+val.workerid).hasClass('tile-red')){$("#clock-"+val.workerid).removeClass('blink'); $("#clock-"+val.workerid).addClass('blink');}
												$("#clock-"+val.workerid).addClass('tile-red'); $("#clock-"+val.workerid).removeClass('tile-aqua'); $("#clock-"+val.workerid).removeClass('tile-green'); $("#clock-"+val.workerid).removeClass('tile-gray');$("#clock-"+val.workerid).removeClass('tile-primary');
												$("#worker-start-"+val.workerid).text('Horario previsto:');
												$("#worker-end-"+val.workerid).text(val.must_work_start+" - "+val.must_work_end);
											}
										}
									}
								}
							 }else{
								if(!$("#clock-"+val.workerid).hasClass('tile-gray')) {$("#clock-"+val.workerid).removeClass('blink'); $("#clock-"+val.workerid).addClass('blink');}
								$("#clock-"+val.workerid).addClass('tile-gray'); $("#clock-"+val.workerid).removeClass('tile-green'); $("#clock-"+val.workerid).removeClass('tile-aqua');$("#clock-"+val.workerid).removeClass('tile-primary');
								$("#worker-start-"+val.workerid).text((val.start!=null)?val.start:'Sin entrada registrada');
								$("#worker-end-"+val.workerid).text((val.end!=null)?val.end:'Sin salida registrada');
								$("#worker-start-label-"+val.workerid).text('');
								$("#worker-end-label-"+val.workerid).text('');
							 }
						 	}else{
								$("#worker-start-label-"+val.workerid).text('Entrada: ');
								$("#worker-end-label-"+val.workerid).text('Salida: ');
								if(!$("#clock-"+val.workerid).hasClass('tile-green')) {$("#clock-"+val.workerid).removeClass('blink'); $("#clock-"+val.workerid).addClass('blink');}
								$("#clock-"+val.workerid).addClass('tile-green'); $("#clock-"+val.workerid).removeClass('tile-gray'); $("#clock-"+val.workerid).removeClass('tile-aqua');
								$("#worker-start-"+val.workerid).text((val.start!=null)?val.start:'Sin entrada registrada');
								$("#worker-end-"+val.workerid).text((val.end!=null)?val.end:'Sin salida registrada');
							}

					 });
				}).always(function() {
					flagRefresh=true;
				});
			}
		});
		</script>
		<!-- END MAIN CONTENT -->
		{{ include('@Globale/footer.html.twig') }}
	</div>
	{{ include('@Globale/chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('@Globale/chat_histories.html.twig') }}
</div>
	<!-- MODALS  -->
	{% if forms is defined %}
		{% for form in forms %}
		  {% set formConstructor = form %}
			{{ include('@Globale/genericajaxform.html.twig') }}
		{% endfor %}
	{% endif %}

	<!-- END MODALS -->
{% block footer %}

	<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
	<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
	<!-- Imported scripts on this page -->
	<script src="{{ url('index') }}js/datatables/datatables.js"></script>
	<script src="{{ url('index') }}js/select2/select2.min.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
