<div class="row">
	<!-- Profile Info and Notifications -->
	<div class="col-md-6 col-sm-8 clearfix">
		<ul class="user-info pull-left pull-none-xsm">
			<!-- Profile Info -->
			<li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->

				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<img src="{{ url('index') }}api/user/{{userData.id}}/getimage" alt="" class="img-circle" width="44" />
					<input type="hidden" id="mails-url" value="{{ url('emailView', {'id': '_____'}) }}" />
					{{ userData.name }} {{ userData.firstname }}
				</a>

				<ul class="dropdown-menu">

					<!-- Reverse Caret -->
					<li class="caret"></li>

					<!-- Profile sub-links -->
					<li>
						<a href="#">
							<i class="entypo-user"></i>
							Editar perfil
						</a>
					</li>

					<li>
						<a href="#">
							<i class="entypo-mail"></i>
							Bandeja de Entrada
						</a>
					</li>

					<li>
						<a href="#">
							<i class="entypo-calendar"></i>
							Calendario
						</a>
					</li>

					<li>
						<a href="#">
							<i class="entypo-clipboard"></i>
							Tareas
						</a>
					</li>
				</ul>
			</li>

		</ul>

		<ul class="user-info pull-left pull-right-xs pull-none-xsm">

			<!-- Raw Notifications -->
			<li class="notifications dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-attention"></i>
					<span id="notifications-count" class="badge badge-info">0</span>
				</a>
				<input type="hidden" id="notification-last" name="notification-last" value="">
				<ul class="dropdown-menu">
					<li class="top">
						<p class="small">
							<a id="notifications-readall" href="#" class="pull-right">Marcar todas como leidas</a>
							Tienes <strong id="notifications-count-long">0</strong> notificaciones nuevas.
						</p>
					</li>
					<li>
						<ul id="notifications-list" class="dropdown-menu-list scroller">

						</ul>
					</li>
					<li class="external">
						<a href="{{ url('notifications') }}">Ver todas las notificaciones</a>
					</li>
				</ul>
			</li>

			<!-- Message Notifications -->
			<li class="notifications dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-mail"></i>
					<span id="header-mail-count" class="badge badge-secondary">0</span>
				</a>
				<input type="hidden" id="email-last" name="email-last" value="">
				<ul class="dropdown-menu">
					<li>
						<form class="top-dropdown-search">

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar correo electrónico" name="s" />
							</div>

						</form>

						<ul id="email-header-list" class="dropdown-menu-list scroller">

						</ul>
					</li>

					<li class="external">
						<a href="{{url('email')}}">Todos los mensajes</a>
					</li>
				</ul>

			</li>

			<!-- Task Notifications -->
			<li class="notifications dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-list"></i>
					<span class="badge badge-warning">0</span>
				</a>

				<ul class="dropdown-menu">
					<li class="top">
						<p>Tienes 0 tareas pendientes</p>
					</li>

					<li>
						<ul class="dropdown-menu-list scroller">

						</ul>
					</li>

					<li class="external">
						<a href="#">Ver todas las tareas</a>
					</li>
				</ul>

			</li>

		</ul>

	</div>


	<!-- Raw Links -->
	<div class="col-md-6 col-sm-4 clearfix hidden-xs">

		<ul class="list-inline links-list pull-right">

			{{ include('language.html.twig') }}

			<li class="sep"></li>


			{# <li>
				<a href="#" data-toggle="chat" data-collapse-sidebar="1">
					<i class="entypo-chat"></i>
					Chat

					<span class="badge badge-success chat-notifications-badge is-hidden">0</span>
				</a>
			</li>

			<li class="sep"></li> #}

			<li>
				<a href="{{ url('index') }}logout">
					Log Out <i class="entypo-logout right"></i>
				</a>
			</li>
		</ul>

	</div>
</div>
