{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />
	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		{#}<h2>{{ interfaceName }}</h2>#}
		<!-- MAIN CONTENT -->
		<div class="row">
		    <div style="text-align: right;" class="col-md-12">
		      <button attr-id="" attr-action="" id="document-button-cancel" type="button" class="btn btn">Cancelar</button>
		      <button attr-id="" attr-action="" id="document-button-save" type="button" class="btn btn-green">Guardar</button>
		    </div>
		</div>
		<br/>
			<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; padding:0px; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2">
							<div class="input-group">
								<input type="text" id="customer-form-code" class="form-control" placeholder="Cod. Cliente">
									<div class="input-group-btn">
										<button type="button" id="customer-search-button" class="btn btn-white" style="height: 31px;" data-toggle="modal" data-target="#customer-search-modal-form">
											 	<i class="fa fa-search"></i> </button>
									</div>
							</div>
						</div>
						<input type="hidden" id="customer-form-id" class="form-control">
						<input type="hidden" id="customer-form-taxexempt" value="false" class="form-control">
						<input type="hidden" id="customer-form-surcharge" value="false" class="form-control">
						<div class="col-md-6"> <div class="form-group">
							<span id="customer-form-view" class="select2-selection__view_nolabel" style="" attr-id=0 attr-url="{{ url('formAERPCustomer',{'id':'_____'}) }}"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>&nbsp;Ver Ficha</span></span>
							<script>
							$('body').on('click', "#customer-form-view", function(e){
								var id=$(this).attr("attr-id");
									if(id!=0 && id!=""){
										url=$(this).attr("attr-url");
										url=url.replace('_____',$(this).attr("attr-id"));
										var win = window.open(url, '_blank');
										win.focus();
									}
							});
							</script>
							<input type="text" id="customer-form-name" class="form-control" placeholder="Nombre cliente" disabled> </div> </div>
						<div class="col-6 col-md-2"> <div class="form-group"> <input type="text" id="customer-form-vat" class="form-control" placeholder="CIF" disabled> </div> </div>
						<div class="col-6 col-md-2"> <div class="form-group">
						<input type="hidden" id="customer-form-customergroup" class="form-control">
						<select type="text" id="customer-form-customergroup-select"  class="form-control select2">

							{% for option in customerGroups %}
								<option value="{{ option.id }}">{{ option.text }}</option>
							{% endfor %}

						</select>
						</div> </div>
					</div>
				</div>
			</div>

			<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; padding:0px; margin-bottom: -1px;"><!-- to apply shadow add class "panel-shadow" -->
				<div class="panel-body">
					<div class="row">
						<div class="col-6 col-sm-2"> <div class="input-group"> <span class="input-group-addon"><i class="fa fa-hashtag"></i></span><input type="hidden" id="document-form-id" class="form-control"><input type="text" id="document-form-code" class="form-control" placeholder="N. Documento" disabled> </div></div>
						<div class="col-6 col-sm-2"> <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span> <input type="text" id="document-form-date" class="form-control datepicker" style="z-index:99 !important;" placeholder="Fecha" value="{{ date }}"></div></div>
						<div class="col-6 col-sm-2"> <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span> <input type="text" id="document-form-dateofferend" class="form-control datepicker" style="z-index:99 !important;" placeholder="Fin oferta" value="{{ enddate }}"></div></div>
						<div class="col-6 col-sm-2"> <div class="input-group"> <span class="input-group-addon"><i class="fa fa-hashtag"></i></span> <input type="text" id="document-form-customercode" class="form-control" placeholder="Su referencia"> </div> </div>
						<div class="col-6 col-sm-2"> <div class="form-group">
							<select type="text"  id="document-form-series-select" class="form-control select2">
								{% for option in series %}
									<option value="{{ option.id }}">{{ option.text }}</option>
								{% endfor %}
							</select>
						</div> </div>
						<div class="col-6 col-sm-2"> <div class="form-group">
							<input type="hidden" id="customer-form-paymentmethod" class="form-control">
							<select type="text" id="customer-form-paymentmethod-select" class="form-control select2">
								{% for option in paymentMethods %}
									<option value="{{ option.id }}">{{ option.text }}</option>
								{% endfor %}
							</select>
						</div> </div>

					</div>
				</div>
			</div>

			<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none;min-height:200px"><!-- to apply shadow add class "panel-shadow" -->
				<div class="panel-body" style="padding: 0px !important;" id="document-lines" attr-numlines="1">

					<div class="row no-gutters documents-products-header">
						<div class="col-sm-2 d-none d-sm-block">Cod. Producto</div>
						<div class="col-sm-3 d-none d-sm-block">Descripción</div>
						<div class="col-sm-1 d-none d-sm-block">Precio</div>
						<div class="col-sm-1 d-none d-sm-block">Cantidad</div>
						<div class="col-sm-1 d-none d-sm-block">Dto.</div>
						<div class="col-sm-1 d-none d-sm-block">IVA</div>
						<div class="col-sm-1 d-none d-sm-block">R.E.</div>
						<div class="col-sm-2 d-none d-sm-block">Subtotal</div>
					</div>

					<div class="row no-gutters" attr-id="1" id="document-line-1">
						<div class="col-2 d-block d-sm-none" style="top: 8px;">Cod. Prod.</div>
						<div class="col-10 col-sm-2">
							<div class="form-group" style="margin-bottom: 0px;">
								<div class="input-group" >
									<a class="btn btn-white" attr-id="1" id="product-form-remove-1" style="position: absolute;height: 31px;left: 0px;padding: 9px 7px;z-index: 10;" href="#"> <i class="fa fa-remove"></i></a>
									<input type="hidden" attr-id="1" id="product-form-id-1"><input type="text" attr-id="1" id="product-form-code-1" class="form-control" style="padding-left: 28px; border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cod. Producto">
									<div class="input-group-btn"><button type="button" attr-id="1" id="product-search-button-1" class="btn btn-white" style="height: 31px; border-radius: 0px;"><i class="fa fa-search"></i> </button></div>
								</div>
							</div>
						</div>
						<div class="col-2 d-block d-sm-none" style="top: 8px;">Nombre</div>
						<div class="col-10 col-sm-3"> <div class="form-group" style="margin-bottom: 0px;"> <input type="text" id="product-form-name-1" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Nombre"> </div> </div>
						<div class="col-2 d-block d-sm-none" style="top: 8px;">Precio</div>
						<div class="col-4 col-sm-1"> <div class="form-group" style="margin-bottom: 0px;"> <span class="input__unity_nolabel "><span>€</span></span><input type="text" attr-id="1" id="product-form-price-1" class="recalculate form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Precio"> </div> </div>
						<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Cantidad</div>
						<div class="col-4 col-sm-1"> <div class="form-group" style="margin-bottom: 0px;"> <input type="hidden" attr-id="1" value=0 id="product-form-base-total-1"><input type="text" attr-id="1" id="product-form-quantity-1" class="recalculate form-control number-type" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cantidad" value=1> </div> </div>
						<div class="col-2 d-block d-sm-none" style="top: 8px;">Dto.</div>
						<div class="col-4 col-sm-1"> <div class="form-group" style="margin-bottom: 0px;"> <span class="input__unity_nolabel "><span>%</span></span><input type="hidden" attr-id="1" id="product-form-disccount-total-1"><input type="text" attr-id="1" id="product-form-disccount-1" class="recalculate form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Dto" value=0> </div> </div>
						<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">IVA</div>
						<div class="col-4 col-sm-1"> <div class="form-group" style="margin-bottom: 0px;"> <span class="input__unity_nolabel "><span>%</span></span><input type="hidden" attr-id="1" id="product-form-tax-total-1"><input type="text" attr-id="1" id="product-form-tax-1" class="recalculate form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="IVA"> </div> </div>
						<div class="col-2 d-block d-sm-none" style="top: 8px;">R.E.</div>
						<div class="col-4 col-sm-1"> <div class="form-group" style="margin-bottom: 0px;"> <span class="input__unity_nolabel "><span>%</span></span><input type="hidden" attr-id="1" value=0  id="product-form-surcharge-perc-1"><input type="hidden" attr-id="1" id="product-form-surcharge-total-1"><input type="text" attr-id="1" id="product-form-surcharge-1" class="recalculate form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Recargo" value=0> </div> </div>
						<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Subtotal</div>
						<div class="col-4 col-sm-2"> <div class="form-group" style="margin-bottom: 0px;"> <span class="input__unity_nolabel "><span>€</span></span><input type="text" attr-id="1" id="product-form-amount-1" class="form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="TOTAL" disabled value=0></div> </div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none;"><!-- to apply shadow add class "panel-shadow" -->
				<div class="panel-body" style="padding: 0px !important;" id="document-totals" attr-numlines="1">
					<div class="row">
						<div class="col-4 col-sm-2">
							<div class="form-group">
								<label for="totals_form_amount">Importe</label>
								<span id="unity-view-formProducts-price" class="input__unity"><span>€</span></span>
								<input type="text" id="totals_form_amount" maxlength="150" class="number-type input_parent__unity form-control" value=0 disabled>
							</div>
						</div>
						<div class="col-4 col-sm-2">
							<div class="form-group">
								<label for="totals_form_dto">Descuento</label>
								<span id="unity-view-formProducts-price" class="input__unity"><span>€</span></span>
								<input type="text" id="totals_form_dto" maxlength="150" class="number-type input_parent__unity form-control" value=0 disabled>
							</div>
						</div>
						<div class="col-4 col-sm-2">
							<div class="form-group">
								<label for="totals_form_tax">Total IVA</label>
								<span id="unity-view-formProducts-price" class="input__unity"><span>€</span></span>
								<input type="text" id="totals_form_tax" maxlength="150" class="number-type input_parent__unity form-control" value=0 disabled>
							</div>
						</div>
						<div class="col-4 col-sm-2">
							<div class="form-group">
								<label for="totals_form_surcharge">Total R.E.</label>
								<span id="unity-view-formProducts-price" class="input__unity"><span>€</span></span>
								<input type="text" id="totals_form_surcharge" maxlength="150" class="number-type input_parent__unity form-control" value=0 disabled>
							</div>
						</div>
						<div class="col-4 col-sm-2">
							<div class="form-group">
								<label for="totals_form_irpf">IRPF</label>
								<span id="unity-view-formProducts-price" class="input__unity"><span>€</span></span>
								<input type="text" id="totals_form_irpf" maxlength="150" class="number-type input_parent__unity form-control" value=0 disabled>
							</div>
						</div>
						<div class="col-4 col-sm-2">
							<div class="form-group">
								<label for="totals_form_total">TOTAL</label>
								<span id="unity-view-formProducts-price" class="input__unity"><span>€</span></span>
								<input type="text" id="totals_form_total" maxlength="150" class="number-type input_parent__unity form-control" value=0 disabled>
							</div>
						</div>

					</div>
				</div>
			</div>

		<!-- MODALS  -->
		{% if forms is defined %}
			{% for form in forms %}
			  {% set formConstructor = form %}
				{{ include('@Globale/genericajaxform.html.twig') }}
			{% endfor %}
		{% endif %}


		<div class="modal fade" tabindex="-1" id="customer-search-modal-form" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
						<div class="modal-header">
							<h4 class="modal-title">{{ ('Search')|trans }}&nbsp;{{ ('customer')|trans }}</h4>
						</div>
		        <div id="customer-search-modal-form-body" style="height: 520px; padding: 0px 10px;">
							{% set listConstructor = customerslist %}
							{% set listOrigin = "" %}
							{# for know if list.html is invoked directly from controller and we need to make modals inside list#}
							{{ include('@Globale/list.html.twig') }}
		        </div>
				</div>
			</div>
		</div>

		<div class="modal fade" tabindex="-1" id="product-search-modal-form" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
						<div class="modal-header">
							<h4 class="modal-title">{{ ('Search')|trans }}&nbsp;{{ ('productos')|trans }}</h4>
						</div>
						<div id="product-search-modal-form-body" style="height: 520px; padding: 0px 10px;">
							{% set listConstructor = productslist %}
							{% set listOrigin = "" %}
							{# for know if list.html is invoked directly from controller and we need to make modals inside list#}
							{{ include('@Globale/list.html.twig') }}
						</div>
				</div>
			</div>
		</div>
		{{ include("@Globale/form_fields_type_number.html.twig") }}
		<script>


			function addDocumentLine(){
				var documentLines=$("#document-lines");
				var numLines=parseInt(documentLines.attr("attr-numlines"))+1;
				documentLines.append(''+
				'<div class="row no-gutters" attr-id="'+numLines+'" id="document-line-'+numLines+'">'+
				'<div class="col-12 d-block d-sm-none" style="height: 15px;">&nbsp;</div>'+
				'<div class="col-2 d-block d-sm-none" style="top: 8px;">Cod. Prod.</div>'+
				'	<div class="col-10 col-md-2">'+
				'		<div class="form-group" style="margin-bottom: 0px;">'+
				'			<div class="input-group" >'+
				'				<a class="btn btn-white" attr-id="'+numLines+'" id="product-form-remove-'+numLines+'" style="position: absolute;height: 31px;left: 0px;padding: 9px 7px;z-index: 10;" href="#"> <i class="fa fa-remove"></i></a>'+
				'				<input type="hidden" attr-id="'+numLines+'" id="product-form-id-'+numLines+'"><input type="text" attr-id="'+numLines+'" id="product-form-code-'+numLines+'" class="form-control" style="padding-left: 28px; border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cod. Producto">'+
				'				<div class="input-group-btn"><button type="button" attr-id="'+numLines+'" id="product-search-button-'+numLines+'" class="btn btn-white" style="height: 31px; border-radius: 0px;"><i class="fa fa-search"></i> </button></div>'+
				'			</div>'+
				'		</div>'+
				'	</div>'+
				' <div class="col-2 d-block d-sm-none" style="top: 8px;">Nombre</div>'+
				'	<div class="col-10 col-md-3"> <div class="form-group" style="margin-bottom: 0px;"> <input type="text" id="product-form-name-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Nombre"> </div> </div>'+
				' <div class="col-2 d-block d-sm-none" style="top: 8px;">Precio</div>'+
				'	<div class="col-4 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"> <span id="unity-view-formProducts-price" class="input__unity_nolabel "><span>€</span></span><input type="text" attr-id="'+numLines+'" id="product-form-price-'+numLines+'" class="recalculate form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Precio"> </div> </div>'+
				' <div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Cantidad</div>'+
				'	<div class="col-4 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"> <input type="hidden" attr-id="1" value=0 id="product-form-base-total-'+numLines+'"><input type="text" attr-id="'+numLines+'" value=1 id="product-form-quantity-'+numLines+'" class="recalculate form-control number-type" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cantidad"> </div> </div>'+
				' <div class="col-2 d-block d-sm-none" style="top: 8px;">Dto.</div>'+
				'	<div class="col-4 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"> <span id="unity-view-formProducts-price" class="input__unity_nolabel "><span>%</span></span><input type="hidden" attr-id="1" value=0 id="product-form-disccount-total-'+numLines+'"><input type="text" attr-id="'+numLines+'" id="product-form-disccount-'+numLines+'" value=0 class="recalculate form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Dto"> </div> </div>'+
				' <div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">IVA</div>'+
				'	<div class="col-4 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"> <span id="unity-view-formProducts-price" class="input__unity_nolabel "><span>%</span></span><input type="hidden" attr-id="1" value=0 id="product-form-tax-total-'+numLines+'"><input type="text" attr-id="'+numLines+'" id="product-form-tax-'+numLines+'" value=21 class="recalculate form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="IVA"> </div> </div>'+
				' <div class="col-2 d-block d-sm-none" style="top: 8px;">R.E.</div>'+
				'	<div class="col-4 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"> <span id="unity-view-formProducts-price" class="input__unity_nolabel "><span>%</span></span><input type="hidden" attr-id="1" value=0  id="product-form-surcharge-perc-'+numLines+'"><input type="hidden" attr-id="1" value=0  id="product-form-surcharge-total-'+numLines+'"><input type="text" attr-id="'+numLines+'" id="product-form-surcharge-'+numLines+'" value=0 class="recalculate form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Recargo"> </div> </div>'+
				' <div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Subtotal</div>'+
				'	<div class="col-4 col-md-2"> <div class="form-group" style="margin-bottom: 0px;"> <span id="unity-view-formProducts-price" class="input__unity_nolabel "><span>€</span></span><input type="text" attr-id="'+numLines+'" id="product-form-amount-'+numLines+'" value=0 class="form-control number-type input_parent__unity" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="TOTAL" disabled> </div> </div>'+
				'</div>');
				documentLines.attr("attr-numlines", numLines);
			}

			function removeDocumentLine(numLine){
				var documentLines=$("#document-lines");
				var numLines=parseInt(documentLines.attr("attr-numlines"));
				if(numLines!=numLine){
					 $("#document-line-"+numLine).remove();
					 documentLines.attr("attr-numlines",numLines);
					 numerateLines();
				}
			}

			function recalculateDocument(){
				var i=0;
				var documentLines=$("#document-lines");
				$("[id^='document-line-']").each(function() {
					productSearch($(this).attr("attr-id"), $("#product-form-code-"+$(this).attr("attr-id")).val(), productFields, productSearchfields);
				});
			}

			function numerateLines(){
				var i=0;
				var documentLines=$("#document-lines");
				$("[id^='document-line-']").each(function() {
						i++;
						$("#product-form-id-"+$(this).attr("attr-id")).attr("attr-id",i);
						$("#product-form-id-"+$(this).attr("attr-id")).attr("id","product-form-id-"+i);
						$("#product-form-code-"+$(this).attr("attr-id")).attr("attr-id",i);
						$("#product-form-code-"+$(this).attr("attr-id")).attr("id","product-form-code-"+i);
						$("#customer-search-button-"+$(this).attr("attr-id")).attr("id","customer-search-button-"+i);
						$("#product-form-name-"+$(this).attr("attr-id")).attr("id","product-form-name-"+i);
						$("#customer-search-button-"+$(this).attr("attr-id")).attr("id","customer-search-button-"+i);
						$("#product-form-price-"+$(this).attr("attr-id")).attr("id","product-form-price-"+i);
						$("#product-form-quantity-"+$(this).attr("attr-id")).attr("id","product-form-quantity-"+i);
						$("#product-form-base-total-"+$(this).attr("attr-id")).attr("id","product-form-base-total-"+i);
						$("#product-form-disccount-"+$(this).attr("attr-id")).attr("id","product-form-disccount-"+i);
						$("#product-form-disccount-total-"+$(this).attr("attr-id")).attr("id","product-form-disccount-total-"+i);
						$("#product-form-tax-"+$(this).attr("attr-id")).attr("id","product-form-tax-"+i);
						$("#product-form-tax-total-"+$(this).attr("attr-id")).attr("id","product-form-tax-total-"+i);
						$("#product-form-surcharge-"+$(this).attr("attr-id")).attr("id","product-form-surcharge-"+i);
						$("#product-form-surcharge-total-"+$(this).attr("attr-id")).attr("id","product-form-surcharge-total-"+i);
						$("#product-form-amount-"+$(this).attr("attr-id")).attr("id","product-form-amount-"+i);
						$("#product-form-remove-"+$(this).attr("attr-id")).attr("attr-id",i);
						$("#product-form-remove-"+$(this).attr("attr-id")).attr("id","product-form-remove-"+i);
						$(this).attr('attr-id',i);
						$(this).attr('id','document-line-'+i);
				});
				documentLines.attr("attr-numlines", i);
			}

			function calculateDocumentRow(id){
				var price=parseFloat($("#product-form-price-"+id).val());
				var quantity=parseFloat($("#product-form-quantity-"+id).val());
				var disccount=parseFloat($("#product-form-disccount-"+id).val());
				var tax=parseFloat($("#product-form-tax-"+id).val());
				var surcharge=parseFloat($("#product-form-surcharge-"+id).val());
				price=isNaN(price)?0:price;
				var subtotal=price*quantity;
				$("#product-form-base-total-"+id).val(subtotal);
				var disccounttotal=subtotal*disccount/100;
				subtotal=(subtotal-disccounttotal).toFixed(2);
				var taxtotal=(subtotal*tax/100).toFixed(2);
				var surchargetotal=(subtotal*surcharge/100).toFixed(2);
				var total=parseFloat(subtotal)+parseFloat(taxtotal)+parseFloat(surchargetotal);
				$("#product-form-disccount-total-"+id).val(disccounttotal);
				$("#product-form-tax-total-"+id).val(taxtotal);
				$("#product-form-surcharge-total-"+id).val(surchargetotal);
				$("#product-form-amount-"+id).val(total.toFixed(2));
				calculateDocumentTotals();
			}

			function calculateDocumentTotals(){
				var base=0;
				var taxtotal=0;
				var surchargetotal=0;
				var disccounttotal=0;
				var total=0;
				$("[id^='product-form-base-total-']").each(function() {	base+=parseFloat($(this).val()); });
				$("[id^='product-form-disccount-total-']").each(function() {	disccounttotal+=parseFloat($(this).val()); });
				$("[id^='product-form-tax-total-']").each(function() {	taxtotal+=parseFloat($(this).val()); });
				$("[id^='product-form-surcharge-total-']").each(function() {	surchargetotal+=parseFloat($(this).val()); });
				$("[id^='product-form-amount-']").each(function() {	total+=parseFloat($(this).val()); });
				$("#totals_form_amount").val(base.toFixed(2));
				$("#totals_form_dto").val(disccounttotal.toFixed(2));
				$("#totals_form_tax").val(taxtotal.toFixed(2));
				$("#totals_form_surcharge").val(surchargetotal.toFixed(2));
				$("#totals_form_total").val(total.toFixed(2));

			}

			var customerFields=["customer-form-id","customer-form-code","customer-form-vat","customer-form-name", "customer-form-customergroup", "customer-form-paymentmethod", "customer-form-taxexempt", "customer-form-surcharge"];
			var customerSearchfields=["id","code","vat","name", "customergroup", "paymentmethod", "taxexempt", "surcharge"];

			var productFields=["product-form-id","product-form-code","product-form-name","product-form-price","product-form-tax", "product-form-surcharge-perc"];
			var productSearchfields=["id","code","name","price","tax","surcharge"];

			function clearFields(fields){
				fields.forEach(function(element) {
					$("#"+element).val('');
				});
			}

			function postCustomerSearch(){
				$("#customer-form-customergroup-select").val($("#customer-form-customergroup").val());
				$("#customer-form-customergroup-select").select2().trigger('change');
				$("#customer-form-paymentmethod-select").val($("#customer-form-paymentmethod").val());
				$("#customer-form-paymentmethod-select").select2().trigger('change');
				$("#customer-form-view").attr("attr-id", $("#customer-form-id").val());
				recalculateDocument();
			}

			function customerSearch(fields, searchFields){
				if($("#customer-form-code").val()!=""){
					if((++load_wait)==1) $("#load-spinner").fadeIn();
		      $.ajax({
		         url: '{{ url('genericsearch',{'module':'AERP', 'name':'Customers', 'field':'code'}) }}/'+$("#customer-form-code").val(),
		         type: 'POST',
		         data: JSON.stringify(searchFields),
		         success:  function( data ) {
							 if((--load_wait)==0) $("#load-spinner").fadeOut();
		           if(data.result){
								 var i=0;
								 Object.entries(data.data).forEach(function(element) {
									 $("#"+fields[i]).val(element[1]);
									 i++;
								 });
								 postCustomerSearch();
		           } else {
								 clearFields(fields);
								 toastr.error("No se encontro el cliente introducido", "Confirmación", confirmation);
							 }
		         }
		       });
			 	}else clearFields(fields);
			}

			function postProductSearch(id){
				if($("#customer-form-surcharge").val()=="true") $("#product-form-surcharge-"+id).val($("#product-form-surcharge-perc-"+id).val()); else $("#product-form-surcharge-"+id).val(0);
				calculateDocumentRow(id);
			}

			function productSearch(id, val, fields, searchFields){
				if(val!=""){
					if((++load_wait)==1) $("#load-spinner").fadeIn();
		      $.ajax({
		         url: '{{ url('productsearch',{'field':'code'}) }}/'+val+'/'+$("#customer-form-customergroup-select").val(),
		         type: 'POST',
		         data: JSON.stringify(searchFields),
		         success:  function( data ) {
							 if((--load_wait)==0) $("#load-spinner").fadeOut();
		           if(data.result){
								 var i=0;
								 Object.entries(data.data).forEach(function(element) {
									 $("#"+fields[i]+"-"+id).val(element[1]);
									 i++;
								 });
								 postProductSearch(id);
		           } else {
								 clearFields(fields);
								 //toastr.warning("No se encontro el producto introducido", "Confirmación", confirmation);
							 }
		         }
		       });
				 }else clearFields(fields);
			}

			$(document).ready(function() {
					{{ include('@Globale/form_fields_datetime.html.twig') }}

					{# CUSTOMER SEARCH #}
					$('body').on('keypress', "#customer-form-code", function(e) {
							var code = e.keyCode || e.which;
							 if(code == 13) {
							   customerSearch(customerFields, customerSearchfields);
							 }
						});

					$('body').on('change', "#customer-form-code", function(e) {
						   customerSearch(customerFields, customerSearchfields);
					});

					$('body').on('click', "[id^='listCustomers-field-button-select-']", function(e) {
						$("#customer-form-code").val($(this).parent().parent().parent().children('td').eq(1).text());
						$("#customer-form-code").trigger('change');
						$("#customer-search-modal-form").modal('toggle');
					});

					$('body').on('dblclick', "#listCustomers tr", function(e) {
						$("#customer-form-code").val($(this).children('td').eq(1).text());
						$("#customer-form-code").trigger('change');
						$("#customer-search-modal-form").modal('toggle');
					});

					$('body').on('change', "#customer-form-customergroup-select", function(e) {
						recalculateDocument();
					});

					{# PRODUCT SEARCH #}
					$('body').on('click', "[id^='product-search-button-']", function(e) {
						$("#product-search-modal-form").attr("attr-id",$(this).attr("attr-id"));
						$("#product-search-modal-form").modal('show');
					});

					$('body').on('keypress', "[id^='product-form-code-']", function(e) {
							var code = e.keyCode || e.which;
							 if(code == 13) {
								 productSearch($(this).attr("attr-id"), $(this).val(), productFields, productSearchfields);
							 }
						});
					$('body').on('change', "[id^='product-form-code-']", function(e) {
							 productSearch($(this).attr("attr-id"), $(this).val(), productFields, productSearchfields);
					});

					$('body').on('click', "[id^='listProducts-field-button-select-']", function(e) {
						$("#product-form-code-"+$("#product-search-modal-form").attr("attr-id")).val($(this).parent().parent().parent().children('td').eq(1).text());
						$("#product-form-code-"+$("#product-search-modal-form").attr("attr-id")).trigger('change');
						$("#product-search-modal-form").modal('toggle');
					});

					$('body').on('dblclick', "#listProducts tr", function(e) {
						$("#product-form-code-"+$("#product-search-modal-form").attr("attr-id")).val($(this).children('td').eq(1).text());
						$("#product-form-code-"+$("#product-search-modal-form").attr("attr-id")).trigger('change');
						$("#product-search-modal-form").modal('toggle');
					});

					$('body').on('change', "[id^='product-form-code-']", function(e) {
						if($(this).attr("attr-id")==$("#document-lines").attr("attr-numlines")){
							$("#product-form-remove-"+$(this).attr("attr-id")).show();
							addDocumentLine();
						}
					});

					$('body').on('focus', "[id^='product-search-button-']", function(e) {
							$("#product-form-name-"+$(this).attr("attr-id")).focus();
					});

					$('body').on('click', "[id^='product-form-remove-']", function(e) {
						removeDocumentLine($(this).attr('attr-id'));
					});

					$('body').on('change', "[id^='product-form-']", function(e) {
						if($(this).hasClass("recalculate")){
							calculateDocumentRow($(this).attr("attr-id"));
						}
					});


					{# DOCUMENT SAVE #}
					var documentFields = new Object();
					var lines=[];
					$('body').on('click', "#document-button-save", function(e) {

						documentFields.id=$("#document-form-id").val();
						documentFields.code=$("#document-form-code").val();
						documentFields.date=$("#document-form-date").val();
						documentFields.serie=$("#document-form-series-select").val();
						documentFields.paymentmethod=$("#customer-form-paymentmethod-select").val();
						documentFields.dateofferend=$("#document-form-dateofferend").val();
						documentFields.customercode=$("#document-form-customercode").val();
						documentFields.customerid=$("#customer-form-id").val();
						documentFields.customergroup=$("#customer-form-customergroup-select").val();

						$("[id^='document-line-']").each(function() {
							var line = new Object();
							line.id=$("#product-form-id-"+$(this).attr("attr-id")).val();
							line.code=$("#product-form-code-"+$(this).attr("attr-id")).val();
							line.unitprice=$("#product-form-price-"+$(this).attr("attr-id")).val();
							line.quantity=$("#product-form-quantity-"+$(this).attr("attr-id")).val();
							line.disccountperc=$("#product-form-disccount-"+$(this).attr("attr-id")).val();
							line.disccountunit=$("#product-form-disccount-total-"+$(this).attr("attr-id")).val();
							line.taxperc=$("#product-form-tax-"+$(this).attr("attr-id")).val();
							line.taxunit=$("#product-form-tax-total-"+$(this).attr("attr-id")).val();
							line.surchargeperc=$("#product-form-surcharge-"+$(this).attr("attr-id")).val();
							line.surchargeunit=$("#product-form-surcharge-total-"+$(this).attr("attr-id")).val();
							line.subtotal=$("#product-form-base-total-"+$(this).attr("attr-id")).val();
							line.total=$("#product-form-amount-"+$(this).attr("attr-id")).val();
							lines.push(line);
						});
						documentFields.lines=lines;
						console.log(JSON.stringify(documentFields));

						$.ajax({
			         url: '{{ url('dataAERPSalesBudgets', {"id": id}) }}',
			         type: 'POST',
			         data: JSON.stringify(documentFields),
			         success:  function( data ) {
								 if((--load_wait)==0) $("#load-spinner").fadeOut();
			           if(data.result){
									 toastr.success("Documento guardado correctamente", "Confirmación", confirmation);

			           } else {
									 toastr.error("No se pudo guardar el documento", "Confirmación", confirmation);
								 }
			         }
			       });

					 });

			});

		</script>

<!-- END MODALS -->
{% block footer %}

<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
<!-- Imported scripts on this page -->
<script src="{{ url('index') }}js/datatables/datatables.js"></script>
<script src="{{ url('index') }}js/select2/select2.min.js"></script>
<script src="{{ url('index') }}js/moment.min.js"></script>
<script src="{{ url('index') }}js/moment-es.js"></script>
<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ url('index') }}js/fileinput.js"></script>
<script src="{{ url('index') }}js/ol/ol.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
