
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />
	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>Ups! Error {{ status_text }}</title>

<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

	<div class="main-content" style="text-align: center;">
		<img src="/images/logo_axiom.png">
		<hr />

		<!-- MAIN CONTENT -->
    <h1>¡Ups! Ocurrió un error inesperado</h1>
    <h2>El servidor respondió con  "{{ status_code }} {{ status_text }}".</h2>

    <div>
        Algo no ha funcionado bien. Siempre intentamos mejorar, por ello le agradeceriamos que nos comente como ha ocurrido.
        Intentaremos solucionarlo lo antes posible. Disculpe las molestias que le hayamos podido causar.
    </div>
		<!-- END MAIN CONTENT -->

	</div>

</div>
	<!-- MODALS  -->
	<!-- END MODALS -->
{% block footer %}
	<link rel="stylesheet" href="{{ url('index') }}css/font-icons/font-awesome/css/font-awesome.min.css">
	<!-- Imported scripts on this page -->
		<script src="{{ url('index') }}js/bootstrap-switch.min.js"></script>
		<script src="{{ url('index') }}/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
		<script src="{{ url('index') }}/js/jquery.sparkline.min.js"></script>
		<script src="{{ url('index') }}/js/rickshaw/vendor/d3.v3.js"></script>
		<script src="{{ url('index') }}/js/rickshaw/rickshaw.min.js"></script>
		<script src="{{ url('index') }}/js/raphael-min.js"></script>
		<script src="{{ url('index') }}/js/morris.min.js"></script>
		<script src="{{ url('index') }}/js/toastr.js"></script>
		<script src="{{ url('index') }}/js/neon-chat.js"></script>
{% endblock %}
</body>
