{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<meta name="author" content="" />
	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>

<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container {% if userData.interfaceConfig.collapsedSidebar is defined and userData.interfaceConfig.collapsedSidebar %}sidebar-collapsed{% endif %}"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		<!-- MAIN CONTENT -->
		<div style="min-height: 75%">
			<div class="grid-stack">
				{% for widget in widgets %}
		  		{{ include('@Widgets/' ~ widget.widget.name ~ '.html.twig') }}
		  	{% endfor %}
	 		</div>
			<div class="grid-stack">
				{{ include('@Widgets/widget_add.html.twig') }}
			</div>
		</div>
		<script type="text/javascript">
		$(function () {
			var options = {
				animate: true,
				draggable: {
						handle: '.widget-move',
				}
			};
	    $('.grid-stack').gridstack(options);
			$('.grid-stack').on('dragstop', function (event, ui) {
				var layout=GetLayout();
				$.ajax({
				   type: "POST",
				   data: {layout:layout},
				   url: "{{ url('updatelayout') }}",
				});
			});

			function GetLayout() {
				var positions = [];
				$('.grid-stack-item.ui-draggable').each(function () {
    			var $this = $(this);
					var node = $this.data('_gridstack_node');
			    positions.push({
							id: $this.attr('data-id'),
							x:  node.x,
							y:  node.y,
							w:  node.w,
							h:  node.h
			    });
				});
				return positions;
			}

			$('body').on('click', '[id^="remove-widget-"]', function(){
				var id_item=$(this).attr("attr-id");
				$.ajax({
				   type: "POST",
				   data: {id:id_item},
				   url: "{{ url('deletewidget') }}",
					 success:function(data) {
							$('.grid-stack').data('gridstack').remove_widget($("#widget-item-"+id_item));
      				//$("#widget-item-"+id_item).remove();
    			 }
				});
			});

			$('body').on('click', '[id^=config-widget-]', function(){
				var id_item=$(this).attr("attr-id");
				var widget=$(this).attr("attr-widget");
				url="{{ url('widgetdata',{'id':'_____', 'widget':'__2__'}) }}";
				url=url.replace('_____',id_item);
				url=url.replace('__2__',widget);
				$.post(url, null,
					function(data, status, xhr){
							$("#"+id_item+"-modal-form-body").html(data);
							$("#"+id_item+"-modal-form-body").find(':checkbox').not($('[id$=-chkall]')).iCheck({checkboxClass: 'icheckbox_flat-blue', radioClass: 'iradio_flat-blue'});
							$("#"+id_item+"-modal-form-body select").select2();
							$("#"+id_item+"-modal-form").modal();
					});
				$('#'+id_item+'-modal-form').modal();
			});

		});
		</script>

		<!-- END MAIN CONTENT -->
		{{ include('@Globale/footer.html.twig') }}
	</div>
	{{ include('@Globale/chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('@Globale/chat_histories.html.twig') }}
</div>
	<!-- MODALS  -->
	<!-- END MODALS -->
{% block footer %}
    {{ include('@Globale/bottom.html.twig') }}
	<link rel="stylesheet" href="{{ url('index') }}css/font-icons/font-awesome/css/font-awesome.min.css">
	<!-- Imported scripts on this page -->
		<script src="{{ url('index') }}js/bootstrap-switch.min.js"></script>
		<script src="{{ url('index') }}/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
		<script src="{{ url('index') }}/js/jquery.sparkline.min.js"></script>
		<script src="{{ url('index') }}/js/rickshaw/vendor/d3.v3.js"></script>
		<script src="{{ url('index') }}/js/rickshaw/rickshaw.min.js"></script>
		<script src="{{ url('index') }}/js/raphael-min.js"></script>
		<script src="{{ url('index') }}/js/morris.min.js"></script>
		<script src="{{ url('index') }}/js/toastr.js"></script>
		<script src="{{ url('index') }}/js/neon-chat.js"></script>

		<script type="text/javascript" src='{{ url('index') }}js/gridstack/lodash.js'></script>
		<link rel="stylesheet" href="{{ url('index') }}js/gridstack/gridstack.min.css" />
		<script type="text/javascript" src='{{ url('index') }}js/jquery.ui.touch-punch.min.js'></script>
		<script type="text/javascript" src='{{ url('index') }}js/gridstack/gridstack.min.js'></script>
		<script type="text/javascript" src='{{ url('index') }}js/gridstack/gridstack.jQueryUI.min.js'></script>
		<link rel="stylesheet" href="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.css">
		<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker-es.js"></script>
		<script src="{{ url('index') }}js/datetimepicker/bootstrap-datetimepicker.min.js"></script>

{% endblock %}
</body>
