{# Field type Gallery #}
<div id="gallery" class="fotorama" style="margin-right: 14px;margin-top: 20px; height: 300px" data-height="300" data-maxheight="300" data-width="100%" data-maxwidth="100%" data-nav="thumbs" data-allowfullscreen="true">

</div>
<script>

function b64toBlob(b64Data, contentType, sliceSize) {
  contentType = contentType || '';
  sliceSize = sliceSize || 512;
  var byteCharacters = atob(b64Data);
  var byteArrays = [];
  for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
      var slice = byteCharacters.slice(offset, offset + sliceSize);
      var byteNumbers = new Array(slice.length);
      for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      byteArrays.push(byteArray);
  }
var blob = new Blob(byteArrays, {type: contentType});
return blob;
}

$(document).ready(function() {
//get images
$.post("/api/erp/product/getimages/{{formConstructor.id_object}}",
    function(data, status, xhr){
        if(data.result){
          if(data.images.length>0){
            var html='';
            data.images.forEach(function(valor, indice, array) {
                html+='<a href="'+valor.large+'"><img src="'+valor.thumb+'"></a>';
            });
            $("#gallery").html(html);
            $('.fotorama').fotorama();
        }

      }
  }, "json");



});

$('body').on('click', '#btn-image-save-{{field.name}}', function(){
  $('#fileinput-img-{{field.name}}').fadeOut();
  var url = "{{url("uploadImage",{"type":field.imageType, "id": formConstructor.id_object})}}";
  var image = $('#image-preview-{{field.name}}').find('img').attr('src');
  console.log(image);
  var block = image.split(";");
  var contentType = block[0].split(":")[1];
  var realData = block[1].split(",")[1];
  var blob = b64toBlob(realData, contentType);
  var formData = new FormData();
  formData.append('picture', blob);

  if((++load_wait)==1) $("#load-spinner").fadeIn();
  $.ajax({
      url: url,
      type: "POST",
      cache: false,
      contentType: false,
      processData: false,
      data: formData,
      error:function(err){
          $('#fileinput-img-{{field.name}}').fadeIn();
          toastr.error("No se pudo subir la imagen", "Confirmación", confirmation);
      },
      success:function(data){
          $('#fileinput-img-{{field.name}}').attr('src','{{ url(field.value,{'id': formConstructor.id_object, 'type': field.imageType, 'size': 'medium'}) }}?'+Date.now());
          $('#fileinput-{{field.name}}').fileinput("clear");
          if(data.result) toastr.success("Imagen cambiada correctamente", "Confirmación", confirmation);
      },
      complete:function(){
          if((--load_wait)==0) $("#load-spinner").fadeOut();
      }
    });
});


</script>
