
<div {% if formConstructor.name is defined %} id="{{formConstructor.name}}-form-body" {% endif %}>
{{ form_start(formConstructor.form) }}
  {% set counter = 1 %}
  {% if formConstructor.type is not defined or formConstructor.type != "modal" %}
  <div class="row">
    <div style="text-align: left;" class="col-md-6">
      {% if formConstructor.template.0.actionButtons is defined %}
        {{ include(formConstructor.template.0.actionButtons) }}
      {% endif %}
    </div>
    <div style="text-align: right;" class="col-md-6">
      <button attr-id="" attr-action="" id="{{formConstructor.name}}-button-cancel" type="button" class="btn btn">{{ ("Cancelar")|trans }}</button>
      <button attr-id="" attr-action="" id="{{formConstructor.name}}-button-save" type="button" class="btn btn-green">{{ ("Guardar")|trans }}</button>
    </div>
  </div>
  {% endif %}

  {{ include("@Globale/form_validation.html.twig") }}

  {% if include_pre_templates is defined %}
  	{% for template in include_pre_templates %}
  		{{ include(template) }}
  	{% endfor %}
  {% endif %}

  {% for section in formConstructor.template.0.sections %}

  <div class="panel minimal">
    <div class="panel-heading">
      <div class="panel-title">{{ (section.name)|trans }}</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <script>
        $(document).ready(function() {
          {{ include("@Globale/form_fields_datetime.html.twig") }}
        });
        </script>
      {% for field in section.fields %}
        <div class="col-md-{{ field.cols }}">
            {% if field.type is defined and field.type == 'image' %}
              {# Image component of the form #}
              {{ include("@Globale/form_fields_image.html.twig") }}
            {% elseif field.type is defined and field.type == 'gallery' %}
              {# Gallery component of the form #}
              {{ include("@Globale/form_fields_gallery.html.twig") }}
            {% elseif field.type is defined and field.type == 'file' %}
              values 2
            {% else %}
            {# Default component of the form #}

            {{ form_row(formConstructor.form[field.name]) }}
              {# Check if field is a relation and must show the view button #}
              {{ include("@Globale/form_relation_button.html.twig") }}
              {# Check if field is an address and map is enabled #}
              {{ include("@Globale/form_address_button.html.twig") }}
              {# Check if field is an url #}
              {{ include("@Globale/form_url_button.html.twig") }}
              {# Check if field is an tel #}
              {{ include("@Globale/form_tel_button.html.twig") }}
              {# Check if field is an email #}
              {{ include("@Globale/form_email_button.html.twig") }}
              {# Check if field has trigger #}
              {{ include("@Globale/form_trigger_field.html.twig") }}
              {# Check if field has a linked field #}
              {{ include("@Globale/form_fields_linked.html.twig") }}
              {# Check if field has a dependency of other field #}
              {{ include("@Globale/form_fields_depend.html.twig") }}
              {# Check if field has a to change another field #}
              {{ include("@Globale/form_fields_change.html.twig") }}
              {# Check if field has unity field #}
              {{ include("@Globale/form_fields_unity.html.twig") }}
              {# Check if field is an colour #}
              {{ include("@Globale/form_fields_colour.html.twig") }}
              {# Check if field has a field type number #}
              {{ include("@Globale/form_fields_type_number.html.twig") }}
              {# Check if field has a codeproduct #}
              {{ include("@Globale/form_fields_code_product.html.twig") }}
            {% endif %}
        </div>
        {% set counter = counter +1 %}
      {% endfor %}

      {% if formConstructor.post is defined %} <input type="hidden" id="post-url" name="post-url" value="{{ formConstructor.post }}"> {% endif %}
      <input type="hidden" id="id-object" name="id-object" value="{{ formConstructor.id_object }}">

      </div>

    </div>
  </div>
  {% endfor %}
  {% if include_post_templates is defined %}
  	{% for template in include_post_templates %}
  		{{ include(template) }}
  	{% endfor %}
  {% endif %}
  {# -------------  INCLUDES TEMPLATES -----------------#}
  {% set cloudConstructor = null %}
  {% if includes is defined %}
    {% for includeitem in includes %}
      {% if includeitem.vars is defined %}
        {% for keyitem,varitem in includeitem.vars %}
          {% if keyitem =="cloudConstructor" %}
              {% set cloudConstructor = varitem %}
          {% endif %}
        {% endfor %}
      {% endif %}
        {{ include(includeitem.template) }}
    {% endfor %}

  {% endif %}
  {# ----------------------------------------#}
  {% if formConstructor.type is not defined or formConstructor.type != "modal" %}
  <div class="row">
    <div style="text-align: right;" class="col-md-12">
      <button attr-id="" attr-action="" id="{{formConstructor.name}}-button-cancel-bottom" type="button" class="btn btn">{{ ("Cancelar")|trans }}</button>
      <button attr-id="" attr-action="" id="{{formConstructor.name}}-button-save-bottom" type="button" class="btn btn-green">{{ ("Guardar")|trans }}</button>
    </div>
  </div>
  {% endif %}
{{ form_end(formConstructor.form) }}
</div>
<script>

	$(document).ready(function() {

    $('body').on('click', "[id^='{{formConstructor.name}}-button-save']", function() {
          if($("#{{formConstructor.name}}-form-body").find('form').valid()){
            if((++load_wait)==1) $("#load-spinner").fadeIn();
            $.post($("#{{formConstructor.name}}-form-body").find('form').find('#post-url').val(), $("#{{formConstructor.name}}-form-body").find('form').serialize(),
                function(data, status, xhr){
                  if((--load_wait)==0) $("#load-spinner").fadeOut();
                  {{ include("@Globale/formvalidation.html.twig") }}

                  if(data.result){

                    {% if formConstructor.template.0.events.save is defined %}
                      {% for event in formConstructor.template.0.events.save %}
                        {{ event | raw }}(data.id);
                      {% endfor %}
                    {% endif %}

                    toastr.success("Datos guardados correctamente", "Confirmación", confirmation);
                    console.log(data);
                    if(data.reload) location.href=data.href;
                    $("#{{formConstructor.name}}-form-body").find('form').validate({ lang: 'es' }).resetForm();
                  } else toastr.error("Ocurrió un error al guardar los datos", "Confirmación", confirmation);
              }, "json");
            }
    });
    $('body').on('click', "[id^='{{formConstructor.name}}-button-cancel']", function() {
      window.history.back();
    });

    $(".wysiwyg").each(function() {
      new Jodit("#"+$(this).attr("id"),{});
    });

    //Avoid Enter Key Submit form
    $('body').on('keydown', 'form input', function(e) {
      if(e.keyCode  == 13) {
        e.preventDefault();
        return false;
      }
    });


  });
</script>

{# MODAL RELATIONS #}
<div class="modal fade" tabindex="-1" id="relation-modal-form" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">Ficha</h4>
				</div>
        <div id="relation-modal-form-body">
        </div>
				</br></br>
				<div id="calendar-modal-new-calendar-footer" class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{{ ("Close")|trans }}</button>
				</div>
			</div>
		</div>
	</div>
