{# Check if field is a relation and must show the view button #}
{% if field.relation.route is defined %}
  <script>
    $(document).ready(function() {
      $("#{{formConstructor.name}}-form-body").find("#form_{{ field.name }}").select2();
      $("#{{formConstructor.name}}-form-body").find("#form_{{ field.name }}").on("change", function (e) {
        var value=$(this).select2('data')[0]["element"]["className"];
        {% if field.relation.routeparams is not defined %}{% set routeparams = [] %}{% else %}{% set routeparams = field.relation.routeparams %}{% endif %}
        if(value!="") $(this).before("<span id='selection-view-{{formConstructor.name}}-{{ field.name }}' class='select2-selection__view' style='' attr-url='{{ url(field.relation.route, routeparams|merge({"id":'_____'})) }}'><i class='fa fa-file-text-o' aria-hidden='true'></i><span>&nbsp;Ver Ficha</span></span>");
          else $(this).parent().find(".select2-selection__view").remove();
      });

      $('body').on('click',"#selection-view-{{formConstructor.name}}-{{ field.name }}", function (e) {
        var value=$("#{{formConstructor.name}}-form-body").find("#form_{{ field.name }}").select2('data')[0]["element"]["className"];
        url=$(this).attr("attr-url");
        url=url.replace('_____',value);
          {% if field.relation.type=="full" %}
            var win = window.open(url, '_blank');
            win.focus();
          {% else %}
          $.post(url, null,
            function(data, status, xhr){
                $("#relation-modal-form-body").html(data);
                $("#relation-modal-form-body").find(':checkbox').not($('[id$=-chkall]')).iCheck({checkboxClass: 'icheckbox_flat-blue', radioClass: 'iradio_flat-blue'});
                $("#relation-modal-form-body select").select2();
                $("#relation-modal-form-body :input").attr("disabled", true);
                $("#relation-modal-form").modal();
            });
          {% endif %}
      });

      setTimeout(
      function(){
        var value=$("#{{formConstructor.name}}-form-body").find("#form_{{ field.name }}").select2('data')[0]["element"]["className"];
        if(value!="")
          {% if field.relation.routeparams is not defined %}{% set routeparams = [] %}{% else %}{% set routeparams = field.relation.routeparams %}{% endif %}
          $("#{{formConstructor.name}}-form-body").find("#form_{{ field.name }}").before("<span id='selection-view-{{formConstructor.name}}-{{ field.name }}' class='select2-selection__view' style='' attr-url='{{ url(field.relation.route, routeparams|merge({"id":'_____'})) }}'><i class='fa fa-file-text-o' aria-hidden='true'></i><span>&nbsp;Ver Ficha</span></span>");
          else $("#{{formConstructor.name}}-form-body").find("#form_{{ field.name }}").parent().find(".select2-selection__view").remove();
      }, 100);

    });
  </script>
{% endif %}
