<div {% if formConstructor.name is defined %} id="{{formConstructor.name}}-form-body" {% endif %}>
{{ form_start(formConstructor.form) }}
  {% set counter = 1 %}
  {% if formConstructor.type is not defined or formConstructor.type != "modal" %}
  <div class="row">
    <div style="text-align: right;" class="col-md-12">
      <button attr-id="" attr-action="" id="{{formConstructor.name}}-button-cancel" type="button" class="btn btn">{{ ("Cancelar")|trans }}</button>
      <button attr-id="" attr-action="" id="{{formConstructor.name}}-button-continue" type="button" class="btn btn-green">{{ ("Guardar")|trans }}</button>
    </div>
  </div>
  {% endif %}
  {% for section in formConstructor.template.0.sections %}

  <div class="panel minimal">
    <div class="panel-heading">
      <div class="panel-title">{{ (section.name)|trans }}</div>
    </div>
    <div class="panel-body">
      <div class="row">
      {% for field in section.fields %}
        <div class="col-md-{{ field.cols }}">
            {% if field.type is defined and field.type == 'image' %}
              {# Field type Image #}
                <div class="fileinput fileinput-new" data-provides="fileinput">
    							<div class="fileinput-new thumbnail" style="width: {{ field.width }}; height: {{ field.height }};" data-trigger="fileinput">
    								<img src="{#{{ _context[field.value] }}#} {{ url(field.value,{'id': '1'}) }}" alt="">
    							</div>
    							<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: {{ field.width }}; max-height: {{ field.height }}"></div>
    							<div>
    								<span class="btn btn-white btn-file">
    									<span class="fileinput-new">Seleccionar</span>
    									<span class="fileinput-exists">Cambiar</span>
    									<input type="file" id="form_{{field.name}}" name="form[{{field.name}}]" accept="image/*" class="form-control-file">
    								</span>
    								<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Cancel</a>
    							</div>
    						</div>
            {% elseif field.type is defined and field.type == 'file' %}
              values 2
            {% else %}
              {# Default component of the form #}
              {{ form_row(formConstructor.form[field.name]) }}
            {% endif %}
        </div>
        {% set counter = counter +1 %}
      {% endfor %}
      {% if formConstructor.post is defined %} <input type="hidden" id="post-url" name="post-url" value="{{ formConstructor.post }}"> {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% if formConstructor.type is not defined or formConstructor.type != "modal" %}
  <div class="row">
    <div style="text-align: right;" class="col-md-12">
      <button attr-id="" attr-action="" id="{{formConstructor.name}}-button-cancel" type="button" class="btn btn">{{ ("Cancelar")|trans }}</button>
      <button attr-id="" attr-action="" id="{{formConstructor.name}}-button-continue" type="button" class="btn btn-green">{{ ("Guardar")|trans }}</button>
    </div>
  </div>
  {% endif %}
{{ form_end(formConstructor.form) }}
</div>
<script>
	$(document).ready(function() {
    $('body').on('click', "#{{formConstructor.name}}-button-continue", function() {
          if($("#{{formConstructor.name}}-form-body").find('form').valid()){
            if((++load_wait)==1) $("#load-spinner").fadeIn();
            console.log($("#{{formConstructor.name}}-form-body").find('form').find('#post-url').val()+"\\"+$("#{{formConstructor.name}}-form-body").find('form').serialize())
            $.post($("#{{formConstructor.name}}-form-body").find('form').find('#post-url').val(), $("#{{formConstructor.name}}-form-body").find('form').serialize(),
                function(data, status, xhr){
                  if((--load_wait)==0) $("#load-spinner").fadeOut();
                  if(data.result){
                    //$("#tabs-list li").attr("attr-id",data.id);
                    toastr.success("Datos guardados correctamente", "Confirmación", confirmation);
                    if(data.reload) location.href=data.href;
                    $("#{{formConstructor.name}}-form-body").find('form').validate().resetForm();
                  }
                    else toastr.error("Ocurrió un error al guardar los datos", "Confirmación", confirmation);
              }, "json");
            }
    });
    $('body').on('click', "#{{formConstructor.name}}-button-cancel", function() {
      window.history.back();
    });
  });
</script>
