{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />
	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}
		{#}<h2>{{ interfaceName }}</h2>#}
		<!-- MAIN CONTENT -->
		<div class="principal-content">
			{% set listConstructor = lists[0] %}
			{% set listOrigin = "genericlist" %}
			{# for know if list.html is invoked directly from controller and we need to make modals inside list#}
			{{ include('@Globale/list.html.twig') }}
		</div>
		<!-- END MAIN CONTENT -->
		{{ include('@Globale/footer.html.twig') }}
	</div>
	{{ include('@Globale/chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('@Globale/chat_histories.html.twig') }}
</div>
	<!-- MODALS  -->
	{% if forms is defined %}
		{% for form in forms %}
		  {% set formConstructor = form %}
			{{ include('@Globale/genericajaxform.html.twig') }}
		{% endfor %}
	{% endif %}

	<!-- END MODALS -->
{% block footer %}

	<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
	<link rel="stylesheet" href="{{ url('index') }}css/custom.css">

	<!-- Imported scripts on this page -->
	<script src="{{ url('index') }}js/datatables/datatables.js"></script>
	<script src="{{ url('index') }}js/select2/select2.min.js"></script>
	<script src="{{ url('index') }}js/moment.min.js"></script>
	<script src="{{ url('index') }}js/moment-duration-format.min.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
