{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Axiom Business Management" />
	<meta name="author" content="" />
	{{ include('@Globale/header.html.twig') }}
	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{ url('index') }}/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{ url('index') }}/js/rickshaw/rickshaw.min.css">
{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container {% if userData.interfaceConfig.collapsedSidebar is defined and userData.interfaceConfig.collapsedSidebar %}sidebar-collapsed{% endif %}"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('@Globale/sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('@Globale/head.html.twig') }}
		<hr />
		{{ include('@Globale/breadcrumb.html.twig') }}

		<!-- MAIN CONTENT -->
		<div class="principal-content" id="principal-content">
			{% if form is defined %}
				{% set formConstructor = form %}
				{{ include('@Globale/form.html.twig') }}
			{% endif %}
		</div>
		<!-- END MAIN CONTENT -->
	{{ include('@Globale/footer.html.twig') }}
	</div>
	{{ include('@Globale/chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('@Globale/chat_histories.html.twig') }}
</div>
	<!-- MODALS  -->
<script>
		$(document).ready(function() {
			function readContent(){
				url="{{ route }}";
				if(url!=""){
					if((++load_wait)==1) $("#load-spinner").fadeIn();
					$.post(url, null,
						function(data, status, xhr){
							$("#principal-content").html(data);
							$("#principal-content").iCheck({checkboxClass: 'icheckbox_flat-blue', radioClass: 'iradio_flat-blue'});
							//$("#principal-content select").select();
							if((--load_wait)==0) $("#load-spinner").fadeOut();
					});
				}
			}
			{% if form is not defined %}
				readContent();
			{% endif %}
		});
		/*function showTabs(){
			$("#tabs-list li").each(function() {
				if($(this).attr("attr-id")>0){
					$(this).show();
					$("#tab-body-"+$(this).attr("attr-name")).show();
				}
			});
		}*/
	</script>
	{# MODAL LOCATIONS #}
	{{ include("@Globale/location.html.twig") }}
	<!-- END MODALS -->
{% block footer %}
	<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
	<link rel="stylesheet" href="{{ url('index') }}css/custom.css">
	<link rel="stylesheet" href="{{ url('index') }}js/ol/ol.css">
	<link rel="stylesheet" href="{{ url('index') }}js/jodit/jodit.min.css">
	<!-- Imported scripts on this page -->
 	<script src="{{ url('index') }}js/datatables/datatables.js"></script>
	<script src="{{ url('index') }}js/select2/select2.min.js"></script>
	<script src="{{ url('index') }}js/moment.min.js"></script>
	<script src="{{ url('index') }}js/moment-es.js"></script>
	<script src="{{ url('index') }}js/fileinput.js"></script>
	<script src="{{ url('index') }}js/ol/ol.js"></script>
 	<script src="{{ url('index') }}js/jodit/jodit.min.js"></script>
	 {{ include('@Globale/bottom.html.twig') }}
{% endblock %}
</body>
