<div class="modal fade" tabindex="-1" id="{{ form.id }}-modal-form" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">{{ (form.name)|trans }}</h4>
				</div>
        <div id="{{ form.id }}-modal-form-body">
          	{#{{ include('@Globale/form.html.twig') }}#}
        </div>
				</br></br>
				<div id="calendar-modal-new-calendar-footer" class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{{ ("Cancelar")|trans }}</button>
					<button attr-id="" attr-action="" id="{{ form.id }}-button-continue" type="button" class="btn btn-red">{{ ("Guardar")|trans }}</button>
				</div>
			</div>
		</div>
	</div>
