<div id="load-spinner" class="spinner-container">
	<div class="spinner">


		<div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-ellipsis"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div><style type="text/css">@keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.lds-ellipsis {
  position: relative;
}
.lds-ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.lds-ellipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: lds-ellipsis 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(1) div {
  -webkit-animation: lds-ellipsis2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #767676;
}
.lds-ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  background: #3ab54a;
}
.lds-ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
  background: #c8c8c8;
}
.lds-ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #8dc640;
}
.lds-ellipsis div:nth-child(5) div {
  -webkit-animation: lds-ellipsis3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #767676;
}
.lds-ellipsis {
  width: 90px !important;
  height: 90px !important;
  -webkit-transform: translate(-45px, -45px) scale(0.45) translate(45px, 45px);
  transform: translate(-45px, -45px) scale(0.45) translate(45px, 45px);
}
</style></div>



	</div>
</div>
<div class="row">
	<!-- Profile Info and Notifications -->
	<div class="col-md-6 col-sm-8 clearfix">
		<ul class="user-info pull-left pull-none-xsm">
			<!-- Profile Info -->
			<li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->

				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<img src="{{ url('index') }}api/user/{{userData.id}}/getimage" alt="" class="img-circle" width="44" />
					<input type="hidden" id="mails-url" value="{# {{ url('emailView', {'id': '_____'}) }} #}" />
					{{ userData.name }} {{ userData.firstname }}
				</a>

				<ul class="dropdown-menu">

					<!-- Reverse Caret -->
					<li class="caret"></li>

					<!-- Profile sub-links -->
					<li>
						<a href="{{ url('profile') }}">
							<i class="entypo-user"></i>
							Editar perfil
						</a>
					</li>

					<li>
						<a href="{{ url('email') }}">
							<i class="entypo-mail"></i>
							Bandeja de Entrada
						</a>
					</li>

					<li>
						<a href="{{ url('calendar') }}">
							<i class="entypo-calendar"></i>
							Calendario
						</a>
					</li>

					<li>
						<a href="#">
							<i class="entypo-clipboard"></i>
							Tareas
						</a>
					</li>
				</ul>
			</li>

		</ul>

		<ul class="user-info pull-left pull-right-xs pull-none-xsm">

			<!-- Raw Notifications -->
			<li class="notifications dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-attention"></i>
					<span id="notifications-count" class="badge badge-info">0</span>
				</a>
				<input type="hidden" id="notification-last" name="notification-last" value="">
				<ul class="dropdown-menu">
					<li class="top">
						<p class="small">
							<a id="notifications-readall" href="#" class="pull-right">Marcar todas como leidas</a>
							Tienes <strong id="notifications-count-long">0</strong> notificaciones nuevas.
						</p>
					</li>
					<li>
						<ul id="notifications-list" class="dropdown-menu-list scroller">

						</ul>
					</li>
					<li class="external">
						<a href="{{ url('notifications') }}">Ver todas las notificaciones</a>
					</li>
				</ul>
			</li>

			<!-- Message Notifications -->
			<li class="notifications dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-mail"></i>
					<span id="header-mail-count" class="badge badge-secondary">0</span>
				</a>
				<input type="hidden" id="email-last" name="email-last" value="">
				<ul class="dropdown-menu">
					<li>
						<form class="top-dropdown-search">

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar correo electrónico" name="s" />
							</div>

						</form>

						<ul id="email-header-list" class="dropdown-menu-list scroller">

						</ul>
					</li>

					<li class="external">
						<a href="{{url('email')}}">Todos los mensajes</a>
					</li>
				</ul>

			</li>

			<!-- Task Notifications -->
			<li class="notifications dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="entypo-list"></i>
					<span class="badge badge-warning">0</span>
				</a>

				<ul class="dropdown-menu">
					<li class="top">
						<p>Tienes 0 tareas pendientes</p>
					</li>

					<li>
						<ul class="dropdown-menu-list scroller">

						</ul>
					</li>

					<li class="external">
						<a href="#">Ver todas las tareas</a>
					</li>
				</ul>

			</li>

		</ul>

	</div>


	<!-- Raw Links -->
	<div class="col-md-6 col-sm-4 clearfix hidden-xs">

		<ul class="list-inline links-list pull-right">

			{{ include('@Globale/language.html.twig') }}

			<li class="sep"></li>


			{# <li>
				<a href="#" data-toggle="chat" data-collapse-sidebar="1">
					<i class="entypo-chat"></i>
					Chat

					<span class="badge badge-success chat-notifications-badge is-hidden">0</span>
				</a>
			</li>

			<li class="sep"></li> #}

			<li>
				<a href="{{ url('index') }}logout">
					Log Out <i class="entypo-logout right"></i>
				</a>
			</li>
		</ul>

	</div>
</div>
