<div class="history-element" id="history-element-comment-{{element.id}}" attr-id="{{element.id}}">
  <div class="history-element-user">
    <span><span><img src="/api/user/{{ element.user_id }}/getimage" class="img-circle" width="22">&nbsp;&nbsp;{{ element.user_name }} {{ element.user_lastname }}</span></span>
  </div>
  <div class="history-element-type">
    {% if history.userid == element.user_id %}
      <a attr-search="false" href="javascript:void(0)" style="font-size: 10px;margin-right: 5px" attr-id="{{element.id}}" id="button-edit-comment-{{element.id}}" type="button" class="btn tooltip-primary btn-primary">
      				 <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Editar
  		</a>
      <a attr-search="false" href="javascript:void(0)" style="font-size: 10px;margin-right: 20px" attr-id="{{element.id}}" id="button-remove-comment-{{element.id}}" type="button" class="btn tooltip-primary btn-primary">
        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Borrar
      </a>
    {% endif %}
    <i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;&nbsp;Comentario
  </div>
  <div class="history-element-timeago">{{ element.agodate }}</div>
  <div class="history-element-date">El {{ element.formateddate }} a las {{ element.formatedtime }}</div>
  <div class="history-element-content" id="history-element-content-{{element.id}}" style="color: #d9d9d9;">{{ element.comment|raw }}</div>
</div>
<div class="vl"></div>
