{% if (listConstructor.topButtons is defined and listConstructor.topButtons|length >0) or (listConstructor.topButtonReload is not defined or (listConstructor.topButtonReload is defined and listConstructor.topButtonReload == true)) %}
  <p>
  <div class="btn-group">
  {% for field in listConstructor.topButtons %}
    {% if userData.permissions[listConstructor.id ~ '_field_' ~ field.id] is not defined or (userData.permissions[listConstructor.id ~ '_field_' ~ field.id] is defined and userData.permissions[listConstructor.id ~ '_field_' ~ field.id].allowaccess == true) %}
        {% if field.actionType is defined and field.actionType=="background" %}
        <a style="font-size: 20px; {% if field.style is defined %} {{field.style}} {% endif %}" id="{{ field.id }}-top-button" type="button" class="btn tooltip-primary {{ field.type }}" {% if field.tooltip is defined and field.tooltip != "" %} data-toggle="tooltip" data-placement="bottom" title="" data-original-title=" {{ field.tooltip }} "{% endif %} {% if field.modal_title is defined %}modal_title="{{field.modal_title}}"{% else %}{% if field.modal is defined %}{{ (field.modal)|capitalize|trans }}{% endif %}{% endif %} {% if field.modal_save is defined %}modal_save="{{field.modal_save}}"{% endif %}>
          <i class="{{ field.icon }}"></i>
        </a>
        {% else %}
            {% set routeParams = [] %}
            {% if field.routeParams is defined %}
              {% for key,param in field.routeParams %}
                {% if _context[param] is defined %} {# Detect if parameter is a reference to a var or is a value #}
                  {% set routeParams = routeParams|merge({(key): _context[param]}) %}
                {% else %}
                  {% set routeParams = routeParams|merge({(key): param}) %}
                {% endif %}
              {% endfor %}
            {% endif %}

            <a attr-search="{% if field.addSearch is defined %}{{field.addSearch}}{% else %} false {% endif %}" attr-href="{% if field.route is defined and field.route|length %}{{ url(field.route, routeParams) }}{% endif %}" attr-target="{% if field.target is defined and field.target|length %}{{ field.target }}{% else %}_self{% endif %}" href="javascript:void(0);"
            style="font-size: 20px" id="{{ field.id }}-top-button-foreground" type="button" class="btn tooltip-primary {% if field.type is defined and field.type|length %}{{ field.type }}{% else %} btn-default {% endif %}" {% if field.tooltip is defined and field.tooltip != "" %} data-toggle="tooltip" data-placement="bottom" title="" data-original-title=" {{ field.tooltip }} " {% endif %} >
              <i class="{{ field.icon }}"></i>{{ field.name }}
            </a>
        {% endif %}
      {% endif %}
  {% endfor %}
  {% if listConstructor.topButtonReload is not defined or (listConstructor.topButtonReload is defined and listConstructor.topButtonReload == true) %}
    <a style="font-size: 20px" id="{{ listConstructor.id }}-reload-top-button" type="button" class="btn tooltip-primary btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Recargar listado">
      <i class="fas fa-sync"></i>
    </a>
    <script>
      $('body').on('click', "#{{ listConstructor.id }}-reload-top-button", function(event) {
        $("#{{ listConstructor.id }}").DataTable().ajax.reload();
      });
    </script>
  {% endif %}
  </div>
  </p>
{% endif %}
