<ul id="main-menu" class="main-menu">
	 {% for menuOption in menuOptions %}
	 				{% set routeparams=[] %}
	 				{% if menuOption.params!=null %} {% set routeparams = routeparams|merge(menuOption.params) %}{% endif %}
					{% set routeparamsSelected=[] %}
	 				{% if optionSelectedParams is defined and optionSelectedParams!=null %} {% set routeparamsSelected = routeparamsSelected|merge(optionSelectedParams) %}{% endif %}
					<li  attr-id="{{ menuOption.id }}" class="{% if menuOption.rute is not null and optionSelected is not null %} {% if path(optionSelected, routeparamsSelected) == path(menuOption.rute, routeparams) %}active{% endif %}{% endif %}">
					<a href="{% if menuOption.rute is not null %}{{ path(menuOption.rute, routeparams) }}{% endif %}">
						<i class="{{ menuOption.icon }}"></i>
						<span class="title">{{ (menuOption.name)|trans }}</span>
					</a>
					{% if menuOption.childs|length > 0 %}
					<ul>
					{% endif %}
				{% for menuOption_child in menuOption.childs %}
							{% set routeparams=[] %}
							{% if menuOption_child.params!=null %} {% set routeparams = routeparams|merge(menuOption_child.params) %}{% endif %}
							{% set routeparamsSelected=[] %}
			 				{% if optionSelectedParams is defined and optionSelectedParams!=null %} {% set routeparamsSelected = routeparamsSelected|merge(optionSelectedParams) %}{% endif %}
							<li attr-id="{{ menuOption_child.id }}" attr-parent="{{ menuOption.id }}" class="{% if menuOption_child.rute is not null and optionSelected is not null %} {% if path(optionSelected, routeparamsSelected) == path(menuOption_child.rute, routeparams) %}active{% endif %}{% endif %}">
							<a href="{% if menuOption_child.rute is not null %}{{ path(menuOption_child.rute, routeparams) }}{% endif %}">
								<i class="{{ menuOption_child.icon }}"></i>
								<span class="title">{{ (menuOption_child.name)|trans }}</span>
							</a>
						{% if menuOption_child.childs|length > 0 %}
						<ul>
						{% for menuOption_subchild in menuOption_child.childs %}
									{% set routeparams=[] %}
									{% if menuOption_subchild.params!=null %} {% set routeparams = routeparams|merge(menuOption_subchild.params) %}{% endif %}
									{% set routeparamsSelected=[] %}
					 				{% if optionSelectedParams is defined and optionSelectedParams!=null %} {% set routeparamsSelected = routeparamsSelected|merge(optionSelectedParams) %}{% endif %}
									<li attr-id="{{ menuOption_subchild.id }}" attr-parent="{{ menuOption_child.id }}" class="{% if menuOption_subchild.rute is not null and optionSelected is not null%} {% if path(optionSelected, routeparamsSelected) == path(menuOption_subchild.rute, routeparams) %}active{% endif %}{% endif %}">
									<a href="{% if menuOption_subchild.rute is not null %}{{ path(menuOption_subchild.rute, routeparams) }}{% endif %}">
										<i class="{{ menuOption_subchild.icon }}"></i>
										<span class="title">{{ (menuOption_subchild.name)|trans }}</span>
									</a>
								</li>
						{% endfor %}
					  </ul>
					{% endif %}
					</li>
				{% endfor %}
				{% if menuOption.childs|length > 0 %}
					</ul>
				{% endif %}
			</li>
	 {% endfor %}
 </ul>
 <script>
	$(document).ready(function() {
		$( "li[attr-id="+$('.active').attr('attr-parent')+"]" ).addClass('opened');
		$( ".active" ).parents("li").addClass("opened");
	});
 </script>

{# DISK QUOTA #}
{% if userData.diskusage is defined %}
<div id="disk-quota-summary" style="cursor: pointer; width: 99%;">
	<div class="tile-progress tile-default" style="bottom: 0px;">
		<div class="title menu-expanded" style="padding-bottom: 10px; padding-left:22px">
				<i class="fa fa-database"></i>
				<span class="title">Cloud ({{ userData.diskusage.space.value }} {{ userData.diskusage.space.unit }})</span>
		</div>
		<div class="title menu-collapsed" style="display:none; padding-bottom: 10px; padding-left: 21px;">
				<i class="fa fa-database"></i>
		</div>
		<div class="tile-progressbar">
		  		<span data-fill="{{ userData.diskusage.free_perc }}%" style="width: {{ userData.diskusage.free_perc }}%;"></span>
		</div>
		<div class="tile-footer" style="padding: 10px;">
			<h4>
				<span class="menu-expanded">{{ userData.diskusage.free_perc }}% ocupado</span>
			</h4>
			<span class="menu-expanded">{{ userData.diskusage.free.value }} {{ userData.diskusage.free.unit }} Libres</span>
			<span class="title menu-collapsed" style="display:none; text-align: center;">{{ userData.diskusage.space.value }} {{ userData.diskusage.space.unit }}</span>
		</div>
	</div>
</div>

{% endif %}
