<script>
$(document).ready(function() {
  {% for field in listConstructor.topButtons %}
    {% if field.actionType is defined and field.actionType=="background" %}
      //OPEN MODAL
      $('body').on('click', "#{{ field.id }}-top-button", function() {
          $.post('{{ url(field.route) }}', null,
            function(data, status, xhr){
              $("#{{field.modal}}-modal-form-body").html(data);
              $('#{{field.modal}}-modal-form input').iCheck({checkboxClass: 'icheckbox_flat-blue',radioClass: 'iradio_flat-blue'});
              $("#{{field.modal}}-modal-form").modal();
          });
      });

      $('body').on('click', "#{{ field.modal }}-button-continue", function() {
            if($("#{{field.modal}}-modal-form-body").find('form').valid()){
              if((++load_wait)==1) $("#load-spinner").fadeIn();
              $.post($("#{{field.modal}}-modal-form-body").find('form').find('#post-url').val(), $("#{{field.modal}}-modal-form-body").find('form').serialize(),
                  function(data, status, xhr){
                    if((--load_wait)==0) $("#load-spinner").fadeOut();
                    if(data.result){
                      if(typeof elements_reload === "function") elements_reload();
                      toastr.success("Datos guardados correctamente", "Confirmación", confirmation);
                      $("#{{ field.modal }}-modal-form").modal('hide');
                      $("#{{field.modal}}-modal-form-body").find('form').trigger("reset");
                      $("#{{field.modal}}-modal-form-body").find('form').validate({ lang: 'es' }).resetForm();
                    }
                      else toastr.error("Ocurrió un error al guardar los datos", "Confirmación", confirmation);
                }, "json");
              }
      });

    {% endif %}
  {% endfor %}
});
</script>
<!-- BUTTON ZONE -->
<p>
{% for field in listConstructor.topButtons %}
    <div class="btn-group">
      {% if field.actionType is defined and field.actionType=="background" %}
      <a style="font-size: 20px" id="{{ field.id }}-top-button" type="button" class="btn tooltip-primary {{ field.type }}" {% if field.tooltip is defined %} data-toggle="tooltip" data-placement="bottom" title="" data-original-title=" {{ field.tooltip }} {% endif %} ">
        <i class="{{ field.icon }}"></i>{{ field.name }}
      </a>
      {% else %}
          <a href="{% if field.route is defined and field.route|length %}{{ url(field.route) }}{% else %}javascript:void(0);{% endif %}" style="font-size: 20px" id="{{ field.id }}-top-button" type="button" class="btn tooltip-primary {{ field.type }}" {% if field.tooltip is defined %} data-toggle="tooltip" data-placement="bottom" title="" data-original-title=" {{ field.tooltip }} {% endif %} ">
            <i class="{{ field.icon }}"></i>{{ field.name }}
          </a>
      {% endif %}
    </div>
{% endfor %}
</p>
</br>
<!-- END BUTTONZONE -->
