<div class="row">
    <div style="text-align: right;" class="col-md-12">
      <button attr-id="" attr-action="" id="formuser-button-cancel" type="button" class="btn btn">Cancelar</button>
      <button attr-id="" attr-action="" id="formpermissions-button-save" type="button" class="btn btn-green">Guardar</button>
    </div>
</div>
<br/>
<div class="row">
{% for key, permission in permissions %}

		<div class="col-md-12">
			<div class="panel panel-default panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; padding:0px"><!-- to apply shadow add class "panel-shadow" -->
				<!-- panel head -->
				<div class="panel-heading" style="height: 34px;">
					<div class="panel-title"><bold>{{ key|trans }}</bold> - {{ permission.description }}</div>
					<div class="panel-options" style="padding: 0px 10px; margin-top: -7px;">
						<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
					</div>
				</div>
				<!-- panel body -->
				<div class="panel-body">
					{% for route in permission.routes %}
          <div class="form-group">
            <label for="field-4" class="col-sm-5 control-label">{{ route.description }}</label>
            <div class="col-sm-5">
							<select id="select-route-{{ route.route_id }}" attr-id="{{ route.route_id }}" class="form-control">
								<option value="1" {% if(route.allowaccess == 1) %} selected='selected' {% endif %}>{{ ('Allow access')|trans }}</option>
								<option value="0" {% if(route.allowaccess == 0) %} selected='selected' {% endif %}>{{ ('Deny access')|trans }}</option>
							</select>
							</div>
          </div>
          <br/><br/>
          {% endfor %}
				</div>
			</div>
		</div>

{% endfor %}
	</div>
  <br/>
  <div class="row">
      <div style="text-align: right;" class="col-md-12">
        <button attr-id="" attr-action="" id="formuser-button-cancel" type="button" class="btn btn">Cancelar</button>
        <button attr-id="" attr-action="" id="formpermissions-button-save" type="button" class="btn btn-green">Guardar</button>
      </div>
  </div>

<script>
  $(document).ready(function() {
    $('body').on('click', '#formpermissions-button-save', function() {
      var permissions=[];
      $("[id^=select-route-]").each(function( index ) {
        var permission={route:$(this).attr('attr-id'), value:$(this).val()}
        permissions.push(permission);

      });
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
         url: '{{ url('groupSetPermissions',{'id':id}) }}',
         type: 'POST',
         data: JSON.stringify(permissions),
         complete: function(){
           if((--load_wait)==0) $("#load-spinner").fadeOut();
         },
         success:  function( data ) {
           if(data.result){
             toastr.success("Datos guardados correctamente", "Confirmación", confirmation);
           } else toastr.error("Ocurrió un error al guardar los datos", "Confirmación", confirmation);
         }
       });



    });
  });
</script>
