{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico">
	{{ include('header.html.twig') }}

{% endblock %}
<title>{% block title %}{{ interfaceName }}{% endblock %}</title>
<body class="page-body" data-url="{{ url('indexAdmin') }}">
<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	{{ include('sidebar_menu.html.twig') }}
	<div class="main-content">
		{{ include('head.html.twig') }}
		<hr />
		{{ include('breadcrumb.html.twig') }}
		<h2>{{ interfaceName }}</h2>
		</br>
		<!-- MAIN CONTENT -->
		<script>
					$(document).ready(function(){


						$.getJSON('{{ url('emailGet', {'id': id}) }}', function( data ){
							$.getJSON(data.urlRead, function( data ){});
							$("#mail-content").html(data.content);
							$("#mail-subject").html(data.subject);
							$("#mail-from").html('<img src="{{ url('index') }}'+data.imgFrom+'" class="img-circle" width="30" /><span>'+data.from+'</span>');
							$("#mail-attachments-count").text(data.attachments.length);
								$.each( data.attachments, function(key,val){
									url=$("#mail-attachments").attr('attr-url');
									url=url.replace('_____',data.id)+"?file="+encodeURI(val.filename)+"&encoding="+val.encoding+"&part="+val.partno;
									$("#mail-attachments").append('<li><a href="'+url+'" class="thumb"><img width="75px" src="'+val.icon+'" class="img-rounded" /></a>'+
										'<a href="'+url+'" class="name">'+val.filename+'</a></li>');
								});
						});

						$.getJSON('{{ url('foldersList') }}', function( data ){
							$.each( data, function( keyAccount, valAccount ){
									$.each( valAccount, function( key, val ){
										var folder='<li attr-name="'+val.name+'" attr-url="{{ url('emailsFolderList', {'folder': '_____'}) }}" id="folder-email-list-'+val.name+'" '+((val.default==true)? 'class="active"' : '')+'><a href="{{url('email')}}?folder='+val.name+'"><span class="badge badge-gray pull-right">'+val.unseen+'</span>'+val.name+'</a></li>';
										$("#list-folders").append(folder);
									});
							});
						}).always(function() {
						});

						$('body').on('click', "[id^='folder-email-list-']", function() {
							url=$(this).attr('attr-url');
							url=url.replace('_____',$(this).attr('attr-name'));
							$("[id^='folder-email-list-']").removeClass('active');
							$(this).addClass('active');
							//getEmails(url,'');
						});
					});
		</script>
		<div class="mail-env">
					<!-- compose new email button -->
					<div class="mail-sidebar-row visible-xs">
						<a href="{{url('emailNew')}}" class="btn btn-success btn-icon btn-block">
							Redactar correo
							<i class="entypo-pencil"></i>
						</a>
					</div>

					<!-- Mail Body -->
					<div class="mail-body">

						<div class="mail-header">
							<!-- title -->
							<div id="mail-subject" class="mail-title">
							</div>

							<!-- links -->
							<div class="mail-links">

								<a href="#" class="btn btn-default">
									<i class="entypo-print"></i>
								</a>

								<a href="#" class="btn btn-default">
									<i class="entypo-trash"></i>
								</a>

								<a class="btn btn-primary btn-icon">
									Reply
									<i class="entypo-reply"></i>
								</a>

							</div>
						</div>

						<div class="mail-info">

							<div class="mail-sender dropdown">

								<a id="mail-from" href="#" class="dropdown-toggle" data-toggle="dropdown">

								</a>

								<ul class="dropdown-menu dropdown-red">

									<li>
										<a href="#">
											<i class="entypo-user"></i>
											Add to Contacts
										</a>
									</li>
									<li>
										<a href="#">
											<i class="entypo-menu"></i>
											Show other messages
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
											<i class="entypo-star"></i>
											Star this message
										</a>
									</li>
									<li>
										<a href="#">
											<i class="entypo-reply"></i>
											Responder
										</a>
									</li>
									<li>
										<a href="#">
											<i class="entypo-right"></i>
											Reenviar
										</a>
									</li>
								</ul>

							</div>

							<div class="mail-date">
								07:51 AM - 15 December
							</div>

						</div>

						<div id="mail-content" class="mail-text">


						</div>

						<div class="mail-attachments">
							<h4>
								<i class="entypo-attach"></i> Ficheros adjuntos <span id="mail-attachments-count"></span>
							</h4>
							<ul id="mail-attachments" attr-url="{{url('emailGetAttachment',{'id': '_____'})}}">
							</ul>

						</div>

						<div class="mail-reply">

							<div class="fake-form">
								<div>
									<a href="mailbox-compose.html">Responder</a> or <a href="mailbox-compose.html">Reenviar</a> este mensaje...
								</div>
							</div>

						</div>

					</div>

					<!-- Sidebar -->
					<div class="mail-sidebar">

						<!-- compose new email button -->
						<div class="mail-sidebar-row hidden-xs">
							<a href="mailbox-compose.html" class="btn btn-success btn-icon btn-block">
								Redactar correo
								<i class="entypo-pencil"></i>
							</a>
						</div>

						<!-- menu -->
						<ul id="list-folders" class="mail-menu">
							<!-- FOLDERS -->

							<!-- END FOLDERS -->
						</ul>

						<div class="mail-distancer"></div>

						<h4>Etiquetas</h4>

						<!-- menu -->
						<ul class="mail-menu">
							<!-- TAGS -->

							<!-- END TAGS -->
						</ul>

					</div>

				</div>

		<!-- END MAIN CONTENT -->
		{{ include('footer.html.twig') }}
	</div>
	{{ include('chat.html.twig') }}
	<!-- Chat Histories -->
	{{ include('chat_histories.html.twig') }}
</div>
	<!-- MODALS  -->
	<!-- END MODALS -->
{% block footer %}

	<link rel="stylesheet" href="{{ url('index') }}js/datatables/datatables.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="{{ url('index') }}js/select2/select2.css">
	<!-- Imported scripts on this page -->
 	<script src="{{ url('index') }}js/datatables/datatables.js"></script>
	<script src="{{ url('index') }}js/select2/select2.min.js"></script>
	 {{ include('bottom.html.twig') }}
{% endblock %}
</body>
